<div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12">
  
        <h2 class="text-center">Search Result</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-lg-3">    
        &nbsp;
        <!-- <input type="text" [attr.disabled]="searchText.length>0 ? 'disabled' : null" placeholder="texttt"> -->
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6">
        <div class="typeahead__container">
          <div class="typeahead__field">
            <div class="typeahead__query">
              <input class="js-typeahead-country_v1" name="searchText[query]" (keyup.enter)="search()" [(ngModel)]="searchText" type="search"
                placeholder="Search" autocomplete="off">
            </div>
            <div class="typeahead__button">
              <button type="button" (click)="search()">
                <i class="typeahead__search-icon"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-lg-3">
        &nbsp;
      </div>
    </div>
    <div class="row" *ngIf="responses.length==0">
      <div class="col-md-12 col-lg-12 col-sm-12">
        <p>No results found</p>
        <p>Search Tips:</p>
        <ul>
          <li>Check the spelling of your search terms</li>
          <li>Try using synonyms</li>
          <li>Try using fewer words or a piece of your search terms</li>
        </ul>
      </div>
    </div>
  
    <div *ngIf="responses.length > 0">
      <hr>
      <div class="row" *ngFor="let response of responses">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <a href="{{response}}">{{response.innerText}}</a>
        </div>
      </div>
    </div>
  </div>