<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>Traning Module Setup</h3>
    </div>
  </header>
</section>
<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <div class="">
        <form class="module-linking-form" [formGroup]="moduleLinkingForm" (submit)="fnSubmitForm()">
          <div class="col-sm-12 row">
            <div class="col-sm-6 col-md-4 col-lg-3git ">
              <mat-form-field class="column-full-width" appearance="outline">
                <mat-label>Module Name</mat-label>
                <mat-select placeholder="Module Name" formControlName="moduleId" (selectionChange)="fnChangeModuleName($event.value)">
                  <mat-option *ngFor="let m of moduleDDList" [value]="m.id">
                    {{ m.moduleName }}
                  </mat-option>
                </mat-select>
                <mat-error>
                  Module name is required.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <mat-form-field class="column-full-width" appearance="outline">
                <mat-label>Presentation Module Name</mat-label>
                <mat-select placeholder="Presentation Module Name" formControlName="presentationId" (selectionChange)="fnGetPresentationSlide($event.value)">
                  <mat-option *ngFor="let m of presentationDDList" [value]="m.id">
                    {{ m.title }}
                  </mat-option>
                </mat-select>
                <mat-error>
                  Presentation name is required.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <table class="table">
            <div formArrayName="subModuleInfo">
              <tr *ngFor="let formGroup of moduleLinkingForm.get('subModuleInfo')['controls']; let i=index">
                <div [formGroupName]="i">
                  <td>
                    <mat-form-field class="column-full-width" appearance="outline">
                      <mat-label>Sub-Module Name</mat-label>
                      <mat-select placeholder="Sub-Module Name" formControlName="subModuleId">
                        <mat-option *ngFor="let m of fnGetSubModuleDropdown(i)" [value]="m.id">
                          {{ m.moduleName }}
                        </mat-option>
                      </mat-select>
                      <mat-error>
                        Sub Module name is required.
                      </mat-error>
                    </mat-form-field>
                  </td>
                  <td>
                    <div>
                      <mat-form-field class="column-full-width" appearance="outline">
                        <mat-label>Start Slide No</mat-label>
                        <mat-select placeholder="Start Slide No" formControlName="startSlideSerialNo">
                          <mat-option *ngFor="let m of slideSerial" [value]="m.order">
                            Slide No {{ m.order }}
                          </mat-option>
                        </mat-select>
                        <mat-error>
                          Start slide number name is required.
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </td>
                  <td>
                    <div>
                      <mat-form-field class="column-full-width" appearance="outline">
                        <mat-label>End Slide No</mat-label>
                        <mat-select placeholder="End Slide No" formControlName="endSlideSerialNo">
                          <mat-option *ngFor="let m of slideSerial" [value]="m.order">
                            Slide No {{ m.order }}
                          </mat-option>
                        </mat-select>
                        <mat-error>
                          End slide number name is required.
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </td>
                  <td>
                    <div style="width: 90px;">
                      <button class="mr-2" type="button" mat-mini-fab color="warn" (click)="fnRemoveRecord(i)">x</button>
                      <button mat-mini-fab type="button" *ngIf="moduleLinkingForm.get('subModuleInfo')['controls'].length==(i+1)"
                        color="primary" (click)="add(i);">+</button>
                    </div>
                  </td>
                </div>
              </tr>

            </div>
          </table>
          <div class="row">
            <div class="col-12 ml-3">
              <button class="btn btn-sm btn-primary mr-1" [disabled]="moduleLinkingForm.invalid" type="submit"> Save</button>
              <button class="btn btn-sm btn-primary  mr-1" type="button" (click)="fnResetForm()"> Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-12">

      <div class="container">
        <div class="my-5">
          <!-- <h5>Area</h5> -->
          <div class="table-responsive">
            <table mat-table matSort [dataSource]="moduleSettingsData" class="table mat-elevation-z8" style="width: 100%; min-width: 500px;">
              <ng-container matColumnDef="sl">
                <th mat-header-cell *matHeaderCellDef> #SL </th>
                <td mat-cell *matCellDef="let row; let i = index" class="text-align:center"> {{i+1}} </td>
              </ng-container>
              <ng-container matColumnDef="moduleName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Module Name </th>
                <td mat-cell *matCellDef="let element"> {{element?.moduleName}} </td>
              </ng-container>
              <ng-container matColumnDef="presentationName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Presentation Name </th>
                <td mat-cell *matCellDef="let element"> {{element?.presentationName}} </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element; let row; let i = index">
                  <button type="button" class="btn btn-sm btn-primary mr-1" (click)='fnEditedit(element?.moduleId)'><i
                      class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                  <button type="button" class="btn btn-sm btn-danger mr-1" (click)='fnDelete(element?.moduleId)'><i
                      class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>