// Header
// --------------------------------------------------

.dashboard-header {
    z-index: 1000;
    min-height: 70px;
    font-size: rem(11px);
    transition: height .5s;
    background-color: #fff;
    
}
.icon-tie {
    width: 8px;
    opacity: 1;
    height: 22px;
    display: inline-block;
    background: url(#{$img-url}icon-tie.png) no-repeat;
    &:hover {
        opacity: 0.8;
    }
}

// ----------- dashboard-logo -------------
.dashboard-logo {
    display: flex;
    align-items: center;
    @include media-breakpoint-up(md) {
        @include target-ie {
            min-height: 70px;
        }
    }
    .logo {
        @include media-breakpoint-up(md) {
            @include target-ie {
                margin-top: 16px;
            }
        }        
    }
    &__separetor {
        width: 2px;
        height: 30px;
        display: inline-block;
        background-color: $blue;
        margin-left: 20px;
        margin-right: 20px;
    }
    &__slogan {
        color: $black;
        margin-bottom: 0;
        font-weight: normal;
        font-size: rem(26px);
        text-transform: capitalize;
    }
    @include media-breakpoint-down(md) {
        padding-top: 1rem;
    }
}

// ----------- dashboard-user -------------
.dashboard-user {
    display: flex;
    align-items: center;
    @include media-breakpoint-down(md) {
        padding-top: rem(10px);
        padding-bottom: 1rem;
    }
    @include media-breakpoint-down(xs) {
        display: block;
        padding-top: 10px;
    }
    &__title {
        color: $black;
        font-size: rem(14px);
        margin-right: 15px;
        @include media-breakpoint-down(md) {
            margin-right: 5px;
        }
        @include media-breakpoint-down(xs) {
            padding-bottom: 5px;
            display: block;
            text-align: center;
        }
    }
    &__menu {
        display: flex;
        margin-bottom: 0;
        @include media-breakpoint-down(xs) {
            display: block;
            text-align: center;
        }
        li {
            display: inline-block;
            position: relative;
            a {
                height: 30px;
                display: flex;
                padding-left: 15px;
                padding-right: 15px;
                align-items: center;
                justify-content: flex-end;
                @include media-breakpoint-down(sm) {
                    padding-left: 5px;
                    padding-right: 5px;                    
                }
                @include media-breakpoint-down(xs) {
                    padding-left: 5px;
                    padding-right: 5px;
                    float: left;
                } 
                .notification-count {
                    background: $blue;
                    position: absolute;
                    top: -2px;
                    right: 5px;
                    background: #e75753;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    color: #fff;
                    line-height: 16px;
                    text-align: center;

                }
                button {
                    color: #007abc;
                    cursor: pointer;
                    outline: none;
                }
            }
        }
    }
}