// Form
// --------------------------------------------------
.form-control.ng-invalid[name=LastName] + div .has-error {
    margin-left: 0 !important;
}
.form-control {
    @include media-breakpoint-down(sm) {
        font-size: 12px;
    }        
}