// Navigation
// --------------------------------------------------

.main-nav {
    background-color: $menu-blue;
    .nav {
        height: 60px;
    }
    .nav-link {
        height: 100%;
        display: flex;
        color: $white;
        font-weight: bold;
        text-align: center;
        align-items: center;
        &.active,
        &:hover {
            background-color: #0090da;
        }
    }
    &:not(&--sm) {
        .nav-link {
            font-size: rem(15px);
            &.active,
            &:hover {
                background-color: #0090da;
            }
            @include media-breakpoint-up(lg) {
                padding-left: 75px;
                padding-right: 75px;
            }
        }
    }
    &--sm {
        .nav-link {
            font-size: rem(12px);            
            @include media-breakpoint-up(lg) {
                padding-left: 40px;
                padding-right: 40px;
            }
            @include media-breakpoint-down(lg) {
                padding-left: 20px;
                padding-right: 20px;
            }
            @include media-breakpoint-down(md) {
                padding-left: 8px;
                padding-right: 8px;
            }
            &.active,
            &:hover {
                color: $body-color;
                background-color: #f2f2f2;
            }            
        }
    }
}