// Button
// --------------------------------------------------
.btn-primary {
  color: $white;
  background-color: $blue;
  background-image: none;
  border-color: $blue;
}
.btn-primary:hover {
  color: $white;
  border-color: $blue-medium;
  background-color: $blue-medium;
  text-decoration: underline;
}
.btn {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  height: 40px;
  line-height: 24px;
  @include media-breakpoint-down(lg) {
      font-size: 12px;
  }
  &.w-150 {
    min-width: 150px;
  }
  &.w-180 {
    min-width: 180px;
  }
  // Disabled
  &.disabled,
  &:disabled,
  &.disabled:hover,
  &:disabled:hover {
    color: $blue-medium;
    border-color: $blue-medium;
    background-color: $white;
    opacity: 1;
    text-decoration: none;
  }
  i {
    span {
      font-family: Arial, Helvetica, sans-serif;
    }
  }
  &:hover i {
    text-decoration: underline;
  }
}
a.btn {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  height: 40px;
  line-height: 24px;
  @include media-breakpoint-down(lg) {
      font-size: 12px;
  }
  &.w-150 {
    min-width: 150px;
  }
  &.w-180 {
    min-width: 180px;
  }
  // Disabled
  &.disabled,
  &:disabled,
  &.disabled:hover,
  &:disabled:hover {
    color: $blue-medium;
    border-color: $blue-medium;
    background-color: $white;
    opacity: 1;
    text-decoration: none;
    text-decoration: none;
  }
  &:hover i {
    text-decoration: underline;
  }
}
.btn-sm {
  height: auto;
  line-height: 1.5;
}
.btn-submit {
  width: 180px;
}
.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: $blue;
}
.ho-no-decoration:hover {
  text-decoration: none;
}
