// Dashboard Upload popup
// --------------------------------------------------
.mat-dialog-container {
  min-width: 450px;

  @include media-breakpoint-down(xs) {
    min-width: 80vw;
  }

  .mat-dialog-content {
    padding-top: 30px !important;
    overflow: auto;
  }

  .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label,
  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    -webkit-transform: translateY(-0.7em) scale(.75) perspective(100px) translateZ(.001px);
    -ms-transform: translateY(-0.7em) scale(.75);
    transform: translateY(-0.7em) scale(.75) perspective(100px) translateZ(.001px);
    width: 133.33333%;
  }
}

.mat-header-cell,
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding-right: 15px !important;
}

.campaign-start {

  .mat-form-field-label {
    margin-top: 27px;
    padding-left: 5px;

    @include media-breakpoint-down(sm) {
      margin-top: -5px;
    }
  }
}

.table.mat-elevation-z8 {
  box-shadow: none;
}

.mat-paginator-range-actions {

  .mat-paginator-range-label {

    @include media-breakpoint-down(xs) {
      margin: 0 22px 0 14px;
    }
  }
}

.table-responsive {
  .mat-column-action {
    min-width: 85px;
  }
}

.mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper,
.mat-form-field-appearance-legacy .mat-form-field-underline {
  position: static;
}
