// Variables
// --------------------------------------------------
@font-face {
  font-family: 'metlife_font';
  src: url('/../../assets/fonts/metlife_font1.eot?7v2s6i');
  src: url('/../../assets/fonts/metlife_font1.eot?7v2s6i#iefix')
      format('embedded-opentype'),
    url('/../../assets/fonts/metlife_font1.ttf?7v2s6i') format('truetype'),
    url('/../../assets/fonts/metlife_font1.woff?7v2s6i') format('woff'),
    url('/../../assets/fonts/metlife_font1.svg?7v2s6i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'metlife_font';
  src: url('/../../assets/fonts/metlife_font.eot?l5dfbs');
  src: url('/../../assets/fonts/metlife_font.eot?l5dfbs#iefix')
      format('embedded-opentype'),
    url('/../../assets/fonts/metlife_font.ttf?l5dfbs') format('truetype'),
    url('/../../assets/fonts/metlife_font.woff?l5dfbs') format('woff'),
    url('/../../assets/fonts/metlife_font.svg?l5dfbs#metlife_font')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'metlife_font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-candidate-certificate:before {
  content: '\e900';
  color: #757575;
}
.icon-exam-question-bank:before {
  content: '\e901';
  color: #757575;
}
.icon-exam-question-settings:before {
  content: '\e902';
  color: #757575;
}
.icon-exam-schedule:before {
  content: '\e903';
  color: #757575;
}
.icon-reports:before {
  content: '\e904';
  color: #757575;
}
.icon-traning-module-contain:before {
  content: '\e905';
  color: #757575;
}

//new icons
.icon-01:before {
  content: '\b900';
  color: #757575;
}
.icon-02:before {
  content: '\b901';
  color: #757575;
}
.icon-03:before {
  content: '\b902';
  color: #757575;
}
.icon-04:before {
  content: '\b903';
  color: #757575;
}
.icon-05:before {
  content: '\b904';
  color: #757575;
}
.icon-06:before {
  content: '\b905';
  color: #757575;
}
.icon-07:before {
  content: '\b906';
  color: #757575;
}
.icon-08:before {
  content: '\b907';
  color: #757575;
}
.icon-09:before {
  content: '\b908';
  color: #757575;
}

/*demo.css*/
