
img {
    max-width: 100%;
}
.slide-content {
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1;
    min-height: calc(100% - 60px);
    width: 100%;
    height: auto;
    @include media-breakpoint-down(sm) {
        position: static;
    }
    // top: 0;
    // height: 100%;

    // start slim scroll bar
    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $gray-800; 
        border-radius: 10px;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: $gray-999;
    }
    // end scroll bar
    .slide-content-inner {
        position: absolute;
        height: 100%;
        width: 100%;

        &__left {        
            background-color: $gray-dark;
            padding: 10px;
            padding-bottom: 0;
            position: absolute;
            width: 12%;
            height: 100%;

            ul {
                color: $white;
                margin-bottom: 10px;
                padding-left: 0;
                overflow-y: auto;
                height: calc(100% - 140px);
                list-style: none;
                @include media-breakpoint-down(md) {
                    height: calc(100% - 240px);
                }
                li {
                    margin-bottom: 10px;
                    background-color: $gray-900;
                    opacity: 0.6;
                    cursor: pointer;
                    position: relative;
                    .btn-close, .btn-copy {
                        position: absolute;
                        top: 8px;
                        right: 8px;
                        color: #f00;
                        border: 1px solid #f00;
                        height: 25px;
                        width: 26px;
                        font-size: 14px;
                        line-height: 22px;
                        border-radius: 50%;
                        text-align: center;
                        padding: 0;
                        &:hover {
                            background: $white;
                        }
                    }
                    .btn-copy {
                        top: 40px;
                        color: #007abc;
                        border: 1px solid #007abc;
                        &:hover {
                            background: $white;
                        }
                    }
                    a {
                        color: $white;
                        font-weight: bold;
                    }
                    .item-number {
                        width: 30px;
                        text-align: center;
                        display: inline-block;
                        @include media-breakpoint-down(md) {
                            width: 20px;
                        }
                    }
                    img {
                        width: calc(100% - 30px);
                        @include media-breakpoint-down(md) {
                            width: calc(100% - 20px);
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &.active, &:hover {
                        opacity: 1;
                    }
                }                
            }
            input {
                width: 100%;
                height: 40px;
                padding: 10px;
                color: $white;
                margin-top: 10px;                
                margin-bottom: 20px;
                background: #4e4e4e;
                border: 1px solid $gray-800;
            }
            .views {
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                padding: 10px;
                padding-bottom: 0;
                .grid-view, .list-view {                        
                    width: 37%;
                    text-align: center;
                    height: 50px;
                    background: $gray-900;
                    float: left;
                    @include media-breakpoint-down(md) {
                        width: 100%;
                        border-bottom: 1px solid $gray-medium;
                    }
                    &:hover {
                        background: #444
                    }
                    a {
                        width: 100%;
                        height: 100%;
                        float: left;
                        color: $white;
                        .feather-grid, .feather-list {
                            font-size: 30px;
                            width: 25px;
                            height: 22px;
                            margin-top: 15px;
                        }
                    }
                } 
                .skip-thumbnail-bar {
                    position: absolute;
                    bottom: 0;
                    right: 11px;
                    width: 40px;
                    z-index: 1;
                    @include media-breakpoint-down(md) {
                        width: 100%;
                        position: static;
                    }
                    button {
                        width: 40px;
                        height: 50px;
                        padding: 0;
                        color: $white;
                        background: $gray-900;
                        border-radius: 0;
                        &:hover {
                            background: #444
                        }
                        @include media-breakpoint-down(md) {
                            width: 100%;
                        }
                        .feather {
                            width: 22px;
                            height: 22px;
                        }
                    }
                } 
            }
        }        
        &__right {
            width: 88%;
            float: right;
            position: absolute;
            height: 100%;
            right: 0; 
            background: $gray-dark;
            .btn-full-page {
                position: absolute;
                top: 21px;
                right: 10px;
                background: $gray-dark;
                border-radius: 50%;
                border: 2px solid $gray-800;
                cursor: pointer;
                .feather {
                    color: $white;
                    width: 20px;
                    height: 24px;
                    color: $gray-800;
                    stroke-width: 3px;
                }                
            }           
            input {
                width: 100%;
                height: 100%;                
            }
            .top-menubar {
                list-style: none;
                padding-top: 7px;
                padding-bottom: 2px;
                padding-right: 70px;
                background-color: $gray-dark;
                border-bottom: 1px solid $gray-900;                
                ul {
                    margin-bottom: 0;
                    padding-left: 20px;
                    padding-right: 20px;
                    li {
                        display: inline;    
                        position: relative;                    
                        a {
                            display: inline-block;
                            width: 36px;
                            text-align: center;
                            color: $white;
                            padding-top: 3px;
                            margin-bottom: 3px;
                            &:hover, &:active {
                                color: $gray-999;
                                background-color: $gray-900;
                            }
                            .feather {                                
                                width: 23px;
                                height: 20px;
                            }
                        }
                        .right-floating-tab{
                            position: absolute;
                            left: 8px;
                            background: #fff;
                            border-radius: 3px;
                            height: 320px;
                            top: 33px;
                            box-shadow: 0 0 10px 0 #666;
                            z-index: 2;
                            padding: 30px;
                            width: 70vw;
                            .btn-custom-close {
                                position: absolute;
                                top: 0;
                                right: 0;
                                padding: 0 10px;
                                height: 30px;
                                background: transparent;
                            }
                            .profile-tabs-content {
                                padding: 0;
                                position: relative;
                                height: 100%;
                                overflow: auto;
                                .img-thumbnail {
                                    padding: .25rem;
                                    background-color: #fff;
                                    border: 1px solid #dee2e6;
                                    border-radius: .125rem;
                                    max-width: 100%;
                                    width: 90px;
                                    margin: 7px;
                                }
                            }
                        }
                    }   
                }                             
            }            
            .slide-content-inner__right-left {
                background-color: $gray-900;
                text-align: center;
                position: relative;
                left: 0;
                width: 130px;
                height: calc(100% - 80px);
                padding-bottom: 7px;
                padding-top: 7px;
                float: left;
                margin-right: 10px;
                .top-menubar {
                    background: transparent;
                    padding: 20px 0;
                    max-height: 100%;
                    overflow-y: auto;
                    ul {
                        padding-left: 0;
                        padding-right: 0;  
                        li {
                            display: block;
                            a {
                                width: 60px;
                                padding: 10px 0;
                                &:hover {
                                    background: $gray-dark;
                                    color: $white;
                                }
                            }
                        }                        
                    }
                }
                .property-item {                    
                    top: 0;
                    left: 0;
                    width: 100%;
                    text-align: left;
                    padding-left:10px;
                    position: absolute;
                    padding-right: 10px;
                    .input-box {                    
                        margin-bottom: 15px;
                        &__label {
                            margin-bottom: 6px;
                            font-size: 12px;
                            color: $gray-medium;
                        }
                        &__input {
                            height: 28px;
                            line-height: 28px;
                            padding: 0 6px;
                            color: $white;
                            background: #4e4e4e;
                            border: 0;
                            outline: 0;
                        }
                    }
                }
            }
            .main-content-wrapper {
                float: right;
                max-height: calc(100% - 80px);
                width: calc(100% - 140px);
                height: 100%;
                display: flex;
                justify-content: center;
                // align-items: center;    
                background: $white;
                position: relative;
                @include media-breakpoint-down(lg) {
                    display: block;
                }
                .main-content {
                    position: relative;
                    border: 2px dashed #d1d2d4;
                    border-radius: 10px;                    
                    padding: 1.25rem;                    
                    @include media-breakpoint-down(lg) {
                        /*width: 55%;
                        overflow: hidden; */
                        position: relative;                        
                        border: 2px dashed #d1d2d4;
                        border-radius: 10px;
                        height: auto;
                        // margin: 5% auto;                       
                    }
                    .bottom-page-input {
                        position: absolute;
                        top: 100%;
                        z-index: 1;
                        width: calc(100% - 116px);
                        @include media-breakpoint-down(xl) {                            
                            left: 0;
                        }
                        @include media-breakpoint-down(md) {
                            top: calc(100% + 70px);
                            width: 100%;
                            left: 0;
                        } 
                        .font-13 {
                            font-size: 13px;
                        }
                    }
                    .main-content-inner {
                        height: 100%;
                        overflow: hidden;
                    }
                    #outerContainer {                        
                        position: absolute;
                        width: calc(100% - 40px);
                        height: calc(100% - 40px);
                        top: 20px;
                    }
                    .right-sticky-item {
                        position: absolute;
                        top: 0;
                        right: -39px;
                        padding-left: 0;
                        list-style: none;
                        background: $gray-900;
                        a {
                            padding: 3px 8px 0;
                            float: left;
                            color: $white;
                            border-bottom: 1px solid $gray-800;
                            &:hover {
                                background: $gray-800;
                            }
                            .feather {
                                width: 20px;
                                height: 24px;
                            }
                        }
                    }
                    .button-wrapper {
                        position: absolute;
                        bottom: -60px;
                        right: 20px;
                        @include media-breakpoint-down(xl) {                            
                            right: 0;
                            top: calc(100% + 10px);
                        }
                        @include media-breakpoint-down(md) {
                            left: 0;
                            right: auto;
                            top: calc(100% + 20px);
                        }
                        button {
                            @include media-breakpoint-down(sm) {
                                margin-bottom: 5px;
                            }
                        }
                    }
                    .input-box {
                        width: 300px;
                        display: inline-block;
                        margin-right: 20px;
                        @include media-breakpoint-down(sm) {
                            width: auto;
                        }
                        label {
                            display: inline-block;
                            margin-bottom: 0;
                            font-size: 12px;
                            @include media-breakpoint-down(sm) {
                                display: block;
                            }
                        }
                        .form-control {
                            width: 100px;
                            height: 18px;
                            margin-top: 3px;
                            float: right;                            
                            @include media-breakpoint-down(sm) {
                                float: none;
                            } 
                        }
                    }
                }
                .right-floting-panel-wrapper {

                    .right-floating-tab {
                        position: absolute;
                        right: 81px;
                        width: 500px;
                        max-width: 100%;
                        background: #fff;
                        border-radius: 3px;
                        // height: 90%;
                        top: 10%;
                        -webkit-box-shadow: 0 0 10px 0 #666;
                        box-shadow: 0 0 10px 0 #666;
                        z-index: 1;
                        .profile-tabs {
                            padding-left: 0;
                            border-bottom: 0;
                            border-top-left-radius: 3px;
                            border-top-right-radius: 3px;
                            overflow: hidden;
                            .nav-item {
                                width: 50%;
                                float: left;                                
                                .nav-link {
                                    border: 0;
                                    background-color: transparent;
                                    color: #000;
                                    font-size: 14px;
                                    text-align: center;
                                    padding-top: 14px;
                                    padding-bottom: 14px;                                                                     
                                    &:hover {
                                        text-decoration: none;
                                    }
                                }
                                .nav-link.active {
                                    background-color: #f5f5f5;
                                    border: 1px solid #e5e5e5 !important;
                                    border-radius: 0;
                                    color: $gray-dark;
                                    font-weight: normal;
                                    text-decoration: none;
                                    border-top-left-radius: 3px;
                                }
                                &:last-child {
                                    .nav-link {
                                        border-top-right-radius: 3px;
                                    }
                                }
                            }
                        }
                        .profile-tabs-content {
                            height: 63vh;
                            overflow: auto;
                            @include media-breakpoint-down(lg) {
                               height: 60vh;
                            }
                            .img-thumbnail {
                                width: 45%;
                                margin-right: 10px;
                                margin-left: 11px;
                                margin-bottom: 20px;
                                @include media-breakpoint-down(lg) {
                                    margin-right: 4px;
                                    margin-left: 5px;
                                }
                                @include media-breakpoint-down(xs) {
                                    margin-right: 0px;
                                    margin-left: 3px;
                                }
                            }
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            margin-top: -8px;
                            right: -15px;
                            width: 0;
                            height: 0;
                            border-top: 10px solid transparent;
                            border-left: 15px solid #666;
                            border-bottom: 10px solid transparent;
                        }
                        .btn-save-current-slide {
                            width: 100%;
                            line-height: 40px;
                            border: 0;
                            background: #f5f5f5;
                            position: absolute;
                            bottom: 0;
                            cursor: pointer;
                            .feather {
                                width: 15px;
                                height: 17px;
                                vertical-align: text-bottom;
                                stroke-width: 4px;
                                color: #555555;
                            }
                        }
                    }
                    .plus-button {
                        position: absolute;
                        top: 50%;
                        margin-top: -23px;
                        right: 20px;
                        background: #e0e0e0;
                        color: #fff;
                        padding: 0;
                        width: 47px;
                        height: 47px;
                        border-radius: 50%; 
                        &:hover {
                            background: #191919;                    
                        }
                        .feather {
                            width: 40px;
                            height: 45px;
                            vertical-align: text-bottom;
                            stroke-width: 4px;
                            stroke-linecap: unset;
                        }
                    }
                    .plus-button-bottom {
                        right: 45%;
                        top: auto;
                        bottom: 15px;
                    }
                }                                
            }            
        }        
    }  
}