<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>INTERNAL USER CREATION</h3>
    </div>
  </header>
  <!--End Page Title -->
</section>

<main class="profile-creation">
  <div class="container">
    <section class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <form class="my-5" (ngSubmit)="onSubmit()">
            <div class="row">
              <!--Picture Upload-->
              <div class="form-group col-md-5 order-1 order-md-2">
                <div id='region-profile' class="custom-file profile-creation__photo" [ngStyle]="(model.profilePicSrc)?{'background-image': 'url('+ collectionAdminPicUrl +')' }:
                {'background-image': 'url('+ tempImage +')' }">
                  <input type="file" name="profilePicSrc" class="custom-file-input" id="customFile" accept="image/*"
                    (change)="onPictureChange($event)">

                  <label class="custom-file-label" for="customFile">{{ (picture_name != null && picture_name.length>0)
                    ?
                    picture_name : 'Choose file'}}</label>
                  <div class="profile-creation__photo--upoload">UPLOAD</div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="form-group col-md-8 mx-auto">
                <span class="mandatory-sign">*</span>
                <input type="text" class="form-control mandatory-field" placeholder="NAME" [(ngModel)]="model.firstName"
                  name="firstName"> </div>
            </div>
            <div class="row">
              <div class="form-group col-md-8 mx-auto">
                <span class="mandatory-sign">*</span>
                <select class="form-control custom-select mandatory-field" required [(ngModel)]="model.departmentId"
                  name="departmentId">
                  <option value="0" selected>DEPARTMENT</option>
                  <option *ngFor="let department of departments" [value]="department.departmentId">
                    {{department.departmentName}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-8 mx-auto">
                <span class="mandatory-sign">*</span>
                <select class="form-control custom-select mandatory-field" required [(ngModel)]="model.designationId"
                  name="designationId">
                  <option value="0" selected>DESIGNATION</option>
                  <option *ngFor="let designation of designations" [value]="designation.id"> {{designation.name}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-8 mx-auto">
                <span class="mandatory-sign">*</span>
                <input type="email" class="form-control mandatory-field" placeholder="EMAIL" [(ngModel)]="model.email"
                  name="email">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-8 mx-auto">
                <span class="mandatory-sign">*</span>
                <input type="tel" class="form-control mandatory-field" placeholder="MOBILE NUMBER" [(ngModel)]="model.mobileNumber"
                  name="mobileNumber">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-12 text-center">
                <button type="button" class="btn btn-primary btn-submit mt-2" (click)="onSubmit()">SUBMIT</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</main>