<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>LIST OF DOCUMENTS FOR VERIFICATION</h3>
    </div>
  </header>
</section>

<div class="container-fluid mt-2">
  <div class="my-5">
    <div class="row">
      <div class="col-12 col-sm-6">
        <mat-form-field class="column-full-width">
          <mat-select placeholder="Select Action" [(ngModel)]="filterStatus" name="filterStatus" (selectionChange)="filter()">
            <mat-option *ngFor="let status of filterStatuses" [value]="status">
              {{status}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-12 col-sm-6">
        <mat-form-field class="float-right" style="width: 100%">
          <input matInput (keyup)="search()" [(ngModel)]="searchText" name="searchText" placeholder="Search Candidate, FA Code">
        </mat-form-field>
      </div>
    </div>
    <div class="table-responsive">
      <table mat-table matSort [dataSource]="dataSource" class="table mat-elevation-z8" style="width:100%; min-width: 700px;">
        <ng-container matColumnDef="candidateId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CANDIDATE ID </th>
          <td mat-cell *matCellDef="let element; let row; let i = index" style="width:7%"> {{element.candidateId}}</td>
        </ng-container>

        <ng-container matColumnDef="candidateName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CANDIDATE NAME </th>
          <td mat-cell *matCellDef="let element; let row" style="width:15%"> <a href="javascript:void(0)" [routerLink]="[ '/ap/candidate-profile', element.candidateId]"
              [queryParams]="{tab: 'submit-documents-tab'}">
              {{element.candidateName}}</a> </td>
        </ng-container>

        <ng-container matColumnDef="faCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            FA CODE </th>
          <td mat-cell *matCellDef="let element" style="width:7%">
            <a href="javascript:void(0)" [routerLink]="[ '/ap/candidate-profile', element.candidateId]" [queryParams]="{tab: 'submit-documents-tab'}">
              {{element.faCode}}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="trainingCompletionDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TRAINING COMPLETION DATE </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;">
            {{ dataService.utc_to_local_time(element.trainingCompletionDate, dataService.DATEFORMAT)}} </td>
        </ng-container>

        <ng-container matColumnDef="trainingExamPassingDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TRAINING EXAM PASSING DATE </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;">
            {{ dataService.utc_to_local_time(element.trainingExamPassingDate, dataService.DATEFORMAT)}} </td>
        </ng-container>

        <ng-container matColumnDef="dateOfFinalDocumentSubmission">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DATE OF FINAL DOCUMENT SUBMISSION </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;">
            {{ dataService.utc_to_local_time(element.dateOfFinalDocumentSubmission, dataService.DATEFORMAT)}} </td>
        </ng-container>

        <ng-container matColumnDef="verificationPendingCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DOCUMENTS PENDING VERIFICATION </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;">
            {{ element.verificationPendingCount+'/'+element.docCount }} </td>
        </ng-container>

        <ng-container matColumnDef="approveDocCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DOCUMENTS APPROVED VERIFICATION </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;">
            {{ element.approveDocCount+'/'+element.docCount }}
          </td>
        </ng-container>

        <ng-container matColumnDef="rejectDocCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DOCUMENTS REJECTED VERIFICATION </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;">
            {{ element.rejectDocCount+'/'+element.docCount }}
          </td>
        </ng-container>

          <ng-container matColumnDef="assignedAdmin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ASSIGNED AGENCY SERVICE ADMIN </th>
            <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;">
              {{ element.lockedByName }} <br>
              <button class="btn btn-primary btn-sm"  *ngIf='inProgressStatus'  (click)='reassign(element)'>
                Reassign
              </button>
            </td>
          </ng-container>

        <ng-container matColumnDef="assignedDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ASSIGNED DATE </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;">
            {{ dataService.utc_to_local_time(element.lockedDate, dataService.DATEFORMAT)}} </td>
        </ng-container>

        <ng-container matColumnDef="completedDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> COMPLETED DATE </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;">
            {{ dataService.utc_to_local_time(element.authorizedDate, dataService.DATEFORMAT)}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageChange($event)">
    </mat-paginator>
  </div>
</div>