<form #fromValidate='ngForm'>
  <h3 mat-dialog-title>Job Experience</h3>

<mat-dialog-content my-5>
  <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 form-group ">
          <input  name="title" [(ngModel)]="model.title" placeholder="Job Experience Title"
          type="text" class="form-control form-control-sm"  #title="ngModel" required/>
      </div> 
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12 form-group ">
        <input  name="score" [(ngModel)]="model.score" placeholder="Score"
        type="number" class="form-control form-control-sm" min="0" maxlength="100" pattern="[0-9_]*"  #score="ngModel" required/>
    </div> 
  </div>

</mat-dialog-content>

<mat-dialog-actions style="float: right;">
  <button type="button" [disabled]='!fromValidate.form.valid' class="btn btn-sm btn-primary mr-1" (click)='save()'><i class="fa fa-save" aria-hidden="true"> Save</i></button>
  <button type="button" class="btn btn-sm btn-danger mr-1" (click)='close()'><i class="fa fa-times" aria-hidden="true"> Close</i></button>
</mat-dialog-actions>
</form>
