<form #fromTrainingModule='ngForm'>
  <h3 mat-dialog-title>Module Settings</h3>
  <mat-dialog-content my-1>

    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 form-group ">
        <select class="form-control custom-select" name="typeId" [(ngModel)]="model.moduleType"
          (ngModelChange)="onChangeType()" required>
          <option [ngValue]="0" selected>Select Type</option>
          <option *ngFor="let type of types" [ngValue]="type.id"> {{type.name}}</option>
        </select>
      </div>
    </div>
   <div class="row" *ngIf="model.moduleType == type.module">
      <div class="col-xs-12 col-md-12 col-lg-12 form-group ">
        <select class="form-control custom-select" name="title" [(ngModel)]="model.parentId" required>
          <option [ngValue]="0" selected>Select Title</option>
          <option *ngFor="let item of titleModels" [ngValue]="item.id"> {{item.moduleName}}</option>
        </select>
      </div>
    </div>
    <div *ngIf="model.moduleType == type.section">

      <!-- <div class="row">
        <div class="col-xs-6 col-md-6 col-lg-6 form-group ">
          <mat-checkbox class="example-margin" color="primary" [(ngModel)]="checked" name="checked" (change)='SetUnderSubModule()'>Add
            Under Sub Module</mat-checkbox>
        </div>
      </div> -->

      <div *ngIf="!checked" class="row">
        <div class="col-xs-12 col-md-12 col-lg-12 form-group ">
          <select class="form-control custom-select" name="module" [(ngModel)]="model.parentId"
            required>
            <option [ngValue]="0" selected>Select Module</option>
            <option *ngFor="let item of moduleModels" [ngValue]="item.id"> {{item.moduleName}} ({{item.title}})</option>
          </select>
        </div>
      </div>

      <div *ngIf="checked" class="row">
        <div class="col-xs-12 col-md-12 col-lg-12 form-group ">
          <select class="form-control custom-select" name="submodule" [(ngModel)]="model.parentId"
            required>
            <option [ngValue]='0' selected>Select Sub-modules</option>
            <option *ngFor="let item of subModuleModels" [ngValue]="item.id"> {{item.moduleName}}</option>
          </select>
        </div>
      </div>
    </div>

    

    <div class="row" *ngIf="model.moduleType == type.module || model.moduleType == type.section">
      <div class="col-xs-12 col-md-12 col-lg-12 form-group ">
        <span>{{typeName}} Title</span> <br>
        <input type="text" autocomplete="off" class="form-control form-control-sm" name='subtitle' [(ngModel)]="model.title"
          required />
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 form-group ">
        <span>{{typeName}} Name</span> <br>
        <input type="text" autocomplete="off" class="form-control form-control-sm" name='moduleName' [(ngModel)]="model.moduleName"
          required />
      </div>
    </div>

    <div class="row" *ngIf="model.moduleType == type.section">
      <div class="col-xs-12 col-md-12 col-lg-12 form-group ">
        <span>Description</span><br>
        <textarea type="text" autocomplete="off" class="form-control form-control-sm" name='description' [(ngModel)]="model.description"></textarea>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12 form-group d-flex">
          <span>Show Enable</span>
          <input type="checkbox" class="form-control form-control-sm hide-focus" name='isShow' [(ngModel)]="model.isShow">
        </div>
      </div>

  </mat-dialog-content>

  <mat-dialog-actions style="float:right;">
    <button type="button" class="btn btn-sm btn-primary mr-1" (click)='save()' [disabled]='!fromTrainingModule.form.valid || !model.moduleName || (model.moduleType!=type.title && model.parentId <= 0)'><i
        class="fa fa-save" aria-hidden="true">Save</i></button>
    <button type="button" class="btn btn-sm btn-danger mr-1" (click)='close()'><i class="fa fa-times" aria-hidden="true">Close</i></button>
  </mat-dialog-actions>
</form>