<section _ngcontent-c1="" class="container-fluid bg-grey">
  <header _ngcontent-c1="" class="row page-header page-header--sm">
    <div _ngcontent-c1="" class="col-12">
      <h3 _ngcontent-c1="">Area</h3>
    </div>
  </header>
</section>
<div class="container">
  <div class="my-5">
    <!-- <h5>Area</h5> -->

    <div>
      <button mat-raised-button color="primary" type="button" class="btn btn-sm mb-2" (click)='add()'><i class="fa fa-plus" aria-hidden="true" >
          <span> Add New Area</span></i></button>
    </div>
  <div class="table-responsive">
    <table mat-table matSort [dataSource]="dataSource" class="table mat-elevation-z8" style="width: 100%; min-width: 500px;">
      <ng-container matColumnDef="sl">
        <th mat-header-cell *matHeaderCellDef> #SL </th>
        <td mat-cell *matCellDef="let row; let i = index" class="text-align:center"> {{i+1}} </td>
      </ng-container>     
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
        <td mat-cell *matCellDef="let element"> {{element.district.countryInfo.name}} </td>
      </ng-container>
      <ng-container matColumnDef="districtName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> District </th>
        <td mat-cell *matCellDef="let element"> {{element.district.districtName}} </td>
      </ng-container>
      <ng-container matColumnDef="areaName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Area </th>
        <td mat-cell *matCellDef="let element"> {{element.areaName}} </td>
      </ng-container>
      <ng-container matColumnDef="distances">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Distance (km) </th>
        <td mat-cell *matCellDef="let element"> {{element.distances}}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element; let row; let i = index">
          <button type="button" class="btn btn-sm btn-primary mr-1" (click)='edit(element.areaId)'><i class="fa fa-pencil-square-o"
              aria-hidden="true"></i></button>
          <button type="button" class="btn btn-sm btn-danger mr-1" (click)='delete(element.areaId)'><i
              class="fa fa-trash" aria-hidden="true"></i></button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  </div>
</div>