<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>Question Bank</h3>
    </div>
  </header>
</section>
<!-- End Page Title -->

<div class="container">
  <div class="my-5">

    <!-- <h5 class="page-title">Question Bank</h5> -->

    <div class="row">
      <div class="col-sm-5">
        <div class="button-row">
          <button mat-raised-button color="primary" class="btn btn-sm mb-2" (click)='add()'>
            <i class="fa fa-plus" aria-hidden="true"><span> Add New Question</span></i>
          </button>
        </div>
      </div>
      <div class="col-sm-7">
        <mat-form-field class="float-right" style="width: 100%">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput (keyup)="filter($event.target.value)" placeholder="Search Question">
        </mat-form-field>
      </div>
    </div>
    <div class="table-responsive">
      <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%; min-width: 820px;">
        <ng-container matColumnDef="sl">
          <th mat-header-cell *matHeaderCellDef> SL# </th>
          <td mat-cell *matCellDef="let row; let i = index" class="text-align:center"> {{ (i+1)+(pageSize*(pageIndex-1))
            }} </td>
        </ng-container>

        <ng-container matColumnDef="moduleName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Module Name</th>
          <td mat-cell *matCellDef="let element"> {{element.trainingModuleName}} </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Question Title</th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="questionTypeName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Question Type </th>
          <td mat-cell *matCellDef="let element"> {{element.questionTypeName}} </td>
        </ng-container>

        <ng-container matColumnDef="score">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Score </th>
          <td mat-cell *matCellDef="let element"> {{element.score}} </td>
        </ng-container>

        <ng-container matColumnDef="isActive">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>

          <td mat-cell *matCellDef="let element">
            <mat-icon [hidden]="!element.isActive" color="primary"> check</mat-icon>
            <mat-icon [hidden]="element.isActive" color="warn">close</mat-icon>
        </ng-container>

        <ng-container matColumnDef="createDateTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Created </th>
          <td mat-cell *matCellDef="let element"> {{ dataService.utc_to_local_time(element.createDateTime,
            dataService.DATEFORMAT)}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element; let row; let i = index">
            <button mat-icon-button color="primary" (click)='edit(element.id)'>
              <mat-icon aria-label="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)='delete(element.id)'>
              <mat-icon aria-label="Edit"><i class="fa fa-trash" aria-hidden="true"></i></mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageChange($event)">
    </mat-paginator>
  </div>
</div>