<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>LIST OF VIVA CANDIDATES</h3>
    </div>
  </header>
</section>
<!-- End Page Title -->

<div class="container-fluid mt-2">
  <div class="my-5">
    <!-- <h5>List Of Training Modules</h5> -->
    <div class="row">
      <div class="col-6 col-sm-4">
          <div class="form-group">
          <select class="form-control form-control-sm custom-select" [(ngModel)]='gridType'  (change)="get_grid_column()" name='gridType' required>
              <option *ngFor="let item of gridTypes" [ngValue]="item" >{{item}}</option>
          </select>
          </div>
      </div>
      <div class="col-6 col-sm-4">
        <div class="form-group">
        <select *ngIf='!isAgencyExecutiveAdmin' class="form-control form-control-sm custom-select" [(ngModel)]='filterType'  (change)="get_filter_column()" name='filterType' required>
          <option [ngValue]='null'>Select type</option>
          <option *ngFor="let item of filterTypes" [ngValue]="item" >{{item}}</option>
      </select>
    </div>
      </div>
      <div class="col-6 col-sm-4">
        <mat-form-field class="float-right" style="width: 100%">
          <input matInput (keyup)="filter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </div>
    </div>
    <div class="table-responsive">
      <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 tbl-eligibility-criteria" style="width:100%">

        <ng-container matColumnDef="sl">
          <th mat-header-cell *matHeaderCellDef> SL# </th>
          <td mat-cell *matCellDef="let row; let i = index" style="width:5%"> {{ ((pageIndex-1)*pageSize) + i+1}} </td>
        </ng-container>

        <ng-container matColumnDef="userId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CANDIDATE ID  </th>
          <td mat-cell *matCellDef="let element; let row; let i = index" style="width:6%"> {{element.userId}}</td>
        </ng-container>

        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CANDIDATE NAME  </th>
          <td mat-cell *matCellDef="let element; let row; let i = index"
          style="width:12%" [routerLink]="[ '/ap/candidate-profile', element.userId]"
          [queryParams]="{tab: 'submit-documents-tab'}"> <a matTooltip="Click here for showing candidate's submitted document details" href="javascript:void(0)"> {{element.fullName}}</a> </td>
        </ng-container>


        <ng-container matColumnDef="faCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> FA CODE  </th>
          <td mat-cell *matCellDef="let element" style="width:7%"> {{element.faCode}} </td>
        </ng-container>


        <ng-container matColumnDef="taggedUmBmName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tagged UM/ BM Name  </th>
          <td mat-cell *matCellDef="let element" style="width:12%; text-align: left;"> {{ element.taggedUmBmName }} </td>
        </ng-container>

        <ng-container matColumnDef="campaignName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CAMPAIGN NAME </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;"> {{ element.campaignName }} </td>
        </ng-container>

        <ng-container matColumnDef="campaignEndDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CAMPAIGN END DATE  </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;"> {{ ds.utc_to_local_time(element.campaignEndDate, ds.DATEFORMAT) }} </td>
        </ng-container>

        <ng-container matColumnDef="aeName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> AE NAME  </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: left;"> {{ element.aeName }} </td>
        </ng-container>

        <ng-container matColumnDef="statusName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> VIVA RESULT  </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: left;">
            <span *ngIf="element.statusId==status.pass" class="badge badge-success">{{element.statusName}}</span>
            <span *ngIf="element.statusId==status.fail" class="badge badge-warning">{{element.statusName}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="remarks">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> REMARKS  </th>
          <td mat-cell *matCellDef="let element" style="width:12%; text-align: left;"> {{ element.remarks }} </td>
        </ng-container>

        <ng-container matColumnDef="dateOfAcknowledgement">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>  DATE OF ACKNOWLEDGEMENT </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;"> {{ ds.utc_to_local_time(element.dateOfAcknowledgement, ds.DATEFORMAT) }} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action  </th>
          <td mat-cell *matCellDef="let element; let row; let i = index" style="width:8%; text-align: left;">
            <button type="button" class="btn btn-sm btn-primary mr-1" (click)='pass(element.userId, i)'><i class="fa fa-check" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-sm btn-danger mr-1" (click)='fail(element.userId, i)'><i class="fa fa-times" aria-hidden="true"></i></button>
          </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageChange($event)">
    </mat-paginator>
  </div>
</div>
