
	<nav class="container-fluid main-nav d-none d-md-block">
		<div class="row">
			<div class="col">
				<ul class="nav justify-content-center">
					<li class="nav-item">
						<a class="nav-link active" href="javascript:void(0)">build a new career</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="javascript:void(0)">why metlife</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="javascript:void(0)">Success stories</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="javascript:void(0)">join us</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- End Nav -->


	<section class="banner">
	
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
				  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="images/banner.jpg" alt="banner" class="img-fluid">
						<div class="carousel-caption d-none d-md-block">
							<div class="container">
								<div class="row">
									<div class="col-12">
										<h5 class="banner__title">Grow & Succeed Together</h5>
									</div>
								</div>
								<div class="row banner__quote">
									<div class="col-6">
										<div class="banner__box">
											<form class="banner__frm">
												<div class="form-group">
													<label for="exampleFormControlSelect1">I Want To Know More About:</label>
													<select class="form-control" id="exampleFormControlSelect1">
														<option>Please Select Topic</option>
														<option>2</option>
														<option>3</option>
														<option>4</option>
														<option>5</option>
													</select>
												</div>
												<div class="form-group">
													<button type="button" class="btn btn-primary float-right">Go</button>
												</div>
											</form>
										</div>
									</div>
									<div class="col-6">
										<div class="banner__box">
											<article class="banner__article">
												<h3>Become a Businessman</h3>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
													natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, </p>
												<a href="javascript:void(0)" class="btn btn-primary">Apply Now</a>
											</article>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<img src="images/banner.jpg" alt="banner" class="img-fluid">
						<div class="carousel-caption d-none d-md-block">
							<div class="container">
								<div class="row">
									<div class="col-12">
										<h5 class="banner__title">Grow & Succeed Together</h5>
									</div>
								</div>
								<div class="row banner__quote">
									<div class="col-6">
										<div class="banner__box">
											<form class="banner__frm">
												<div class="form-group">
													<label for="exampleFormControlSelect1">I Want To Know More About:</label>
													<select class="form-control" id="exampleFormControlSelect1">
														<option>Please Select Topic</option>
														<option>2</option>
														<option>3</option>
														<option>4</option>
														<option>5</option>
													</select>
												</div>
												<div class="form-group">
													<button type="button" class="btn btn-primary float-right">Go</button>
												</div>
											</form>
										</div>
									</div>
									<div class="col-6">
										<div class="banner__box">
											<article class="banner__article">
												<h3>Become a Businessman</h3>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
													natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, </p>
												<a href="javascript:void(0)" class="btn btn-primary">Apply Now</a>
											</article>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				
				
					<div class="carousel-item">
						<img src="images/banner.jpg" alt="banner" class="img-fluid">
						<div class="carousel-caption d-none d-md-block">
							<div class="container">
								<div class="row">
									<div class="col-12">
										<h5 class="banner__title">Grow & Succeed Together</h5>
									</div>
								</div>
								<div class="row banner__quote">
									<div class="col-6">
										<div class="banner__box">
											<form class="banner__frm">
												<div class="form-group">
													<label for="exampleFormControlSelect1">I Want To Know More About:</label>
													<select class="form-control" id="exampleFormControlSelect1">
														<option>Please Select Topic</option>
														<option>2</option>
														<option>3</option>
														<option>4</option>
														<option>5</option>
													</select>
												</div>
												<div class="form-group">
													<button type="button" class="btn btn-primary float-right">Go</button>
												</div>
											</form>
										</div>
									</div>
									<div class="col-6">
										<div class="banner__box">
											<article class="banner__article">
												<h3>Become a Businessman</h3>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
													natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, </p>
												<a href="javascript:void(0)" class="btn btn-primary">Apply Now</a>
											</article>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>




				<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				  <span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				  <span class="carousel-control-next-icon" aria-hidden="true"></span>
				  <span class="sr-only">Next</span>
				</a>
			  </div>



	</section>
	<!-- End banner -->

	<section class="career-path">

		<div class="container">
			<div class="row">
				<div class="col">
					<h3 class="section-title">Your Career Path To Success With MetLife</h3>

					<ul class="nav career-path__tabs" id="myTab" role="tablist">
						<li>
							<a class="active"  id="partner-tab" data-toggle="tab" href="#partner" role="tab" aria-controls="partner" aria-selected="true">
								<div class="career-path__icon">
									<img src="images/icon-employees.png" alt="icon partner">
								</div>
								<span>Choose PArtner</span>
								<span class="career-path__arrow"></span>
							</a>
						</li>
						<li>
							<a id="learn_online-tab" data-toggle="tab" href="#learn_online" role="tab" aria-controls="learn_online" aria-selected="false">
								<div class="career-path__icon">
									<img src="images/icon-college-hat.png" alt="icon college hat">
								</div>
								<span>Learn online</span>
								<span class="career-path__arrow"></span>
							</a>
						</li>
						<li>
							<a id="gain_experience-tab" data-toggle="tab" href="#gain_experience" role="tab" aria-controls="gain_experience" aria-selected="false">
								<div class="career-path__icon">
									<img src="images/icon-vision.png" alt="icon vision">
								</div>
								<span>Gain Experience</span>
								<span class="career-path__arrow"></span>
							</a>
						</li>
						<li>
							<a id="start_earning-tab" data-toggle="tab" href="#start_earning" role="tab" aria-controls="start_earning" aria-selected="false">
								<div class="career-path__icon">
									<img src="images/icon-earning.png" alt="icon vision">
								</div>
								<span>Start Earning</span>
								<span class="career-path__arrow"></span>
							</a>
						</li>
					</ul>
			
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active partner-tab" id="partner" role="tabpanel" aria-labelledby="partner-tab">
							<div class="row">
								<div class="col-12 col-md-6">
									<article class="partner-tab__article">
										<h3>MetLife Empowers You To Choose The Team You Work With</h3>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
									</article>
								</div>
								<div class="col-12 col-md-6">
									<div class="partner-tab__button">
										<button type="button" class="btn btn-primary btn-block text-truncate mb-2">Learn more about selecting your partner</button>
										<button type="button" class="btn btn-primary btn-block">Start Now</button>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="learn_online" role="tabpanel" aria-labelledby="learn_online-tab">
							<h3>Learn online</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
						</div>
						<div class="tab-pane fade" id="gain_experience" role="tabpanel" aria-labelledby="gain_experience-tab">
							<h3>Gain Experience</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
						</div>
						<div class="tab-pane fade" id="start_earning" role="tabpanel" aria-labelledby="start_earning-tab">
							<h3>start earning</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

	<!-- End Career Path -->

	<section class="partner">
		<div class="container">
			<div class="row">
				<div class="col">

						<h3 class="section-title">MetLife, Your Trusted Partner</h3>

						<ul class="partner__list m-auto">
							<li>
								<a href="javascript:void(0)">
									<img src="images/gallery-1.jpg" alt="image">
								</a>
								<p>Market Leader Since 1965</p>
							</li>
							<li>
								<a href="javascript:void(0)">
									<img src="images/gallery-1.jpg" alt="image">
								</a>
								<p>Awards and Accolades</p>
							</li>
							<li>
								<a href="javascript:void(0)">
									<img src="images/gallery-1.jpg" alt="image">
								</a>
								<p>Hear it From Our Successful Partners</p>
							</li>
							<li>
								<a href="javascript:void(0)">
									<img src="images/gallery-1.jpg" alt="image">
								</a>
								<p>Management Commitment</p>
							</li>
						</ul>





				</div>
			</div>
		</div>
	</section>
	<!-- End Tab -->


	<section class="row no-gutters">
		<div class="col-12 col-md-6 order-2 order-md-1">
			<div class="promocard ">
				<article class="promocard__article">
					<h3>Start Your Free Training Now</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<button type="button" class="btn btn-primary btn-block">Register now</button>
				</article>						
			</div>
		</div>
		<div class="col-12 col-md-6 order-1 order-md-2">
			<img src="images/img2.jpg" class="promocard-img" alt="Generic placeholder image" >
		</div>
	</section>
	<!-- End Tab -->