<div class="row">
  <div class="col-12 col-xl-8 mx-auto pt-5 pb-5">
    <div class="row">
      <div class="col-sm-4 box-max-width mx-auto">
        <div class="thumbnail">
          <a href="javascript:void(0)">
            <span class="icon-reports"></span>
            <div class="caption"><p class="pt-2 text-center">REPORTS</p></div>
          </a>
        </div>
      </div>
      <div class="col-sm-4 box-max-width mx-auto">
        <div class="thumbnail">
          <a
            href="javascript:void(0)"
            [routerLink]="['/ap/reference-verification-list']"
          >
            <span class="icon-05"></span>
            <div class="caption">
              <p class="pt-2 text-center">REFERENCE VERIFICATION LIST</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-4 box-max-width mx-auto">
        <div class="thumbnail">
          <a href="javascript:void(0)">
            <span class="icon-06"></span>
            <div class="caption">
              <p class="pt-2 text-center">CALL CENTER ADMIN USER STATUS</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
