<!-- <div class="card-header" id="campaignTitle">

  <h5>
    <span class="dashboard-accordion__title">
      <span data-target="#campaign" data-toggle="collapse" aria-expanded="false" aria-controls="campaign">
        Create New Campaign
      </span>
    </span>

    <span class="dashboard-accordion__icon collapsed" data-toggle="collapse" aria-expanded="true" data-target="#campaign" aria-controls="campaign">
      <i data-feather="minus"></i>
      <i data-feather="plus"></i>
    </span>
  </h5> 
  
</div>-->
<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>Create Campaign</h3>
    </div>
  </header>
</section>
<!-- End Page Title -->

<div class="container">
  <div class="my-5 row">
    <!-- id="campaign" aria-labelledby="campaignTitle" data-parent="#campaign" -->
    <div class="card-body">
      <form class="needs-validation col-lg-8 mx-auto" #campaignInfoForm="ngForm" novalidate autocomplete="off">
        <!-- Campaign Name -->
        <div class="form-row">
          <!-- <div class="form-group col-md-1">
          </div> -->
          <div class="col-md-4">
            <span class="mandatory-sign">*</span>
            <label>Campaign Name</label>
          </div>

          <div class="form-group col-md-8">
            <input type="text" class="form-control  mandatory-field" [(ngModel)]='model.campaignName' name='campaignName' #campaignName='ngModel'
              [class.is-invalid]="campaignName.invalid &&(campaignName.dirty || campaignName.touched)" required>

            <div *ngIf="campaignName.invalid &&(campaignName.dirty || campaignName.touched)">
              <div *ngIf="campaignName.errors.required">
                <label class="has-error">Campaign name is required.</label>
              </div>
            </div>
          </div>
        </div>

        <!-- Campaign Code -->
        <div class="form-row">
          <!-- <div class="form-group col-md-1">
          </div> -->
          <div class="col-md-4">
            <span class="mandatory-sign">*</span>
            <label>Campaign Code</label>
          </div>

          <div class="form-group col-md-8">
            <input type="text" class="form-control  mandatory-field" [(ngModel)]='model.campaignCode' name='campaignCode' #campaignCode='ngModel'
              [class.is-invalid]="campaignCode.invalid &&(campaignCode.dirty || campaignCode.touched)" required pattern="^([\w/.\s@]*)$">

            <div *ngIf="campaignCode.invalid &&(campaignCode.dirty || campaignCode.touched)">
              <div *ngIf="campaignCode.errors.required">
                <label class="has-error">Campaign code is required.</label>
              </div>
              <div *ngIf="campaignCode.errors?.pattern">
                <label class="has-error">Special Character is not allowed.</label>
            </div>
            </div>
          </div>
        </div>

        <!-- Generate Campaign Link -->
        <div class="form-row">
          <!-- <div class="form-group col-md-1">
          </div> -->
          <div class="col-md-4">
          </div>

          <div class="form-group col-md-5">
            <button type="submit" class="btn btn-primary" (click)="generateCampaignLink()" [disabled]="model.id==0">
              <!-- [disabled]="model.id==0" -->
              Generate Campaign Link
            </button>
          </div>
        </div>
        <!-- Copy Campaign Link -->
        <div *ngIf="showCampaignLink" class="form-row">

          <div class="col-md-4">
          </div>

          <div *ngIf="showCampaignLink" class="form-group col-md-6">
            <input name="campaignLink" id="linkBx" [(ngModel)]="model.campaignLink" type="text" autocomplete="off" class="form-control mandatory-field"
              #campaignLink="ngModel" disabled/>
          </div>

          <div class="form-group col-md-2">
            <button type="submit" class="btn btn-primary" (click)="copyToClipBoard()" [disabled]="model.id==0" style="width: 80%">
              <!-- [disabled]="model.id==0" -->
              Copy
            </button>
          </div>


        </div>

        <!-- Campaign Start -->
        <div class="form-row campaign-start">
          <!-- <div class="form-group col-md-1">
          </div> -->
          <div class="form-group col-md-4">
            <span class="mandatory-sign">*</span>
            <label>Campaign Start</label>
          </div>

          <div class="form-group col-md-4">
            <input name="campaignStartDate" [(ngModel)]="model.campaignStartDate" type="text" autocomplete="off" class="form-control mandatory-field"
              [class.is-invalid]="campaignStartDate.invalid &&(campaignStartDate.dirty || campaignStartDate.touched)" [bsConfig]="datePickerConfig"
              (ngModelChange)="getDuration()" bsDatepicker [minDate]="currentDate" #campaignStartDate="ngModel" required/>

            <div *ngIf="campaignStartDate.invalid &&(campaignStartDate.dirty || campaignStartDate.touched)">
              <div *ngIf="campaignStartDate.errors.required">
                <label class="has-error">Campaign start date is required.</label>
              </div>
            </div>
            <div *ngIf="model.campaignEndDate < model.campaignStartDate">
              <label class="has-error">Please provide valid start date.</label>
            </div>
          </div>

          <div class="form-group col-md-4">
            <timepicker [(ngModel)]="model.campaignStartTime" #campaignStartTime="ngModel" autocomplete="off" class="custom-time-picker"
              name="campaignStartTime" required></timepicker>

          </div>
        </div>

        <!-- Campaign End -->
        <div class="form-row campaign-start">
          <!-- <div class="form-group col-md-1">
          </div> -->
          <div class="form-group col-md-4">
            <span class="mandatory-sign">*</span>
            <label>Campaign End</label>
          </div>

          <div class="form-group col-md-4">
            <input name="campaignEndDate" [(ngModel)]="model.campaignEndDate" type="text" autocomplete="off" class="form-control mandatory-field"
              [bsConfig]="datePickerConfig" (ngModelChange)="getDuration()" bsDatepicker [minDate]="currentDate" #campaignEndDate="ngModel"
              required [class.is-invalid]="campaignEndDate.invalid &&(campaignEndDate.dirty || campaignEndDate.touched)" />

            <div *ngIf="campaignEndDate.invalid &&(campaignEndDate.dirty || campaignEndDate.touched)">
              <div *ngIf="campaignEndDate.errors.required">
                <label class="has-error">Campaign end date is required.</label>
              </div>
            </div>
            <div *ngIf="model.campaignEndDate < model.campaignStartDate">
              <label class="has-error">Please provide valid end date.</label>
            </div>
          </div>

          <div class="form-group col-md-4">
            <timepicker [(ngModel)]="model.campaignEndTime" #campaignEndTime="ngModel" autocomplete="off" class="custom-time-picker"
              name="campaignEndTime" required></timepicker>
          </div>
        </div>

        <!-- Campaign Duration -->
        <div class="form-row">
          <!-- <div class="form-group col-md-1">
          </div> -->
          <div class="col-md-4">
            <span class="mandatory-sign">*</span>
            <label>Duration</label>
          </div>

          <div class="form-group col-md-8">
            <input style="margin-top: 0;" name="durationString" [(ngModel)]="durationString" type="text" readonly='true' autocomplete="off"
              class="form-control mandatory-field" required #campaignDuration="ngModel" />

            <div *ngIf="model.campaignDuration == 0">
              <label class="has-error">Please provide valid start and end date.</label>
            </div>

          </div>
        </div>

        <!-- Admin Verification End -->
        <div class="form-row campaign-start">

          <div class="form-group col-md-4">
            <span class="mandatory-sign">*</span>
            <label>Admin Verification End</label>
          </div>

          <div class="form-group col-md-4">
            <input [(ngModel)]="model.adminVerificationEndDate" name="adminVerificationEndDate" type="text" autocomplete="off" class="form-control mandatory-field custom-time-picker"
              [bsConfig]="datePickerConfig" (ngModelChange)="checkAdminVerificationTime()" bsDatepicker [minDate]="currentDate"
              #adminVerificationEndDate="ngModel" required [class.is-invalid]="adminVerificationEndDate.invalid &&(adminVerificationEndDate.dirty || adminVerificationEndDate.touched)"
            />

            <div *ngIf="adminVerificationEndDate.invalid &&(adminVerificationEndDate.dirty || adminVerificationEndDate.touched)">
              <div *ngIf="adminVerificationEndDate.errors.required">
                <label class="has-error">Admin verification end date is required.</label>
              </div>
            </div>
            <div *ngIf="!validAdminVerification">
              <label class="has-error">Admin verification end date must be in bewteen campaign start and end date.</label>
            </div>
          </div>

          <div class="form-group col-md-4">
            <timepicker [(ngModel)]="model.adminVerificationTime" name="adminVerificationTime" #adminVerificationTime="ngModel" autocomplete="off"
              class="custom-time-picker" required (ngModelChange)="checkAdminVerificationTime()"></timepicker>
          </div>
        </div>

        <!-- Policy Privilege -->
        <div class="form-row">
          <!-- <div class="form-group col-md-1">
          </div> -->
          <div class="col-md-4">
            <span class="mandatory-sign">*</span>
            <label>Policy Privilege</label>
          </div>

          <div class="form-group col-md-8">
            <mat-radio-group [(ngModel)]='model.isPolicyPrivileged' name="isPolicyPrivileged" (ngModelChange)="policyPrivilegedChanged()"
              required>
              <div class="row">
                <div class="col-md-2">
                  <mat-radio-button [value]="true" color="primary">Yes</mat-radio-button>

                </div>
                <div class="col-md-2">
                  <mat-radio-button [value]="false" color="primary">No</mat-radio-button>
                </div>
              </div>
            </mat-radio-group>
          </div>
        </div>

        <!-- Min Policy Req -->
        <div class="form-row">
          <!-- <div class="form-group col-md-1">
          </div> -->
          <div class="form-group col-md-4">
            <span class="mandatory-sign">*</span>
            <label>Minimum Policy Required</label>
          </div>

          <div class="form-group col-md-8">
            <input name="minPolicyRequired" [(ngModel)]="model.minPolicyRequired" type="number" autocomplete="off" class="form-control mandatory-field"
              #minPolicyRequired='ngModel' pattern="^([0-9\(\)\/\+ \-]*)$" min="0" [class.is-invalid]="minPolicyRequired.invalid &&(minPolicyRequired.dirty || minPolicyRequired.touched)"
              [required]="model.isPolicyPrivileged" [disabled]="!model.isPolicyPrivileged" />
            <div *ngIf="model.isPolicyPrivileged">
              <div *ngIf="minPolicyRequired.invalid &&(minPolicyRequired.dirty || minPolicyRequired.touched)">
                <div *ngIf="minPolicyRequired.errors.required">
                  <label class="has-error">Please, provide minimum required policy.</label>
                </div>
                <div *ngIf="(minPolicyRequired.errors && minPolicyRequired.errors.pattern)">
                  <label class="has-error">Minimum required policy must be number.</label>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- Training Fee Exemption -->
        <div class="form-row">
          <!-- <div class="form-group col-md-1">
          </div> -->
          <div class="form-group col-md-4">
            <span class="mandatory-sign">*</span>
            <label>Training Fee Exemption</label>
          </div>
          <div class="form-group col-md-8">
            <mat-radio-group [(ngModel)]='model.isTrainingFeeExempted' name='isTrainingFeeExempted' required>
              <div class="row">
                <div class="col-md-2">
                  <mat-radio-button [value]="true" color="primary">Yes</mat-radio-button>
                </div>
                <div class="col-md-2">
                  <mat-radio-button [value]="false" color="primary">No</mat-radio-button>
                </div>
              </div>
            </mat-radio-group>
          </div>
        </div>

        <!-- Premium Req -->
        <div class="form-row">
          <!-- <div class="form-group col-md-1">
          </div> -->
          <div class="form-group col-md-4">
              <span style='visibility: hidden' class="mandatory-sign">*</span>
            <label>Premium Required</label>
          </div>
          <div class="form-group col-md-8">
            <input name="premiumRequired" [(ngModel)]="model.premiumRequired" type="number" autocomplete="off" class="form-control mandatory-field"
              #premiumRequired='ngModel' pattern="\d*(\.\d+)?" min="0" [class.is-invalid]="premiumRequired.invalid &&(premiumRequired.errors && premiumRequired.errors.pattern)"
            />
            <div *ngIf="premiumRequired.invalid ">
              <div>
                <label class="has-error">Please, provide valid premium required.</label>
              </div>
              <div *ngIf="(premiumRequired.errors && premiumRequired.errors.pattern)">
                <label class="has-error">Premium required must be numeric.</label>
              </div>
            </div>
          </div>

        </div>


        <div class="form-row">
          <div class="form-group col-md-4">
          </div>
          <div class="form-group col-md-8">
            <button type="submit" class="btn btn-primary mr-2" (click)="save()" [disabled]='!campaignInfoForm.form.valid'>
              {{(model.id>0)? "Update":"Create"}}
            </button>
            <button type="submit" class="btn btn-primary" (click)="campaignInfoForm.reset()">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>