@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";
:host /deep/ .custom-time-picker {
    
    .btn-link {
        height: auto;
    }
    .bs-timepicker-field {
        padding: 0;
    }
}
.campaign-start {
    @include media-breakpoint-down(sm) {
        margin-bottom: 30px;
    }
    .form-group {
        display: table;
        height: 100px;
        margin-bottom: 0;        
        @include media-breakpoint-down(sm) {
            display: flex;
            height: auto;
        }
        label, .mandatory-sign {
            display: table-cell;
            vertical-align: middle;
        }
        input {
            margin-top: 30px;
            @include media-breakpoint-down(sm) {
                margin-top: 0px;
            }
        }
    }
}

.has-error{
    font-size: 12px;
    color: red;
    margin-left: 20px;;
}


.mandatory-sign{
    color: red;
    line-height: 31px;
    display: inline-block;
    width: 20px;
    text-align: center;
}

.mandatory-field{
    display: inline-block;
    width: calc(100% - 20px);
}

.mandatory-field-position{
    margin-left:20px;
    width: calc(100% - 20px)
}

.required:before{
    content: '*';
    color:red;
  }