<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <!-- call center -->
      <h3 *ngIf="roles.length == 1 && dashboardContent.length == 1">
        {{ dashboardContent[0].dashboardTitle }}
      </h3>

      <h3 *ngIf="roles.length > 1">DASHBOARD</h3>
      <!-- agency executive dashboard -->
    </div>
  </header>
</section>

<main class="profile-view training-admin-dashboard pt-4">
  <section class="container">
    <div class="row">
      <div class="col-md-3 bg-primary ">
        <div
          *ngIf="model?.id"
          class="mx-auto mt-md-5 mt-3 mb-3  profile-creation__photo"
          [ngStyle]="
            model?.profilePicUrl
              ? { 'background-image': 'url(' + model.profilePicUrl + ')' }
              : { 'background-image': 'url(' + profilePic + ')' }
          "
        ></div>

        <div class="profile-view__title">
          <p>
            <b>Name:</b>
            {{ accountService.getUserName() }}
          </p>
          <p class="mb-2">
            <b>Department:</b>
            {{ model?.department }}
          </p>
          <p>
            <b>Designation:</b>
            {{ model?.designation }}
          </p>
        </div>
      </div>
      <div class="col-md-9">
        <div class="container">
          <fieldset
            [ngClass]="{ 'fieldset-border': dashboardContent.length > 1 }"
            *ngFor="let item of dashboardContent"
          >
            <legend *ngIf="dashboardContent.length > 1" class="fieldset-border">
              {{ item.fieldSetTitle }}
            </legend>

            <div class="row">
              <div class="col-12 col-xl-8 mx-auto pt-5 pb-5">
                <div class="row">
                  <div
                    class="col-sm-4 box-max-width mx-auto"
                    *ngFor="
                      let dashboardDetails of item.roleWiseDashboardDetailses
                    "
                  >
                    <div class="thumbnail">
                      <a
                        href="javascript:void(0)"
                        (click)="onClick(dashboardDetails.routeLink)"
                      >
                        <span class="{{dashboardDetails.cssClassName}}"></span>
                        <div class="caption">
                          <p class="pt-2 text-center">
                            {{ dashboardDetails.label }}
                          </p>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>

          <!--
            <fieldset [ngClass]="{'fieldset-border': roles.length>1}" *ngIf="checkRole('Call center Admin')">
              <legend *ngIf="roles.length>1" class="fieldset-border">CALL CENTER ADMIN :</legend>
              <app-call-center-admin-dashboard></app-call-center-admin-dashboard>
            </fieldset>

            <fieldset [ngClass]="{'fieldset-border': roles.length>1}" *ngIf="checkRole('AGENCY EXECUTIVE Admin')">
              <legend *ngIf="roles.length>1" class="fieldset-border">AGENCY EXECUTIVE ADMIN:</legend>
              <app-agency-executive-dashboard></app-agency-executive-dashboard>

            </fieldset>

            <fieldset [ngClass]="{'fieldset-border': roles.length>1}" *ngIf="checkRole('Collections Admin')">
              <legend *ngIf="roles.length>1" class="fieldset-border">COLLECTION ADMIN:</legend>
              <app-collection-admin></app-collection-admin>

            </fieldset>

            <fieldset [ngClass]="{'fieldset-border': roles.length>1}" *ngIf="checkRole('Training Admin')">
              <legend *ngIf="roles.length>1" class="fieldset-border">TRAINING ADMIN:</legend>
              <app-training-admin-dashboard></app-training-admin-dashboard>

            </fieldset>

            <fieldset [ngClass]="{'fieldset-border': roles.length>1}" *ngIf="checkRole('Agency Service Admin')">
              <legend *ngIf="roles.length>1" class="fieldset-border">Agency Service Admin:</legend>
              <app-agency-service-admin></app-agency-service-admin>
            </fieldset>
          -->
        </div>
      </div>
    </div>
  </section>
  <!-- End Profile view -->
</main>
