<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12"><h3>List Of UM/ BM</h3></div>
  </header>
</section>
<!-- End Page Title -->

<div class="container">
  <div class="my-5">
    <!-- <h5>List Of UM/ BM</h5> -->
    <div class="row">
      <div class="col-6">
        <button
          mat-raised-button
          color="primary"
          type="button"
          class="btn btn-sm mb-2"
          (click)="add()"
        >
          <i class="fa fa-plus" aria-hidden="true"><span>Add New</span></i>
        </button>
      </div>
      <div class="col-6">
        <mat-form-field class="float-right" style="width: 100%">
          <input
            matInput
            (keyup)="filter($event.target.value)"
            placeholder="Search"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="table-responsive">
      <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 tbl-eligibility-criteria" style="width:100%">
        <ng-container matColumnDef="sl">
          <th mat-header-cell *matHeaderCellDef>SL#</th>
          <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
        </ng-container>
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</th>
          <td mat-cell *matCellDef="let element; let row; let i = index">
            <a
              href="javascript:void(0)"
              (click)="view(element.id, element.userCode, i)"
            >
              {{ element.firstName }}
            </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="agencyName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Agency</th>
          <td mat-cell *matCellDef="let element">{{ element.agencyName }}</td>
        </ng-container>

        <ng-container matColumnDef="mobileNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</th>
          <td mat-cell *matCellDef="let element">{{ element.mobileNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="teamMember">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Team Member</th>
          <td mat-cell *matCellDef="let element">{{ element.teamMember }}</td>
        </ng-container>

        <ng-container matColumnDef="quotaLimit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Quota Limit</th>
          <td mat-cell *matCellDef="let element">{{ element.quotaLimit }}</td>
        </ng-container>

        <ng-container matColumnDef="quotaConsume">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Quota Consume</th>
          <td mat-cell *matCellDef="let element">{{ element.quotaConsume }}</td>
        </ng-container>

        <ng-container matColumnDef="totalScore">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Score</th>
          <td mat-cell *matCellDef="let element">{{ element.totalScore }}</td>
        </ng-container>
        <ng-container matColumnDef="agentId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Agent Id</th>
          <td mat-cell *matCellDef="let element">{{ element.agentId }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element; let row; let i = index">
            <button
              type="button"
              class="btn btn-sm btn-primary mr-1"
              (click)="edit(element.id, element.userCode, i)"
            >
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <mat-paginator
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="pageChange($event)"
    ></mat-paginator>
  </div>
</div>
