<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>Security Policies</h3>
    </div>
  </header>
</section>
<!-- End Page Title -->

<div class="container">
  <div _ngcontent-c16="" class="my-5">
  <div class="row" *ngIf="errorMessage">
    <div class="col-xs-12 col col-md-12 col-lg-12">
      <div class="alert alert-danger">
        {{errorMessage}}
      </div>
    </div>
  
    <div class="registration-header">
        <!-- <h4>Security Policies</h4> -->
        <hr>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12">
      <a [routerLink]="['/ap/security-policy-create']" class="btn btn-success">Create a new policy</a>
      </div>
    </div> -->
    <br>
    <div class="row">
      <div class="col-md-12  col-sm-12 col-lg-12">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Id</th>
                <th>Required Length</th>
                <th>Require Non-Letter Or Digit</th>
                <th>Require Digit</th>
                <th>Require Lowercase</th>
                <th>Require Uppercase</th>
                <th>Default Password</th>
                <th>Allowed Invalid Attempts</th>
                <th>Password Validity Duration</th>
                <th>Historical Password Check</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let model of models; let i=index">
                <td>{{model.id}}</td>
                <td>{{model.requiredLength}}</td>
                <td>{{model.requireNonLetterOrDigit}}</td>
                <td>{{model.requireDigit}}</td>          
                <td>{{model.requireLowercase}}</td>          
                <td>{{model.requireUppercase}}</td>
                <td>{{model.defaultPassword}}</td>    
                <td>{{model.maxNumOfInvalidAttemAllowed}}</td>
                <td>{{model.accPassValidityDuration}}</td>
                <td>{{model.userHisPassCheckCount}}</td>     
                <td>
                  <div class="btn-group">
                      <button class="btn btn-sm btn-primary" [routerLink]="['/ap/security-policy-create/',model.id]" >Edit</button>
                      <!-- <button class="btn btn-sm btn-danger" (click)="delete(model.id,i)">Delete</button> -->
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>