<form #fromEligibility='ngForm'>
    <h3 mat-dialog-title>Eligibility Criteria</h3>

<mat-dialog-content my-5>

  <!--isExperiencedOrNot-->
  <!-- <div class="row">
      <div class="col-xs-6 col-md-6 col-lg-6 form-group ">
          <input  name="minimumAge" [(ngModel)]="model.minimumAge" placeholder="Minumum Age"
          type="number" class="form-control form-control-sm" min="0" maxlength="100" pattern="[0-9_]*"  #minimumAge="ngModel" required/>
      </div> 

      <div class="col-xs-6 col-md-6 col-lg-6 form-group ">
          <input  name="maximumAge" [(ngModel)]="model.maximumAge" placeholder="Maximum Age"
          type="number" class="form-control form-control-sm" min="0" maxlength="100" pattern="[0-9_]*"  #maximumAge="ngModel" required/>
      </div> 
  </div> -->

  <div class="form-group">
    <select class="form-control form-control-sm custom-select" [(ngModel)]='model.ageCriteriaId' #hqf='ngModel' name='ageCriteriaId' required>
        <option [ngValue]="undefined">Select Age Range</option>
        <option *ngFor="let item of ageList" [ngValue]="item.id">{{item.minAge}} - {{item.maxAge}}</option>
    </select>
</div>

  <div class="form-group">
      <select class="form-control form-control-sm custom-select" [(ngModel)]='model.minLevelOfEducation' #hqf='ngModel' name='HighestEducationId' required>
          <option [ngValue]="undefined">Select Minimum level of education</option>
          <option *ngFor="let item of eduList" [ngValue]="item.id">{{item.title}}</option>
      </select>
      <!-- <div *ngIf="(hqf.dirty || hqf.touched)">
          <div *ngIf="model.highestEducation==''">
              <label class="has-error">Select education qualification</label>
          </div>
      </div> -->
  </div>

  <div class="form-group">

      <select class="form-control form-control-sm custom-select" name="IsExperienced" required [(ngModel)]="model.isExAgent">
          <option [ngValue]='undefined'>Have You Work As a MetLife Financial Associate Earlier?</option>
          <option [ngValue]='true'>Yes</option>
          <option [ngValue]='false'>No</option>
      </select>
  </div>

  <!--involvedOrNot-->
  <div class="form-group">
      <select class="form-control form-control-sm custom-select" name="IsInvolved" [(ngModel)]='model.isInvolved' required>
          <option [ngValue]='undefined'>Do you belong to any military/political/government organization? </option>
          <option [ngValue]='true'>Yes</option>
          <option [ngValue]='false'>No</option>
      </select>
  </div>

  <!--arrestedOrNot-->
  <div class="form-group">
      <select class="form-control form-control-sm custom-select" name="HasCrime" [(ngModel)]='model.hasCriminalOffence' required>
          <option [ngValue]='undefined'>Have you ever been arrested or convicted of a crime? </option>
          <option [ngValue]='true'>Yes</option>
          <option [ngValue]='false'>No</option>
      </select>
  </div>

  <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 form-group ">
          <input  name="minTotalScore" [(ngModel)]="model.minTotalScore" placeholder="Minimum eligibility score"
          type="number" class="form-control form-control-sm" min="0" maxlength="100" pattern="[0-9_]*"  #minTotalScore="ngModel" required/>
          <!-- <div *ngIf="minTotalScore.errors?.pattern">
            <label class="has-error">Minimum age isn't valid</label>
          </div>
          <div *ngIf="minTotalScore.invalid && (minTotalScore.dirty || minTotalScore.touched)">
              <div *ngIf="minTotalScore.errors.required">
                  <label class="has-error">Minimum age required</label>
              </div>
          </div> -->
      </div> 
    </div>

</mat-dialog-content>

<mat-dialog-actions style="float: right;">
    <button type="button" [disabled]='!fromEligibility.form.valid' class="btn btn-sm btn-primary mr-1" (click)='save()'><i class="fa fa-save" aria-hidden="true"> Save</i></button>
    <button type="button" class="btn btn-sm btn-danger mr-1" (click)='close()'><i class="fa fa-times" aria-hidden="true"> Close</i></button>
</mat-dialog-actions>
</form>
