@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";
.policy-number {
    .custom-control {
      float: left;
      margin-top: 5px;
    }
    .input-wrapper {
      width: calc(100% - 40px);
      float: left;
    }
    .add-policy {
      margin-left: 40px;
    }
  }

  .bottom-states {
    float: left;

    .state-item {
      float: left;
      margin-right: 20px;
      @include media-breakpoint-down(sm) {
        clear: both;
        margin-right: 0;
      }
      span {
        font-size: 0.875rem;
        font-weight: bold;
        margin-top: 10px;
        float: left;
        @include media-breakpoint-down(sm) {
          font-size: 11px;
        }
      }
      .custom-control {
        @include media-breakpoint-down(sm) {
            width: 33px;
        }
      }
    }
  }