<div
  class="tab-pane fade col-12 active show"
  id="submit-policy"
  role="tabpanel"
  aria-labelledby="submit-documents-tab"
>
  <div class="dashboard-accordion" id="submit_policy">
    <div
      class="card-header mandatory-documents policy-number"
      id="policyNumberTitle"
    >
      <h5>
        <span
          class="dashboard-accordion__title collapsed"
          data-toggle="collapse"
          data-target="#policy_number"
          aria-expanded="false"
          aria-controls="policy_number"
        >
          Policy Number
        </span>
        <span
          class="dashboard-accordion__icon collapsed"
          data-toggle="collapse"
          data-target="#policy_number"
          aria-expanded="false"
          aria-controls="policy_number"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-minus"
          >
            <line x1="5" y1="12" x2="19" y2="12"></line>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-plus"
          >
            <line x1="12" y1="5" x2="12" y2="19"></line>
            <line x1="5" y1="12" x2="19" y2="12"></line>
          </svg>
        </span>
      </h5>
      <div
        id="policy_number"
        class="collapse"
        aria-labelledby="policyNumberTitle"
        data-parent="#submit_documents"
      >
        <div class="card-body">
          <div class="row">
            <div class="col-12 mandatory-documents__instructions">
              <p>Instructions:</p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>

              <form
                class="needs-validation pt-5 pb-3"
                #formPolicy="ngForm"
                novalidate=""
              >
                <div
                  class="form-row"
                  *ngFor="let item of polycies; let i = index"
                >
                  <div class="form-group col-md-5">
                    <div [ngClass]="get_class_att(item.statusId)">
                      <input
                        type="checkbox"
                        [id]="'checkbox_policy_' + i"
                        [name]="'checkbox_policy_' + i"
                        class="custom-control-input"
                        [checked]="item.id > 0"
                      />
                      <label
                        class="custom-control-label"
                        [for]="'checkbox_policy_' + i"
                      ></label>
                    </div>
                    <div class="input-wrapper">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Policy Number"
                        [(ngModel)]="item.policyNumber"
                        [name]="'checkbox_policy_' + i"
                        required=""
                      />
                    </div>
                  </div>
                  <div class="form-group col-md-7">
                    <button
                      type="button"
                      class="btn btn-primary btn-submit mr-2"
                      (click)="accept(i, item)"
                      *ngIf="account.canShow('btnAccept', 'PolicyNumber')"
                      [disabled]="
                        item.statusId == enumPolicy.rejected ||
                        item.statusId == enumPolicy.accepted
                      "
                    >
                      Accept
                    </button>
                    <button
                      type="button"
                      *ngIf="account.canShow('btnReject', 'PolicyNumber')"
                      class="btn btn-danger btn-submit"
                      (click)="reject(i, item)"
                      [disabled]="
                        item.statusId == enumPolicy.rejected ||
                        item.statusId == enumPolicy.accepted
                      "
                    >
                      Reject
                    </button>
                  </div>
                </div>
              </form>

              <div class="bottom-states">
                <div class="state-item">
                  <div
                    class="custom-control custom-radio my-checkbox my-checkbox-2 "
                  >
                    <input
                      checked=""
                      class="custom-control-input"
                      id="checkbox_bottom_state1"
                      name="checkbox_bottom_state1"
                      type="checkbox"
                    />
                    <label
                      class="custom-control-label"
                      for="checkbox_bottom_state1"
                    ></label>
                  </div>
                  <span>PENDING VERIFICATION</span>
                </div>
                <div class="state-item">
                  <div class="custom-control custom-radio">
                    <input
                      class="custom-control-input"
                      id="checkbox_bottom_state2"
                      name="checkbox_bottom_state2"
                      type="checkbox"
                    />
                    <label
                      class="custom-control-label"
                      for="checkbox_bottom_state2"
                    ></label>
                  </div>
                  <span>NOT SUBMITTED</span>
                </div>
                <div class="state-item">
                  <div
                    class="custom-control custom-radio my-checkbox my-checkbox-1 "
                  >
                    <input
                      checked=""
                      class="custom-control-input"
                      id="checkbox_bottom_state3"
                      name="checkbox_bottom_state3"
                      type="checkbox"
                    />
                    <label
                      class="custom-control-label"
                      for="checkbox_bottom_state3"
                    ></label>
                  </div>
                  <span>APPROVED/VALID</span>
                </div>
                <div class="state-item">
                  <div
                    class="custom-control custom-radio my-checkbox my-checkbox-3"
                  >
                    <input
                      checked=""
                      class="custom-control-input"
                      id="checkbox_bottom_state4"
                      name="checkbox_bottom_state4"
                      type="checkbox"
                    />
                    <label
                      class="custom-control-label"
                      for="checkbox_bottom_state4"
                    ></label>
                  </div>
                  <span>REJECTED/INVALID</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
