<div class="card-header" id="academicQualificationTitle">
  <h5>
    <span class="dashboard-accordion__title">
      <span data-target="#academic_qualification" data-toggle="collapse" aria-expanded="false" aria-controls="academic_qualification">
        Academic Qualification
      </span>
    </span>

    <span class="dashboard-accordion__icon collapsed" data-toggle="collapse" aria-expanded="false" data-target="#academic_qualification"
      aria-controls="academic_qualification">
      <i data-feather="minus"></i>
      <i data-feather="plus"></i>
    </span>
  </h5>

  <div id="academic_qualification" class="collapse" aria-labelledby="academicQualificationTitle" data-parent="#academic_qualification">
<!-- *ngIf="isEditable" -->
    <div class=" pt-4">

      <div *ngFor="let model of listOfQualifics; let i = index">
        <form class="needs-validation" #academicForm="ngForm" novalidate autocomplete="off">
          <div class="form-row">

            <!-- Degree Title -->
            <div class="form-group col-md-3">
              <select class="form-control mandatory-field" [(ngModel)]='model.educationId' name='educationId' #education='ngModel' [class.is-invalid]="(education.dirty || education.touched) && model.educationId==0" disabled>
                <option [ngValue]="0">Degree Title</option>
                <option *ngFor="let item of educations" [ngValue]="item.id">{{item.title}}</option>
              </select>
            </div>



            <!-- Board of Education -->
            <div class="form-group col-md-2">
              <select class="form-control mandatory-field" [(ngModel)]='model.boardId' name='boardId' #board='ngModel' [class.is-invalid]="(board.dirty || board.touched) && model.boardId==0" disabled>
                <option [ngValue]="0">Board of Education</option>
                <option *ngFor="let item of boards" [ngValue]="item.id">{{item.name}}</option>
              </select>
            </div>


            <!-- Name of Institute/Other board -->
            <div class="form-group col-md-3">
              <input type="text" class="form-control  mandatory-field" [(ngModel)]='model.institueName' name='institueName' placeholder="Name of Institute"
                #institueName='ngModel' [class.is-invalid]="institueName.invalid &&(institueName.dirty || institueName.touched)"
                disabled>
            </div>

            <!-- Passing Year -->
            <div class="form-group col-md-2">
              <input type="number" class="form-control mandatory-field" placeholder="Passing Year" [(ngModel)]='model.passingYear' name='passingYear' 
                #passYear='ngModel' maxlength="4" pattern="^([0-9]{4})$" max="9999"  [class.is-invalid]="(passYear.invalid && (passYear.dirty || passYear.touched)) || (passYear.errors && passYear.errors.pattern)"
                disabled>

            </div>

            <!-- Result -->
            <div class="form-group col-md-2">
              <input type="text" class="form-control mandatory-field" [(ngModel)]='model.result' name='result' placeholder="Results" #result='ngModel'
                [class.is-invalid]="result.invalid &&(result.dirty || result.touched)" disabled>
            </div>
          </div>

        </form>
      </div>
    </div>

  </div>

</div>


