<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>Exam Schedule</h3>
    </div>
  </header>
</section>
<!-- End Page Title -->

<div class="container-fluid mt-2">
  <div class="my-5">
    <!-- <h5>Exam Schedule</h5> -->

    <div class="row">
      <div class="col-sm-6">
        <div class="button-row">
          <button mat-raised-button color="primary" type="button" class="btn btn-sm mb-2" (click)='add()'><i class="fa fa-plus" aria-hidden="true">
            <span> Add New Exam Schedule</span></i></button>
        </div>
      </div>
      <div class="col-sm-6">
        <mat-form-field style="width: 100%">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput (keyup)="filter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </div>
    </div>
<div class="table-responsive">
    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 tbl-exam-schedule" style="width: 100%; min-width: 600px;">
      <ng-container matColumnDef="sl">
        <th mat-header-cell *matHeaderCellDef> SL# </th>
        <td mat-cell *matCellDef="let row; let i = index" class="text-align:center"> {{ (i+1)+(pageSize*(pageIndex-1))
        }} </td>
      </ng-container>
      <ng-container matColumnDef="examDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Exam Date </th>
        <td mat-cell *matCellDef="let element"> {{ dataService.utc_to_local_time(element.examDate) | date : 'dd/MM/yyyy' }} </td>
      </ng-container>

      <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Time </th>
        <td mat-cell *matCellDef="let element"> {{ dataService.utc_to_local_time(element.startTime) | date : 'shortTime'}} </td>
      </ng-container>

      <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> End Time </th>
        <td mat-cell *matCellDef="let element"> {{ dataService.utc_to_local_time(element.endTime) | date : 'shortTime'}} </td>
      </ng-container>

      <ng-container matColumnDef="durationStr">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration (hh:mm)</th>
        <td mat-cell *matCellDef="let element"> {{ element.durationStr}} </td>
      </ng-container>
      <ng-container matColumnDef="district">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>District</th>
        <td mat-cell *matCellDef="let element"> {{ element.districtName}} </td>
      </ng-container>
      <ng-container matColumnDef="area">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Area</th>
        <td mat-cell *matCellDef="let element"> {{ element.areaName}} </td>
      </ng-container>

      <ng-container matColumnDef="venueLocation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Venue Location</th>
        <td mat-cell *matCellDef="let element"> {{element.venueLocation}} </td>
      </ng-container>

      <ng-container matColumnDef="venueSeatingCapacity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Seating Capacity</th>
        <td mat-cell *matCellDef="let element"> {{element.venueSeatingCapacity}} </td>
      </ng-container>

      <ng-container matColumnDef="availableSeats">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Available Seats</th>
        <td mat-cell *matCellDef="let element"> {{element.availableSeats}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element; let row; let i = index">
          <button type="button" class="btn btn-sm btn-primary mr-1" (click)='edit(i)'><i class="fa fa-pencil-square-o"
              aria-hidden="true"></i></button>
          <button type="button" class="btn btn-sm btn-danger mr-1" (click)='delete(element.id)'><i class="fa fa-trash"
              aria-hidden="true"></i></button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageChange($event)">
    </mat-paginator>
  </div>

</div>
