<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>Role Permission</h3>
    </div>
  </header>
</section>
<!-- End Page Title -->

<div class="container">
  <div _ngcontent-c2="" class="my-5">

    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="registration-header">
          <!-- <h5>Role Permission </h5> -->
          <hr>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-lg-4 col-sm-4">
        <select class="form-control" #t (change)="roleChange(t.value)">
          <option value="select">Select</option>
          <option *ngFor="let role of roles" [value]="role.id"> {{role.description}}</option>
        </select>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-12  col-sm-12 col-lg-12">
        <div class="table-responsive">
          <table class="table table-hover mat-elevation-z8">
            <thead>
              <tr>
                <th>Menu Name</th>
                <th>View</th>
                <th>Insert</th>
                <th>Update</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let model of rolePermissionModel; let i = index">
                <td>{{model.menuName}}</td>
                <td>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" [value]="model.access" [(ngModel)]="model.access"
                      name="model.access-{{i}}">
                  </div>
                </td>
                <td>
                    <div class="form-check">
                  <input type="checkbox" class="form-check-input" [value]="model.insert" [(ngModel)]="model.insert"
                    name="model.insert-{{i}}">
                    </div>
                </td>
                <td>
                    <div class="form-check">
                  <input type="checkbox" class="form-check-input" [value]="model.update" [(ngModel)]="model.update"
                    name="model.update-{{i}}">
                    </div>
                </td>
                <td>
                    <div class="form-check">
                  <input type="checkbox" class="form-check-input" [value]="model.delete" [(ngModel)]="model.delete"
                    name="model.delete-{{i}}">
                     </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-lg-4">
        <button class="btn btn-primary" (click)="save()">Save</button>
      </div>
    </div>
  </div>
  <br>
</div>
