<section class="container-fluid bg-grey" *ngIf="isError">
  <header class="row page-header page-header--sm ">
    <div class="col-12">
      <h3 style="color: red">Your url expired &#9785; </h3>
    </div>
  </header>
</section>