.rd-spn{
  padding-left: 10px;
}

.rd-spn-span span{
  padding-left: 5px;
}

.has-error{
  font-size: 12px;
  color: red;
  margin-left: 20px;;
}

.madatory-sign{
  color: red;
  line-height: 31px;
  display: inline-block;
  width: 20px;
  text-align: center;
}

.mandatory-field{
  vertical-align: top;
  display: inline-block;
  width: calc(100% - 20px);
}

.madatory-field-position{
  margin-left:20px;
}

.text-style{
  font-size: 12px;
  margin-left: 5px;
}
.custom-file-upload {
  width: 78px;
  float: right;
  overflow: hidden;
  cursor: pointer;
  padding-left: 80px;
}

.custom-file-label {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 80px;
  white-space: nowrap;
}
.check-address {
  font-size: 14px;
  line-height: 24px;
}
.col-centered{
  float: none;
  margin: 0 auto;
}
