<section class="container-fluid bg-grey">
	<header class="row page-header page-header--sm">
		<div class="col-12">
			<h3>Sales Policy File Upload</h3>
		</div>
	</header>
</section>
<div id="personalInformation" class="collapse show" aria-labelledby="personalInformationTitle" data-parent="#my_details">
   <div class="card-body">
   <section class="personal-information__data row">
            <div class="container">
              <div class="row" align="center">
                <div class="col-sm-4 form-group">
                    <!-- <span class="madatory-sign">*</span>
                    <label>National Id</label> -->
                    <div class="custom-file madatory-field-position">
                        <input type="file" #candidateNid name='candidateNid' [accept]="fileType"
                            class="custom-file-input custom-file-upload" (change) = 'onFileChange($event)' required>
                        <label class="custom-file-label" for="candidateNid" required>{{ (fileName != null &&
                          fileName.length>0) ? fileName : 'Choose file'}}</label>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 form-group madatory-field-position">
                    <!-- [disabled]='!personalInfoForm.form.valid' -->
                    <button type="submit" class="btn btn-primary btn-submit" (click)='save()'>Submit</button>
                </div>
              </div>
            </div>
        </section>
     </div>
</div>
