<div class="primary-nav"  >
	<!-- <button href="#" class="hamburger open-panel nav-toggle"> <span class="screen-reader-text">Menu</span> </button> -->
	<nav role="navigation" class="menu" [class.custome-collapse]="isexpend"> 
        <!-- <a href="#" class="logotype">LOGO<span>TYPE</span></a> -->
		<div class="overflow-container">
						<!-- <div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Dropdown button
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</div> -->
			<ul class="menu-dropdown">
				<!-- <li><a href="#">Reports</a><span class="icon"><i class="fa fa-dashboard"></i></span></li> -->
				<li  class="menu-hasdropdown active click-able open"> <a aria-expanded="true" (click)="test()">Reports </a>
					<span class="icon"  *ngIf="!isexpend"><i class="fa fa-window-close"></i></span>
					<span class="icon" *ngIf="isexpend"><i class="fa fa-expand"></i></span>
					<label title="toggle menu" for="settings"> <span class="downarrow"><i class="fa fa-caret-down"></i></span> </label>
					<input type="checkbox" class="sub-menu-checkbox" id="settings" />
					<ul class="sub-menu-dropdown">
						<li *ngFor="let reportMenu of reportMenus" class="click-able"><a (click)="fnChangeReport(reportMenu)">{{reportMenu.menuName}}</a> 
							<span class="icon"><i class="fa fa-bar-chart"></i></span>
						
						</li>

						
					</ul>
				</li>
				<!-- <li><a href="#">Settings</a><span class="icon"><i class="fa fa-gear"></i></span></li>
				<li><a href="#">Messages</a><span class="icon"><i class="fa fa-envelope"></i></span></li> -->
			</ul>
		</div>
	</nav>
</div>

<!-- right panel -->
<!-- <div class="new-wrapper">
  <div id="main">
    <div id="main-contents">
      <h1>Multi-level Sidebar Push Navigation Demo</h1>

    </div>
  </div>
</div> -->
<!-- <script src="offcanvas-custom.js"></script>    script for click event-->