
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";
.custom-control .custom-control-label::after, 
.custom-control .custom-control-label::before {
    top: -1rem;
    width: 26px;
    height: 26px;
    cursor: not-allowed;
    pointer-events: none;
}

.referee-title {
    padding-bottom: 10px;
    font-weight: bold;
    float: left;
}

.custom-control {
    padding-left: 15px;
}
.custom-control-label {
    position: relative;
    margin-bottom: 0;
    float: left;
    margin-top: 15px;
    margin-left: -10px;
    @include media-breakpoint-down(xs) {        
        margin-top: 11px;
        margin-left: -4px;
    }
}
.value-items {
  margin-bottom: 10px;
}
.value-items p {
  margin-bottom: 5px;
}
.rejected {
  color: #f00;
}
.action-status-box {
    border: 2px solid #0090da;
    border-left: 10px solid #0090da;
    padding: 30px 30px 10px;    
    ol {
        padding-left: 0;        
    }
    ul {
        list-style: none;
        padding-left: 0px;
    }
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        margin-left: -3px;
        top: 2px;
        border-top: 6px solid #0090da;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }
}