<div
  class="tab-pane fade col-12 active show"
  id="submit-policy"
  role="tabpanel"
  aria-labelledby="submit-documents-tab"
>
  <div class="dashboard-accordion" id="submit_policy">
    <div class="card-header" id="referenceTitle">
      <h5>
        <span class="dashboard-accordion__title">
          <span
            data-target="#references"
            data-toggle="collapse"
            aria-expanded="true"
            aria-controls="references"
          >
            References
          </span>
        </span>
        <span
          class="dashboard-accordion__icon"
          data-toggle="collapse"
          aria-expanded="true"
          data-target="#references"
          aria-controls="references"
        >
          <i data-feather="minus"></i>
          <i data-feather="plus"></i>
        </span>
      </h5>
      <!-- Instruction -->
      <div
        id="references"
        class="collapse show"
        aria-labelledby="referenceTitle"
        data-parent="#references"
      >
        <div class="row">
          <div class="col-12 mandatory-documents__instructions pt-4">
            <p>Instructions:</p>
            <p class="pb-4">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>
        <div>
          <div *ngFor="let model of references; let i = index">
            <form
              class="needs-validation"
              #referenceForm="ngForm"
              novalidate
              autocomplete="off"
            >
              <div class="row">
                <div [ngClass]="getStatus(model)">
                  <input
                    type="checkbox"
                    [id]="'checkbox_referee_' + i"
                    [name]="'checkbox_referee_' + i"
                    class="custom-control-input"
                    [checked]="model.id > 0"
                    disabled="disabled"
                  />
                  <label
                    class="custom-control-label"
                    [for]="'checkbox_referee_' + i"
                  ></label>

                  <div class="referee-title">Referee {{ i + 1 }}:</div>
                  <!-- Edit/Close icon -->
                  <span _ngcontent-c9="" *ngIf="model.isPending">
                    <span
                      _ngcontent-c9=""
                      (click)="approvePressed(model)"
                      *ngIf="account.canShow('btnAccept', 'Refrence')"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        class="personal-information__edit-icon"
                      >
                        <path fill="none" d="M0 0h24v24H0z" />
                        <path
                          d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"
                        />
                      </svg>
                    </span>

                    <span
                      _ngcontent-c9=""
                      (click)="rejectPressed(model)"
                      *ngIf="account.canShow('btnReject', 'Refrence')"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-x personal-information__close-icon"
                        _ngcontent-c9="" 
                        style="margin-left: 6px;"
                      >
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                      </svg>
                    </span>

                    <span  _ngcontent-c9="" (click)="takeActions(model)" *ngIf="account.canShow('btnTakeAction', 'Refrence')"
                    >
                      <svg class="personal-information__edit-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M10.09 15.59L11.5 17l5-5-5-5-1.41 1.41L12.67 11H3v2h9.67l-2.58 2.59zM19 3H5c-1.11 0-2 .9-2 2v4h2V5h14v14H5v-4H3v4c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/></svg>
                    </span>
                  </span>
                  <span   _ngcontent-c9="" (click)="showActionHistories(i)" *ngIf="account.canShow('btnViewActionLog', 'Refrence')"
                    >
                      <svg style="margin-left: 6px;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                    </span>
                </div>
              </div>

              <!-- Form View -->
              <div class="pb-4">
                <div class="row">
                  <div class="col-sm-4">
                    <p *ngIf="model.remarks != null" class="rejected">
                      {{ model.remarks }}
                    </p>
                  </div>
                </div>
                <div class="value-items row">
                  <div class="col-sm-4">
                    <p>
                      <strong>Full Name:</strong>
                      {{ model.rafereeName }}
                    </p>
                    <p>
                      <strong>Occupation:</strong>
                      {{ model.occupation }}
                    </p>
                  </div>
                  <div class="col-sm-4">
                    <p>
                      <strong>Contact Number:</strong>
                      {{ model.contactNo }}
                    </p>
                    <p>
                      <strong>Company Name:</strong>
                      {{ model.companyName }}
                    </p>
                  </div>
                  <div class="col-sm-4">
                    <p>
                      <strong>Address:</strong>
                      {{ model.address }}
                    </p>
                  </div>
                </div>
                <div *ngIf='model.isActionHistoryShown' class="row">
                  <div class="col-sm-12">
                    <div  class="action-status-box">
                      <ol>
                        <li *ngFor="let action of model.actionList; let i = index">
                          {{action.actionName}}: {{action.statusName}} <br />{{action.remarks}}</li>                       
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
