<form #fromExamSchedule='ngForm'>
  <h3 mat-dialog-title>Exam Schedule</h3>

  <mat-dialog-content my-5>
    <div class="row">
      <div class="col-12 form-group ">
        <input name="examDate" [(ngModel)]="model.examDate" placeholder="Date Of Exam(DD/MM/YYYY)" type="text" autocomplete="off"
          class="form-control form-control-sm" [bsConfig]="datePickerConfig" (ngModelChange)="onDateChange()" bsDatepicker [minDate]="currentDate" required/>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6 form-group ">
        <label>Start Time</label>
        <timepicker [(ngModel)]="model.startTime" #startTime="ngModel" autocomplete="off" class="" name="startTime" required (ngModelChange)="getDuration()"></timepicker>
        
      </div>

      <div class="col-12 col-sm-6 form-group ">
        <label>End Time</label>
        <timepicker [(ngModel)]="model.endTime" #endTime="ngModel" autocomplete="off" class="" name="endTime" (ngModelChange)="getDuration()" required></timepicker>
      </div>
    </div>

    <div class="row">
      <div class="" *ngIf=" (startTime.dirty && timeCheck()) || (endTime.dirty && timeCheck())" class="alert alert-danger">
          End time must be larger than start time.
      </div>
    </div>

    <div class="row">
      <div class="" *ngIf="checkTodaysTime()" class="alert alert-danger">
          Exam is Today. Start time cannot be shorter than todays current time.
      </div>
    </div>


    <div class="row">
      <div class="col-12 form-group ">
        Duration (hh:mm): {{durationString}}
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6 form-group ">
        <select class="mandatory-field form-control custom-select" #districtId="ngModel" [(ngModel)]="model.districtId" name="districtId" required (ngModelChange)="getArea($event)">
          <option value="0" selected>Select District</option>
          <option *ngFor="let district of districts" [value]="district.districtId"> {{district.districtName}}</option>
        </select>
      </div>

      <div class="col-12 col-sm-6 form-group ">
        <select class="form-control custom-select mandatory-field" [(ngModel)]="model.areaId" name="areaId">
          <option value="0" selected>Select Area</option>
          <option *ngFor="let area of areas" [value]="area.areaId"> {{area.areaName}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-12 form-group ">
        <input name="venueLocation" [(ngModel)]="model.venueLocation" placeholder="Venue Location" type="text" autocomplete="off"
          class="form-control form-control-sm" required/>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6 form-group ">
        <input name="venueSeatingCapacity" [(ngModel)]="model.venueSeatingCapacity" placeholder="Venue Seating Capacity" type="number"
          class="form-control form-control-sm" min="0" maxlength="100" pattern="[0-9_]*" #venueSeatingCapacity="ngModel"
          (change)='changeSeatingCapacity()' required/>
      </div>

      <div class="col-12 col-sm-6 form-group ">
        <input name="availableSeats" [(ngModel)]="model.availableSeats" placeholder="Available Seats" type="number" class="form-control form-control-sm"
          min="0"  pattern="[0-9_]*" maxlength="100" #availableSeats="ngModel" required readonly/>
      </div>
    </div>

    <div class="row">
      <div class="col-12 form-group" *ngIf="availableSeats.errors?.min" class="alert alert-danger">
        <div>
          Available seats cannont be larger than the seating capacity.
        </div>
      </div>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions style="float: right;">
    <button type="button" class="btn btn-sm btn-primary mr-1" (click)='save()' [disabled]='!fromExamSchedule.form.valid || timeCheck() || checkTodaysTime() || isDistrictSelected() || buttonClicked'><i
        class="fa fa-save" aria-hidden="true"> Save</i></button>
    <button type="button" class="btn btn-sm btn-danger mr-1" (click)='close()'><i class="fa fa-times" aria-hidden="true">
        Close</i></button>
  </mat-dialog-actions>
</form>