<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>List Of Training Modules</h3>
    </div>
  </header>
</section>
<!-- End Page Title -->

<div class="container mt-2">
  <div class="my-5">
    <!-- <h5>List Of Training Modules</h5> -->
    <div class="row">
      <div class="col-5 col-sm-6">
        <button mat-raised-button color="primary" type="button" class="btn btn-sm mb-2" (click)='add()'><i class="fa fa-plus"
            aria-hidden="true" ><span> Add New</span></i></button>

      </div>
      <div class="col-7 col-sm-6">
        <mat-form-field class="float-right" style="width: 100%">
          <input matInput (keyup)="filter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </div>
    </div>
    <div class="table-responsive">
      <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 tbl-eligibility-criteria" style="width:100%; min-width: 400px;">
        <ng-container matColumnDef="sl">
          <th mat-header-cell *matHeaderCellDef> SL# </th>
          <td mat-cell *matCellDef="let row; let i = index"> {{ ((pageIndex-1)*pageSize) + i+1}} </td>
        </ng-container>
        <ng-container matColumnDef="moduleName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element; let row; let i = index"> {{element.moduleName}}</td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="isShow">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visibility </th>
            <td mat-cell *matCellDef="let element"> <i [ngClass]="(element.isShow === true) ? 'fa fa-check-square': 'fa fa-square-o'" aria-hidden="true" ></i> </td>
          </ng-container>

        <ng-container matColumnDef="moduleType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
          <td mat-cell *matCellDef="let element"> {{element.trainingModuleType.moduleType}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element; let row; let i = index">
            <button type="button" class="btn btn-sm btn-primary mr-1" (click)='edit(element.id, i)'><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-sm btn-danger mr-1" (click)='delete(element.id, i)'><i class="fa fa-trash" aria-hidden="true"></i></button>
            <!-- <button type="button" class="btn btn-sm mr-1" (click)='changeSortOrder(element, i, true)'><i class="fa fa-level-up" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-sm mr-1" (click)='changeSortOrder(element, i, false)'><i class="fa fa-level-down" aria-hidden="true"></i></button> -->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageChange($event)">
    </mat-paginator>
  </div>
</div>