<section class="container-fluid bg-grey">
    <header class="row page-header page-header--sm">
        <div class="col-12">
            <h3>Language Setting</h3>
        </div>
    </header>
</section>
<div class="container">
    <div class="row my-5">
        <div class="col-sm-12">
            <form action="" #formValue="ngForm" (ngSubmit)="formValue.form.valid && fnPostLanguageSetting()">
                <div class="row">
                    <div class="form-group col-md-8 col-lg-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label for="status" class="mb-sm-0 mt-sm-2 font-weight-bold">Portal</label>                                
                            </div>
                            <div class="col-sm-7">
                                <select class="form-control" name="portalCode" [(ngModel)]="languageSetting.portalCode">
                                    <option *ngFor="let portal of listOfPortal" [value]="portal">{{portal}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-8 col-lg-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label for="status" class="mb-sm-0 mt-sm-2 font-weight-bold">Language</label>                                
                            </div>
                            <div class="col-sm-7">
                                <select class="form-control" name="status" [(ngModel)]="languageSetting.languageCode">
                                    <option *ngFor="let lang of listOfLanguage" [value]="lang">{{lang}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-8 col-lg-6" [class.has-error]="cPLnSource.touched && cPLnSource.invalid">
                        <div class="row">
                            <div class="col-sm-5">
                                <label for="role" class="mb-sm-0 mt-sm-2 font-weight-bold">Portal Language Source</label>                                
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" [(ngModel)]="languageSetting.cpLnSource" required name="cPLnSource" #cPLnSource="ngModel">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-8 col-lg-6 text-right">                     
                        <button type="button " class="btn btn-danger" style="margin-right:5px" (click)="fnCreateNewRecord()">Reset</button>
                        <button type="submit " class="btn btn-primary" [disabled]="formValue.invalid">{{(languageSetting.id!=null
                            && languageSetting.id>0)==true?'Update':'Save'}}</button>                        
                    </div>
                </div>
            </form>
            <app-p-table [pTableSetting]="languageSettingTableSetting" [pTableMasterData]="languageSettingData" (customActivityOnRecord)="fnPtableCallBack($event)"></app-p-table>
        </div>
    </div>
</div>
