.custom-right-panel {
    width: calc(100% - 50px);
    float: right;
    .card {
        max-width: 700px;
        margin: auto;
        border: 0;
        .card-header {
            background-color: transparent;
            border: 0;
            text-align: center;
            font-size: 20px;
        }
    }
}
.p-table-header {
    background: transparent;
}