<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>Report Panel</h3>
    </div>
  </header>
</section>
<app-side-navbar></app-side-navbar>
<div class="custom-right-panel my-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">{{reportTitle}}</div>
            <div class="card-body">
              <dynamic-form-builder *ngIf="this.fields.length>0" [fields]="fields" (onSubmit)="fnGetSubmitValues($event)" (fnChangeDropDown)="fnChangeDropDown($event)"></dynamic-form-builder>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div *ngIf="this.dynamicReportData.length>0">
              <app-p-table [pTableSetting]="dynamicReportTableSetting" [pTableMasterData]="dynamicReportData"></app-p-table>
            </div>
            <div class="pt-4 record-status text-center" *ngIf="this.dynamicReportData.length==0"> <span>No Record Available </span> </div>
        </div>
    </div>
  </div>
</div>
