<form #fromReassignCcAdmin='ngForm'>
  <h3 mat-dialog-title>Call Center Admins</h3>
  <mat-dialog-content my-5>

    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 form-group ">
        <select class="mandatory-field form-control custom-select" name="lockedBy" [(ngModel)]="model.lockedBy"
          required>
          <option [ngValue]="0" selected>Select Call Center Admin</option>
          <option *ngFor="let ccUser of ccUsers" [ngValue]="ccUser.userId"> {{ccUser.fullName}} ({{ccUser.userId}})</option>
        </select>
      </div>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions style="float:right;">
    <button type="button" class="btn btn-sm btn-primary mr-1" (click)='save()' [disabled]='model.lockedBy==0'><i
        class="fa fa-save" aria-hidden="true">
        Save</i></button>
    <button type="button" class="btn btn-sm btn-danger mr-1" (click)='close()'><i class="fa fa-times" aria-hidden="true">
        Close</i></button>
  </mat-dialog-actions>
</form>