
<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3 mat-dialog-title>Exam Setting</h3>
    </div>
  </header>
</section>
<!-- End Page Title -->

<div class="container">
  <div class="my-5">

    <!-- <h5 class="page-title">Exam Setting</h5> -->

    <div class="row">
      <div class="col-md-12">
        <div class="button-row">
          <button mat-raised-button color="primary" class="btn btn-sm mb-2" mat-raised-button (click)='add()'>
            <i class="fa fa-plus" aria-hidden="true"><span> Add New Exam Setting</span></i>
          </button>
        </div>
      </div>
      <!-- <div class="col-md-6">
        <mat-form-field class="float-right" style="width: 100%">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput (keyup)="filter($event.target.value)" placeholder="Search Setting">
        </mat-form-field>
      </div> -->
    </div>
<div class="table-responsive">
    <table mat-table matSort [dataSource]="dataSource" class="table mat-elevation-z8" style="width: 100%; min-width: 500px;">
      <ng-container matColumnDef="sl">
        <th mat-header-cell *matHeaderCellDef> SL# </th>
        <td mat-cell *matCellDef="let row; let i = index" class="text-align:center"> {{ (i+1)+(pageSize*(pageIndex-1))
          }} </td>
      </ng-container>

      <ng-container matColumnDef="totalNoOfQuestion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Question</th>
        <td mat-cell *matCellDef="let element"> {{element.totalNoOfQuestion}} </td>
      </ng-container>

      <ng-container matColumnDef="questionPerPage">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Question Per Page</th>
        <td mat-cell *matCellDef="let element"> {{element.questionPerPage}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>

        <td mat-cell *matCellDef="let element">
          <!-- <mat-icon [hidden]="!element.status" color="primary"> check</mat-icon>
          <mat-icon [hidden]="element.status" color="warn">close</mat-icon> -->
          <span *ngIf="element.status===true">Active</span>
          <span *ngIf="element.status===false">Inactive</span>
          </td>
      </ng-container>

      <ng-container matColumnDef="createdOn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created </th>
        <td mat-cell *matCellDef="let element"> {{ dataService.utc_to_local_time(element.createdOn,
          dataService.DATEFORMAT)}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element; let row; let i = index">
          <button class="btn btn-sm btn-primary mr-1" (click)='edit(element.id)'>
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </button>
          <!-- <button mat-icon-button color="warn" (click)='delete(element.id)'>
            <mat-icon aria-label="Edit"><i class="fa fa-trash" aria-hidden="true"></i></mat-icon>
          </button> -->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageChange($event)">
    </mat-paginator>
  </div>
</div>
