<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3 mat-dialog-title>Exam Setting</h3>
    </div>
  </header>
</section>
<!-- End Page Title -->

<form class="exam-setting-form" [formGroup]="examForm">
  <!-- <h3 mat-dialog-title>Exam Setting</h3> -->

  <mat-dialog-content my-5>
    <div class="row" formGroupName="questionPerPageGroup">
      <div class="col-xs-6 col-md-6 col-lg-6 ">
        <mat-form-field class="column-full-width">
          <input matInput name="totalNoOfQuestion" placeholder="Total number of Question" formControlName="totalNoOfQuestion"
            type="number" (blur)="logValidationErrors()" />
          <mat-error *ngIf="formErrors.totalNoOfQuestion">
            {{ formErrors.totalNoOfQuestion }}
          </mat-error>

          <mat-error *ngIf="constrol['errors']?.totalNumQ &&
          constrol.touched">
            Sum of module wise number of question must be equal to the total number of question.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-6 col-md-6 col-lg-6">
        <mat-form-field class="column-full-width">
          <input matInput name="questionPerPage" placeholder="Question Per Page" type="number" formControlName="questionPerPage"
            (blur)="logValidationErrors()" />
          <mat-error>{{ formErrors.questionPerPage }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row" formGroupName="passScoreGroup">
      <div class="col-xs-6 col-md-6 col-lg-6 ">
        <mat-form-field class="column-full-width">
          <input matInput name="totalScore" placeholder="Total Score" type="number" formControlName="totalScore" (blur)="logValidationErrors()" />
          <mat-error *ngIf="formErrors.totalScore">
            {{ formErrors.totalScore }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-xs-6 col-md-6 col-lg-6">
        <mat-form-field class="column-full-width">
          <input matInput name="passScore" placeholder="Pass Score" type="number" formControlName="passScore" (blur)="logValidationErrors()" />
          <mat-error *ngIf="formErrors.passScore">
            {{ formErrors.passScore }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4 col-md-4 col-lg-4">
        <mat-checkbox name="status" formControlName="status" class="example-margin" (blur)="logValidationErrors()">
          Status
        </mat-checkbox>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12" formGroupName="questionPerPageGroup">
        <table class="column-full-width" formArrayName="modules">
          <tr style="display: block;" *ngFor="
              let module of moduleCtrl;
              let i = index
            "
            [formGroupName]="i">
            <td>


              <button mat-mini-fab class="btn-increment ml-0">{{ i + 1 }}</button>
            </td>
            <td>
              <mat-form-field class="column-full-width">
                <mat-select placeholder="Module Name" formControlName="moduleId" (blur)="logValidationErrors()">
                  <mat-option *ngFor="let m of temptrainingModule[i]" [value]="m.id">
                    {{ m.moduleName }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="module.get('moduleId').errors?.required &&
                module.get('moduleId').touched">
                  Module name is required.
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="column-question-no-width">
                <input matInput name="numberOfQuestion_{{ i }}" placeholder="Number of Questions" type="number"
                  formControlName="numberOfQuestion" (blur)="logValidationErrors()" />
                <mat-error *ngIf="module.get('numberOfQuestion').errors?.required &&
                module.get('numberOfQuestion').touched">
                  Number of question is required.
                </mat-error>
                <mat-error *ngIf="module.get('numberOfQuestion').errors?.maxQuesThenModuleQues &&
                module.get('numberOfQuestion').touched">
                  {{maxQuesThenModuleQuesError(module)}}
                </mat-error>
                <mat-error *ngIf="module.get('numberOfQuestion').errors?.min &&
                module.get('numberOfQuestion').touched">
                  Number of question must be greater than 0.
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <div class="column-action-width">
                <button mat-mini-fab color="warn" (click)="addOption(i)" *ngIf="moduleCtrl.length > 1">
                  x
                </button>
                <button mat-mini-fab color="primary" (click)="addOption()" *ngIf="moduleCtrl.length == i + 1">
                  +
                </button>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions style="float: right;">
    <button type="button" class="btn btn-sm btn-primary mr-1" (click)="save()" mat-raised-button color="primary" [disabled]="examForm.invalid">
      <i class="fa fa-save" aria-hidden="true"> Save</i></button>

    <button type="button" class="btn btn-sm btn-danger" (click)="close()" mat-raised-button color="warn">
      <i class="fa fa-times" aria-hidden="true"> Close</i></button>
  </mat-dialog-actions>

</form>
