.column-full-width {
  width: 100%;
}

.btn-increment.mat-mini-fab.mat-accent {
  border-radius: 0;
  background: #e1e1e1;
  margin: 0 10px 0 0;
  color: black;
  box-shadow: 0 0;
}

.column-action-width {
  width: 100px;
}

.exam-setting-form .mat-mini-fab {
  margin: 5px;
}

/* .mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper,
.mat-form-field-appearance-legacy .mat-form-field-underline {
  position: static;
} */
