<section _ngcontent-c1="" class="container-fluid bg-grey">
  <header _ngcontent-c1="" class="row page-header page-header--sm">
    <div _ngcontent-c1="" class="col-12">
      <h3 _ngcontent-c1="">CONTACTED USERS LIST</h3>
    </div>
  </header>
</section>

<div class="container">
  <div class="my-5">
    <div class="row">
      <div class="offset-md-6 col-xs-6 col-md-6 col-lg-6">
        <mat-form-field class="float-right" style="width: 100%">
          <input matInput (keyup)="filter()" [(ngModel)]="searchText" name="searchText" placeholder="Search">
        </mat-form-field>
      </div>
    </div>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="table mat-elevation-z8" style="width:100%; min-width: 400px;">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> User Name</th>
          <td mat-cell *matCellDef="let element">{{element?.firstName}} {{element?.middleName}} {{element?.lastName}}</td>
        </ng-container>

        <ng-container matColumnDef="mobile">
          <th mat-header-cell *matHeaderCellDef> Mobile Number</th>
          <td mat-cell *matCellDef="let element"> {{element?.mobile}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email ID </th>
          <td mat-cell *matCellDef="let element"> {{element?.email}}</td>
        </ng-container>

        <ng-container matColumnDef="commnet">
          <th mat-header-cell *matHeaderCellDef> Message </th>
          <td mat-cell *matCellDef="let element"> {{element?.comment}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageChange($event)">
    </mat-paginator>
  </div>
</div>