<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>User Permission</h3>
    </div>
  </header>
</section>
<!-- End Page Title -->

<div class="container">
  <div class="my-5">
    <div class="row" *ngIf="errorMessage">
      <div class="col-12">
        <div class="alert alert-danger">
          {{errorMessage}}
        </div>
      </div>
    </div>
    <div class="row" *ngIf="successMessage">
      <div class="col-xs-12 col col-md-12 col-lg-12">
        <div class="alert alert-success">
          {{successMessage}}
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-12">

        <form>
          <div class="registration-header">
            <!-- <h4>User Permission</h4> -->
            <hr>
          </div>
          <div class="row">
            <div class="col-12">
              <label>User </label>
              <div class="typeahead__container">
                <div class="typeahead__field">
                  <div class="typeahead__query">
                    <input class="js-typeahead-hockey_v2" id="search" name="hockey_v2[query]" type="search" placeholder="Search"
                      autocomplete="off">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
        </form>
      </div>
    </div>
    <div class="row" *ngIf="users.length>0">
      <div class="col-sm-4">
        <select class="form-control" #t (change)="onChange(t.value)">
          <option value="0">Select</option>
          <option *ngFor="let user of users" [value]="user.id"> {{user.fullName}}</option>
        </select>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12  col-sm-12 col-lg-12">
        <div class="table-responsive">
          <table class="table table-hover mat-elevation-z8">
            <thead>
              <tr>
                <th>Role Name</th>
                <th>Assign</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let model of models">
                <td>{{model.description}}</td>
                <td>
                  <input type="checkbox" class="form-check-input" [value]="model.userExists" [(ngModel)]="model.userExists"
                    name="model.userExists-{{i}}">
                  <!-- <input type="checkbox" [checked]="model.userExists" (click)="roleSelect(model.roleId)" > -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 mt-2">
        <button class="btn btn-primary" (click)="save()">Save</button>
      </div>
    </div>
    <br>
  </div>
</div>
