
// Examination
// --------------------------------------------------
.mat-form-field-infix {
    border: 0;
}
.mat-paginator {    
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}
app-exam-setting-dialog{
.mat-form-field-appearance-legacy .mat-form-field-label {
    border: $blue;
}
}
.mat-focused .mat-form-field-flex, 
.mat-form-field-flex, 
.mat-form-field-label, 
.mat-form-field.mat-focused .mat-form-field-label, 
.mat-form-field-appearance-legacy .mat-form-field-label {
    border: $blue;
}
.mat-form-field.mat-focused .mat-form-field-ripple, 
.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: $blue;
}
.mat-icon.mat-primary {
    color: $blue;
}
.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
    color: $blue;
}
