// Tagging
// --------------------------------------------------

.tagging {

    $this: tagging !default;
    
    //--- tagging search ---
    &__search {
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        .form-control {
            height: 42px;
            display: block;
            @include media-breakpoint-up(md) {
                width: 346px;
            }
        }
        .btn {
            width: 115px;            
            height: 42px;
            text-transform: uppercase;

        }
        &--search {
            color: $black;
            text-align: center;
            font-size: rem(13px);
        }
    }
    //--- tagging list ---
    &__list {
        margin-bottom: 15px;
        &--item {
            min-height: 340px;
            @extend %white-box;
            margin-bottom: 20px;
            @include media-breakpoint-down(md) {
                flex-wrap: wrap; 
                padding-bottom: 15px;
                align-items: flex-start;
            }
        }
        .btn {
            width: 162px;
            margin-left: 25px;
            line-height: 28px;
            margin-right: 25px;
            text-transform: uppercase;
            font: {
                size: 13px;
                weight: bold;
            }
        }
        &--img {
            width: 350px;
            display: flex;
            align-items: center;
            justify-content: center;

        }
    }
    &__info {
        flex: 1;
        padding: 25px 25px 6px;
        h3 {
            margin-bottom: 0;
            font: {
                weight: bold;
                size: rem(24px);
            }
        }
        h4 {
            font: {
                weight: bold;
                size: rem(13px);
            }
        }
        p,address,li {
            font-size: rem(13px);
        }
        @include media-breakpoint-up(md) {
            margin-left: 10px;
        }
        .feather {
            width: 18px;
            height: 18px;
            stroke: white;
            fill: #0090da;
            cursor: pointer;
          }
    }

    // --- preference-search ---
    &__preference-search {
        padding-top: 40px;
        padding-bottom: 40px;
         h3 {
             font-weight: bold;
             font-size: rem(22px);
         }
         .#{$this}__card {
            width: 350px;
            height: 250px;
            padding: 15px;
            text-align: center;
            background-color: $white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
            margin-bottom: 20px;
            box-shadow: 0 0 10px rgba($color: #ccc, $alpha: 0.5);

            .btn {
                min-width: 120px;
                text-transform: uppercase;
            }
         }
    }

    // --- selected tagging ---

    &__selected {        
        @extend %white-box;
        @include media-breakpoint-down(md) {
            flex-wrap: wrap; 
            padding-bottom: 15px;
            align-items: flex-start;
        }
        &--acknowledgement {
            padding-top: 30px
            h3 {
                font: {
                    weight: bold;
                    size: rem(22px);
                }
            }
            p {
                color: $black;
                font-size: rem(14px);
            }
        }
    }
}

// ---------- bulk-upload -------------
.bulk-upload {

    &__lbl {
        padding-right: 30px;
        line-height: 38px;
    }
    &__browse{
        flex: 1;
        @include media-breakpoint-up(md) {
            padding-right: 80px;
        }
        @include media-breakpoint-down(sm) {
            padding-bottom: 15px;
        }
    }
    .btn {
        @include media-breakpoint-up(md) {
            width: 160px;
        }
        @include media-breakpoint-down(sm) {
            width: 100%;
        }  
    }
    
}