<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>{{legendTitle}}</h3>
    </div>
  </header>
</section>

<div class="container-fluid mt-2">
  <div class="my-5">
    <div class="row">
      <div class="col-sm-6 col-md-8"></div>
      <div class="col-sm-6 col-md-4">
        <mat-form-field class="float-right " style="width: 100%">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput id='search' placeholder="Search">
        </mat-form-field>
      </div>
    </div>


    <div class="table-responsive">

      <mat-table [dataSource]="dataSource" matSort>
        <ng-container [matColumnDef]="item" *ngFor="let item of displayedColumns">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{getHeader(item)}}</mat-header-cell>
          <div *ngIf="isurl(item)">
            <mat-cell *matCellDef="let row">
              <a href="javascript:void(0)" (click)="onUrlClick(item,row)">
                {{row[item.toLowerCase()]}}
              </a>
            </mat-cell>
          </div>
          <div *ngIf="!isurl(item)">
            <mat-cell *matCellDef="let row">{{row[item.toLowerCase()]}}</mat-cell>
          </div>


        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
    </div>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageChange($event)">
    </mat-paginator>
  </div>

</div>
