<div class="card-header personal-information" id="personalInformationTitle">
  <h5>
      <span class="dashboard-accordion__title">
          <span data-toggle="collapse" data-target="#personalInformation" aria-expanded="true" aria-controls="personalInformation">Personal
              Information</span>
      </span>
      <span class="dashboard-accordion__icon" data-toggle="collapse" data-target="#personalInformation" aria-expanded="true"
          aria-controls="personalInformation">
          <i data-feather="minus"></i>
          <i data-feather="plus"></i>
      </span>
  </h5>
  <div id="personalInformation" class="collapse show" aria-labelledby="personalInformationTitle" data-parent="#my_details">
      <div class="card-body">
          <section class="personal-information__data row">
              <div class="col-12 col-md-4">
                  <div class="row">
                      <span class="col-5 personal-information__lbl">Full Name:</span>
                      <span class="col-7 personal-information__val">{{model.firstName}} {{model.middleName}} {{model.lastName}}</span>
                  </div>
                  <div class="row">
                    <span class="col-5 personal-information__lbl">Father Name:</span>
                    <span class="col-7 personal-information__val">{{model.fatherName}}</span>
                </div>
                  <div class="row">
                      <span class="col-5 personal-information__lbl">Mother Name:</span>
                      <span class="col-7 personal-information__val">{{model.motherName}}</span>
                  </div>
                  <div class="row">
                    <span class="col-5 personal-information__lbl">Preferred Location:</span>
                    <span class="col-7 personal-information__val">{{model.preferedArea}}</span>
                  </div>
                  <div class="row">
                    <span class="col-5 personal-information__lbl">Present Address:</span>
                    <span class="col-7 personal-information__val">{{model.presentAddress}}</span>
                  </div>
              </div>

              <div class="col-12 col-md-4">
                  <div class="row">
                      <span class="col-5 personal-information__lbl">Mobile No.:</span>
                      <span class="col-7 personal-information__val">
                          <a href="tel:+XXX-XXXX-XXXX">{{model.mobileNo}}</a>
                      </span>
                  </div>
                  <div class="row">
                      <span class="col-5 personal-information__lbl">Email:</span>
                      <span class="col-7 personal-information__val">
                          <a href="mailto:masudurrahman@gmail.com">{{model.email}}</a>
                      </span>
                  </div>
                  <div class="row">
                    <span class="col-5 personal-information__lbl">FACode:</span>
                    <span class="col-7 personal-information__val">{{model.faCode}}</span>
                  </div>
                  <div class="row">
                    <span class="col-5 personal-information__lbl">Preferred District:</span>
                    <span class="col-7 personal-information__val">{{model.preferedDistrict}}</span>
                  </div>
                  <div class="row">
                    <span class="col-5 personal-information__lbl">Permanent Address:</span>
                    <span class="col-7 personal-information__val">{{model.permanentAddress}}</span>
                  </div>
              </div>

              <div class="col-12 col-md-4">
                  <div class="row">
                      <span class="col-5 personal-information__lbl">Date of Birth:</span>
                      <span class="col-7 personal-information__val">{{model.dob | date: 'dd/MM/yyyy'}}</span>
                  </div>
                  <div class="row">
                      <span class="col-5 personal-information__lbl">Marital Status:</span>
                      <span class="col-7 personal-information__val">{{model.maritalStatus}}</span>
                  </div>
                  <div class="row">
                    <span class="col-5 personal-information__lbl">Gender:</span>
                    <span class="col-7 personal-information__val">{{model.gender}}</span>
                  </div>
                  <div class="row">
                    <span class="col-5 personal-information__lbl">Nationality:</span>
                    <span class="col-7 personal-information__val">{{model.nationality}}</span>
                  </div>
              </div>

          </section>

      </div>
  </div>
</div>
<!-- End Personal Information -->