<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>Role</h3>
    </div>
  </header>
</section>
<!-- End Page Title -->

<div class="container">
  <div class="my-5">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12">

        <form (ngSubmit)="save()">
          <div class="registration-header">
            <!-- <h4>Role </h4> -->
            <hr>
          </div>
          <div class="row">
            <div class="col-sm-6 col-12 d-flex align-items-end ">
              <div class="form-group w-100">
                  <label>Role Name</label>
                  <input class="form-control form-control-sm" [(ngModel)]='model.description' name="description" required />
              </div>
            </div>
            <div class="col-sm-3 col-6 d-flex justify-content-start justify-content-sm-center align-items-center align-items-sm-end">
              <div class="form-check form-group">
                <input type="checkbox" class="form-check-input" [(ngModel)]='model.status' name="status">
                <label class="form-check-label" for="exampleCheck1">Active</label>
              </div>
            </div>
            <div class="col-sm-3 col-6 d-flex justify-content-end align-items-end">
              <div class="btn-group form-group">
                <button class="btn btn-primary mr-1">Save</button>
                <button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive">
          <table class="table table-hover mat-elevation-z8">
            <thead>
              <tr>
                <th>Role Name</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let model of models">
                <td>{{model.description}}</td>
                <td>{{model.status==true?"Active":"Inactive"}}</td>
                <td class="d-flex">
                  <div class="btn-group">
                    <button class="btn btn-sm btn-primary mr-1" (click)="edit(model.id)">Edit</button>
                  </div>
                  <div class="btn-group">
                    <button class="btn btn-sm btn-danger" (click)="delete(model.id)">Delete</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
