<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>Campaign List</h3>
    </div>
  </header>
</section>
<!-- End Page Title -->

<div class="container">
  <div class="my-5">

    <div class="row">
      <div class="col-sm-5">
        <div class="button-row">
          <button mat-raised-button color="primary" type="button" class="btn btn-sm mb-2" (click)='add()'><i class="fa fa-plus" aria-hidden="true">
            <span> Add New Campaign</span></i></button>
        </div>
      </div>
      <div class="col-sm-7">
        <mat-form-field style="width: 100%">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput (keyup)="filter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </div>
    </div>
    <div class="table-responsive">
        <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 tbl-camp-list text-center">
          <ng-container matColumnDef="sl">
            <th mat-header-cell *matHeaderCellDef> SL# </th>
            <td mat-cell *matCellDef="let row; let i = index" class="text-align:center"> {{ (i+1)+(pageSize*(pageIndex-1))
            }} </td>
          </ng-container>

          <ng-container matColumnDef="cmpName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Campaign Name</th>
            <td mat-cell *matCellDef="let element"> {{element.campaignName}} </td>
          </ng-container>

          <ng-container matColumnDef="cmpCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Campaign Code</th>
            <td mat-cell *matCellDef="let element"> {{element.campaignCode}} </td>
          </ng-container>

          <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
            <td mat-cell *matCellDef="let element"> {{ dataService.utc_to_local_time(element.campaignStartDate) | date : 'dd/MM/yyyy' }} </td>
          </ng-container>

          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
            <td mat-cell *matCellDef="let element"> {{ dataService.utc_to_local_time(element.campaignEndDate) | date : 'dd/MM/yyyy'}} </td>
          </ng-container>

          <ng-container matColumnDef="minPolicyReq">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Minimum Policies Required</th>
            <td mat-cell *matCellDef="let element"> {{element.minPolicyRequired ? element.minPolicyRequired : 0 }} </td>
          </ng-container>

          <ng-container matColumnDef="trainingFeeExempted">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Training Fee Exemption</th>
            <td mat-cell *matCellDef="let element"> {{element.isTrainingFeeExempted ? "Yes" : "No"}} </td>
          </ng-container>

          <ng-container matColumnDef="noOfCandidateRegiWithCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Number of candidates registered with code </th>
            <td mat-cell *matCellDef="let element"> {{element.noOfCandidateRegiWithCode}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element; let row; let i = index">
              <button type="button" class="btn btn-sm btn-primary mr-1" (click)='edit(i)'><i class="fa fa-pencil-square-o"
                  aria-hidden="true"></i></button>
              <button type="button" class="btn btn-sm btn-danger mr-1" (click)='delete(element.id)'><i class="fa fa-trash"
                  aria-hidden="true"></i></button>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageChange($event)">
    </mat-paginator>
  </div>

</div>
