<div class="slide-content">
	<div class="slide-content-inner">
		<div class="slide-content-inner__left">
			<input type="text" name="" id="" [(ngModel)]="presentation.title" />
			<button class="btn btn-primary" style="display: block" (click)="fnShowPreview()">Preview </button>
			<!-- slide content -->
			<!-- <ul>
				<li  *ngFor="let s of presentation.slideDetails" [ngClass]="{'active':slide.id==s.id}" >
					<button class="btn btn-close btn-close" (click)="fnDeleteSlide(s)">x</button>
					<a class="btn-copy" (click)="fnCopySlide(s)"><i class="fa fa-copy"></i></a>
					<a (click)="fnRenderSlide(s)" ><span class="item-number">{{s.id}}</span>						
						<img src="images/slide-image.png" alt="" style="padding: 3px;" />
					</a>
				</li>
			</ul> -->

			<ul class="ul-dragable">
				<div *ngFor="let s of presentation.slideDetails"  class="dragable-content"
				 [makeDraggable]="s" makeDroppable (dropped)="onDrop($event,s)">
					<li class="dragable" [ngClass]="{'active':slide.id==s.id}">
						<button class="btn btn-close btn-close" (click)="fnDeleteSlide(s)">x</button>
						<a class="btn-copy" (click)="fnCopySlide(s)"><i class="fa fa-copy"></i></a>
						<a (click)="fnRenderSlide(s)"><span class="item-number">{{s.id}}-{{s.order}}</span>
							<img [src]="fnGetCoverImage(s)" onError="src='images/slide-image.png'" alt="" style="padding: 3px;" />
						</a>
					</li>
				</div>
			</ul>
			<!-- slide content end -->
			<div class="views">
				<div class="grid-view"><a href="#"><i data-feather="grid"></i></a></div>
				<div class="list-view"><a href="#"><i data-feather="list"></i></a></div>
				<div class="skip-thumbnail-bar">
					<button type="button" class="btn btn-skip-thumbnail">
						<i data-feather="chevron-left"></i>
					</button>
				</div>
			</div>
		</div>

		<div class="slide-content-inner__right">
			<button class="btn-full-page"><i data-feather="chevron-up"></i></button>
			<div class="top-bar-feature" id="main-row">
				<div class="top-menubar">
					<ul>
						<li><a (click)="fnGetImage('Images')"><i data-feather="image" title="Images"></i></a>
							<div class="right-floating-tab" [style.display]="this.leftSidePopup==true && selectedTab=='Images'?'block':'none'">
								<button class="btn btn-close btn-custom-close" (click)="fnCloseModal()">x</button>
								<div class="tab-content profile-tabs-content row" id="profileTabContent">
									<div class="tab-pane fade col-12 active show" id="my-details" role="tabpanel" aria-labelledby="details-tab">
										<!-- Images Content -->
										
										<div class="image-content">
												<div class="row justify-content-between my-2 w-100">
														<div class="search-box">
														<input class="form-control" type="text" [(ngModel)]="searchText"  placeholder="Search" aria-label="Search">
													</div>
													<div _ngcontent-c5="" class="madatory-field-position responsive-desing upload-btn">
														<input _ngcontent-c5="" class="" name="candidatePic61" (change)="fnUploadImage($event,'Images')"
														 required="" type="file" accept=".jpg,.bmp,.jpeg,.png">
													</div>
												</div>

											<div class="row ">
												<div class="img-box" *ngFor="let image of listOfImages | filterByList:searchText">
                            <div class="draggable-object trigger responsive-desing float-none mb-0" style="width:80px;height:80px;">
												       <img [src]="image" alt=""  style="width:100%;height:100%"  />
											     </div>
												    <p>{{addContentName(image)}}</p>
												</div>
											</div>	
										</div>
										<!-- Images Content end -->
									</div>
								</div>
							</div>
						</li>
						<li><a (click)="fnGetImage('Videos')"><i data-feather="video"></i></a>
							<div class="right-floating-tab" [style.display]="this.leftSidePopup==true && selectedTab=='Videos'?'block':'none'">
								<button class="btn btn-close btn-custom-close" (click)="fnCloseModal()">x</button>
								<div class="tab-content profile-tabs-content row" id="profileTabContent">
									<div class="tab-pane fade col-12 active show" id="my-details" role="tabpanel" aria-labelledby="details-tab">
										<!-- Video Content -->
										<div class="image-content">
												<div class="row justify-content-between my-2 w-100">
														<div class="search-box">
														<input class="form-control" [(ngModel)]="searchText" type="text" placeholder="Search" aria-label="Search">
													</div>
													<div _ngcontent-c5="" class="madatory-field-position responsive-desing upload-btn">
															<input _ngcontent-c5="" name="candidatePic61" (change)="fnUploadImage($event,'Videos')"
															required="" type="file" accept=".mp4,.wmv,.mov,.avi">
													</div>
												</div>

												<div class="row">
														
														<div class="img-box" *ngFor="let video of listOfVideos | filterByList:searchText">
																<div class="draggable-object trigger responsive-desing float-none mb-0" >
																		<video width="100%" height="100%" controls>
																				<source [src]="video" type="video/mp4">
																			</video>
															 </div>
																<p>{{addContentName(video)}}</p>
														</div>
													</div>	
										</div>
										<!-- Videl Content end -->
									</div>
								</div>
							</div>
						</li>
						<li><a (click)="fnGetImage('Audio')"><i class="fa fa-file-audio-o"></i></a>
							<div class="right-floating-tab" [style.display]="this.leftSidePopup==true && selectedTab=='Audio'?'block':'none'">
								<button class="btn btn-close btn-custom-close" (click)="fnCloseModal()">x</button>
								<div class="tab-content profile-tabs-content row" id="profileTabContent">
									<div class="tab-pane fade col-12 active show image-content" id="my-details" role="tabpanel" aria-labelledby="details-tab">

										<!-- <div class="image-content">
											<audio controls class="draggable-object audio-shape" start-time="5" end-time="15" *ngFor="let audio of listOfAudio"
											 [id]="fnGenerateId(audio)">
												<source [src]="audio" type="audio/mpeg">
											</audio>
										</div> -->

										<div class="image-content">
												<div class="row justify-content-between my-2 w-100">
														<div class="search-box">
														<input class="form-control" [(ngModel)]="searchText" type="text" placeholder="Search" aria-label="Search">
													</div>
													<div _ngcontent-c5="" class="madatory-field-position responsive-desing upload-btn">
															<input _ngcontent-c5="" name="candidatePic61" (change)="fnUploadImage($event,'Audio')"
												 required="" type="file" accept=".jpg,.bmp,.jpeg,.png">
													</div>
												</div>

                        <div class="row">
														<div class="img-box" *ngFor="let audio of listOfAudio | filterByList:searchText">
																<div class="draggable-object audio-file-draggable trigger responsive-desing float-none mb-0">
																		<audio controls class="audio-shape audio-content" start-time="5" end-time="15"  [id]="fnGenerateId(audio)">
																				<source [src]="audio" type="audio/mpeg">
																			</audio>
															 </div>
																<p>{{addContentName(audio)}}</p>
														</div>
													</div>

											<!-- Images Content -->
											
										</div>
										<!-- Images Content end -->
									</div>
								</div>
							</div>
						</li>
						<li><a (click)="fnGetImage('Avatars')"><i class="fa fa-user-secret"></i></a>
							<div class="right-floating-tab" [style.display]="this.leftSidePopup==true && selectedTab=='Avatars'?'block':'none'">
								<button class="btn btn-close btn-custom-close" (click)="fnCloseModal()">x</button>
								<div class="tab-content profile-tabs-content row" id="profileTabContent">
									<div class="tab-pane fade col-12 active show image-content" id="my-details" role="tabpanel" aria-labelledby="details-tab">
										<!-- Avatar Content -->
										<div class=" image-content">
												<div class="row justify-content-between my-2 w-100">
														<div class="search-box">
														<input class="form-control" [(ngModel)]="searchText" type="text" placeholder="Search" aria-label="Search">
													</div>
													<div _ngcontent-c5="" class="madatory-field-position responsive-desing upload-btn">
															<input _ngcontent-c5="" name="candidatePic4" required="" type="file"
												 accept=".jpg,.bmp,.jpeg" (change)="fnUploadImage($event,'Avatars')">
													</div>
												</div>


												<div class="row">
														<div class="img-box" *ngFor="let avatar of listOfAvatar | filterByList:searchText">
																<div class="draggable-object avatar-shape-draggable trigger responsive-desing float-none mb-0" style="width:80px;height:80px;">
																		<img [src]="avatar" alt="" style="width:100%;height:100%" />
															 </div>
																<p>{{addContentName(avatar)}}</p>
														</div>
													</div>
										</div>
										<!-- <div class="btn-file-upload">
											<div _ngcontent-c5="" class="custom-file madatory-field-position responsive-desing">
												<input _ngcontent-c5="" class="custom-file-input custom-file-upload" name="candidatePic4" required="" type="file"
												 accept=".jpg,.bmp,.jpeg" (change)="fnUploadImage($event,'Avatars')">
												<label _ngcontent-c5="" class="custom-file-label" for="candidatePic4">maxresdefault185024683.jpg</label>
											</div>
										</div> -->
										<!-- Avatar Content end -->
									</div>
								</div>
							</div>
						</li>
						<li><a (click)="fnGetImage('Shapes')"><i data-feather="layout"></i></a>
							<div class="right-floating-tab" [style.display]="this.leftSidePopup==true && selectedTab=='Shapes'?'block':'none'">
								<button class="btn btn-close btn-custom-close" (click)="fnCloseModal()">x</button>
								<div class="tab-content profile-tabs-content row" id="profileTabContent">
									<div class="tab-pane fade col-12 active show image-content" id="my-details" role="tabpanel" aria-labelledby="details-tab">
										<!-- Shape Content -->
										<div class="image-content">
											<div class="draggable-object default-shape-color responsive-desing circle-shape" style="position:relative;display: table-cell;vertical-align: middle;" >
												<p class="text-center text-editor" style="position:relative;"></p>
											</div>
											<div class="realobject default-shape-color responsive-desing square-shape" style="width:80px;height:80px; padding:0px 0;display: flex;justify-content: center;align-items: center;">
												<p class="text-center text-editor" style="position:relative;"></p>
											</div>
											<div class="realobject default-shape-color responsive-desing rectangle-shape-shade" style="padding:0px 0;display: flex;justify-content: center;align-items: center;" >
												<p class="text-center text-editor" style="position:relative;"></p>
											</div>
											<div class="realobject responsive-desing rectangle-shape-shade-1"style="padding:0px 0;display: flex;justify-content: center;align-items: center;"  >
												<p class="text-center text-editor" style="position:relative;"></p>
											</div>
											<div class="alert alert-primary realobject responsive-desing" style="position:relative;display: table-cell;vertical-align: middle;" role="alert">
												<p class="text-center text-editor" style="position:relative;"></p>
											</div>
											
											<div class="alert alert-primary realobject responsive-desing parallelogram-shape" style="padding:0px 0;display: flex;justify-content: center;align-items: center;"  role="alert">
												<p class="text-center text-editor" style="position:relative;"></p>
											</div>
											
											<div class="realobject yes-shape responsive-desing" style="width:80px;height:80px;">
												<p class="text-editor"></p>
											</div>
											<div class="realobject no-shape responsive-desing" style="width:80px;height:80px;">
												<p class="text-editor"></p>
											</div>
											<div class="realobject responsive-desing curve-button-shape" style="width:80px;height:80px;">
												<div class="curve-button" style="width: 100%;height:100%;padding-top: 1px !important;border-radius: 20px 0;background: transparent;border: 2px solid #a5cb57;padding:0px 0;display: flex;justify-content: center;align-items: center;">
													<p class="text-editable" style="font-size: 12px;white-space: initial;color:white;"></p>
												</div>
											</div>

											<div class="responsive-desing button-box-size">
												<div class="btn btn-primary btnObj trigger d-flex justify-content-center align-items-center ">
													<p class="mb-0">Button</p>
												</div>
											</div>
										</div>
										<!-- Shape Content end -->
									</div>
								</div>
							</div>
						</li>
						<!-- <li><a><i data-feather="italic"></i></a>
							<div>
								<div class="ck-editor text-editor-draggable responsive-desing avatar-shape">
									<div class="text-container">
										<p>CK editor.</p>
									</div>
								</div>
							</div>
						</li> -->
						<li><a (click)="fnGetImage('Icons')"><i class="fa fa-assistive-listening-systems"></i></a>
							<div class="right-floating-tab" [style.display]="this.leftSidePopup==true && selectedTab=='Icons'?'block':'none'">
								<button class="btn btn-close btn-custom-close" (click)="fnCloseModal()">x</button>
								<div class="tab-content profile-tabs-content row" id="profileTabContent">
									<div class="tab-pane fade col-12 active show image-content" id="my-details" role="tabpanel" aria-labelledby="details-tab">
										<!-- Icons Content -->
										<div class=" image-content">

												<div class="row justify-content-between my-2 w-100">
														<div class="search-box">
														<input class="form-control" [(ngModel)]="searchText" type="text" placeholder="Search" aria-label="Search">
													</div>
													<div _ngcontent-c5="" class="madatory-field-position responsive-desing upload-btn">
															<input _ngcontent-c5="" name="candidatePic4" required="" type="file"
												 accept=".jpg,.bmp,.jpeg" (change)="fnUploadImage($event,'Icons')">
													</div>
												</div>

												<div class="row">
														<div class="img-box" *ngFor="let icon of listOfIcon | filterByList:searchText">
																<div class="draggable-object trigger responsive-desing float-none mb-0" style="width:80px;height:80px">
																		<img [src]="icon" alt=""  style="width:100%;height:100%"  />
															 </div>
																<p>{{addContentName(icon)}}</p>
														</div>
													</div>
										</div>
										<!-- Icons Content end -->
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="top-menubar">
					<ul style="visibility: hidden;">
						<li><a href="#"><i data-feather="lock"></i></a></li>
						<li><a href="#"><i data-feather="map-pin"></i></a></li>
						<li><a href="#"><i data-feather="link"></i></a></li>
						<li><a href="#"><i data-feather="image"></i></a></li>
						<li><a href="#"><i data-feather="file"></i></a></li>
						<li><a href="#"><i data-feather="italic"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="slide-content-inner__right-left">
				<div class="top-menubar" style="display: none;">
					<ul>
						<li><a (click)="fnGetImage('Images')"><i data-feather="image">wwww</i></a></li>
						<li><a href="#"><i data-feather="file"></i></a></li>
						<li><a href="#"><i data-feather="italic"></i></a></li>
						<li><a href="#"><i data-feather="filter"></i></a></li>
						<li><a href="#"><i data-feather="layout"></i></a></li>
						<li><a href="#"><i data-feather="italic"></i></a></li>
						<li><a href="#"><i data-feather="list"></i></a></li>
						<li><a href="#"><i data-feather="link"></i></a></li>
						<li><a href="#"><i data-feather="home"></i></a></li>
						<li><a href="#"><i data-feather="menu"></i></a></li>
						<li><a href="#"><i data-feather="map"></i></a></li>
						<li><a href="#"><i data-feather="maximize"></i></a></li>
						<li><a href="#"><i data-feather="mic"></i></a></li>
						<li><a href="#"><i data-feather="log-in"></i></a></li>
						<li><a href="#"><i data-feather="log-out"></i></a></li>
						<li><a href="#"><i data-feather="mail"></i></a></li>
						<li><a href="#"><i data-feather="image"></i></a></li>
					</ul>
				</div>
				<div class="top-menubar property-item" style="display: block;">
					<div class="input-box" data-option-type="text-size">
						<div class="ck-editor text-editor-draggable responsive-desing">
							<div class="text-container">
								<p >Text</p>
							</div>
						</div>
					</div>

					<div class="input-box" data-option-type="text-size">
						<app-object-properties [slides]="this.presentation.slideDetails" [property]="selectedProperty"></app-object-properties>
					</div>

				</div>
			</div>
			<div class="main-content-wrapper">
				<div class="main-content">
					<div class="aspectRatioPlaceholder-fill" style="padding-bottom: 70.56%;"></div>
					<div id="outerContainer">
						<div id="container" class="ui-widget-content">
							<div id="inner-container" style="height: 100% !important;">
								
							</div>
						</div>
					</div>
					<!-- <ul class="right-sticky-item">
						<li><a href=""><i data-feather="user"></i></a></li>
						<li><a href=""><i data-feather="mail"></i></a></li>
						<li><a href=""><i data-feather="home"></i></a></li>
					</ul> -->
					<div class="button-wrapper">
						<button type="button" class="btn btn-primary mr-2" (click)="savePresentation()">{{this.slide.id>0?'Update':'Save'}}</button>
						<button type="button" class="btn btn-primary" (click)="fnResetSlide()">Reset</button>
					</div>
					<div class="bottom-page-input">

						<div class="input-box pt-2" data-option-type="text-size">
							<label>Next Slide No</label>
							<select class="form-control p-0 font-13" [(ngModel)]="nextButtonProp.nextSlideNo" (change)="fnApplyNextPrevButtonAction()">
								<option [value]="0">Select</option>
								<option *ngFor="let s of presentation.slideDetails" [value]="s.order">Slide No {{s.order}}</option>
							</select>
						</div>

						<div class="input-box" data-option-type="text-size">
							<label>Previous Slide No</label>
							<select class="form-control p-0 font-13" [(ngModel)]="nextButtonProp.prevSlideNo" (change)="fnApplyNextPrevButtonAction()">
								<option [value]="0">Select</option>
								<option *ngFor="let s of presentation.slideDetails" [value]="s.order">Slide No {{s.order}}</option>
							</select>
						</div>
						<div class="input-box" data-option-type="text-size">
							<label>Self enabled delay time(s)</label>
							<input  [(ngModel)]="nextButtonProp.selfEnabledDelayTime" class=" form-control input-box__input" (keyup)="fnApplyNextPrevButtonAction()"/>							
						</div>
						<div class="input-box" data-option-type="text-size">
							<label>Enabled after click sequence no.</label>
							<input  [(ngModel)]="nextButtonProp.sequenceNoClickingNextButtonEnabled" class="form-control input-box__input" (keyup)="fnApplyNextPrevButtonAction()"/>		
						</div>
						<div class="input-box" data-option-type="text-size">
							<label>Enabled delay after click sequence</label>
							<input  [(ngModel)]="nextButtonProp.nextButtonEnabledDelayTime" class="form-control input-box__input" (keyup)="fnApplyNextPrevButtonAction()"/>		
						</div>
					</div>
				</div>
				<div class="right-floting-panel-wrapper">
					<button type="button" class="btn plus-button" (click)="fnToggleRightBar()">
						<i data-feather="plus"></i>
					</button>
					<div class="right-floating-tab" [style.display]="this.rightSideBar==false?'none':'block'">
						<section class="">
							<div class="nav-tabs profile-tabs">
								<div class="container">
									<div class="row">
										<ul class="nav col-12" id="profileTab" role="tablist">
											<li class="nav-item">
												<a class="nav-link active" id="details-tab" data-toggle="tab" href="#my-theme" role="tab" aria-controls="my-details"
												 aria-selected="true">Templates</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" id="submit-documents-tab" data-toggle="tab" href="#submit-documents" role="tab"
												 aria-controls="submit-documents" aria-selected="false">Saved Presentation</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</section>
						<section class="container">
							<div class="tab-content profile-tabs-content row" id="profileTabContent">
								<div class="tab-pane fade col-12 active show" id="my-theme" role="tabpanel" aria-labelledby="details-tab">
									<div class="container">
										<div class="row">
											<div class="col-12">
												<div class="btn-file-upload">
													<div _ngcontent-c5="" class="custom-file madatory-field-position">
														<input _ngcontent-c5="" class="custom-file-input custom-file-upload" name="candidatePic4" required=""
														 type="file" accept=".jpg,.bmp,.jpeg" (change)="fnUploadImage($event,'Themes')">
														<label _ngcontent-c5="" class="custom-file-label" for="candidatePic4"></label>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="responsive-desing theme-size" *ngFor="let theme of listOfTheme" (click)="fnApplyBackgroudTheme(theme)">
										<img [src]="theme" alt="" class="">
										<button type="button" class="close" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
								</div>
								<div class="tab-pane fade col-12" id="submit-documents" role="tabpanel" aria-labelledby="submit-documents-tab">
									<div *ngFor="let s of listOfPresentation" (click)="getPresentation(s.id)">
										<img src="images/gallery-1.jpg" alt="" class="img-thumbnail">
										<p>{{s.title}}</p>
									</div>
								</div>
							</div>
						</section>
						<button class="btn-save-current-slide"><i data-feather="plus"></i> Save Current Slide</button>
					</div>					
				</div>
			</div>
		</div>
	</div>

	<div id="menu" class="menu">
		<ul class="menu-options">
			<li id="show-menu" class="menu-option">Show selected item on click button</li>
			<li id="hide-menu" class="menu-option">Hide selected item on click button</li>
			<li id="none-menu" class="menu-option">Remove button action</li>
			<!-- <li id="active-bg-menu" class="menu-option">Button active background color</li> -->
			<!-- <li id="inactive-bg-menu" class="menu-option">Button inactive background color</li> -->
			<li id="hidable-item-menu" class="menu-option">Set Hidable Item</li>
			<li id="hide-item-menu" class="menu-option">Set Hide Item</li>
			<li id="show-hidden-menu" class="menu-option">Show hidden Item</li>
			<li id="button-menu" class="menu-option">Set As Button</li>
			<li id="hidable-button-menu" class="menu-option">Set As Hidable Button</li>
			<li id="back-menu" class="menu-option">Send to back</li>
			<li id="front-menu" class="menu-option">Bring to front</li>
			<li id="actionforSuccessDrop" class="menu-option">Set show items after successful drop</li>
			<li id="actionAfterUnsuccessfulDrop" class="menu-option">Show selected items after unsuccessful drop</li>
			<li id="makeSuccessSequesnce" class="menu-option">Set success sequence of those items</li>
		</ul>
	</div>