<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>Profile Information</h3>
    </div>
  </header>
</section>
<!-- End Page Title -->

<section class="bg-grey">
  <div class="nav-tabs profile-tabs">
    <div class="container">
      <div class="row">
        <ul class="nav col-12" id="profileTab" role="tablist">

          <li class="nav-item" *ngIf="account.canShow('Document/Details','CandidateProfileComponent')">
            <a class="nav-link active" id="details-tab" data-toggle="tab" href="#my-details" role="tab" aria-controls="my-details"
              aria-selected="true">Details</a>
          </li>
          <li class="nav-item" *ngIf="account.canShow('MandatoryDocument','CandidateProfileComponent')">
            <a class="nav-link" id="submit-documents-tab" data-toggle="tab" href="#submit-documents" role="tab"
              aria-controls="submit-documents" aria-selected="false">Documents/Details</a>
          </li>
          <li class="nav-item" *ngIf="account.canShow('References/NominessDetails','CandidateProfileComponent')">
            <a class="nav-link" id="reference-tab" data-toggle="tab" href="#reference" role="tab" aria-controls="reference"
              aria-selected="false">References/Nominess Details</a>
          </li>
          <li class="nav-item" *ngIf="account.canShow('Acknowledgment','CandidateProfileComponent')">
            <a class="nav-link" id="acknowledgment-tab" data-toggle="tab" href="#acknowledgment" role="tab"
              aria-controls="acknowledgment" aria-selected="false">Acknowledgment</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End Tab title -->

<section class="container">

  <div class="tab-content profile-tabs-content row" id="profileTabContent">

    <div *ngIf="account.canShow('Document/Details','CandidateProfileComponent')" class="tab-pane fade show active col-12"
      id="my-details" role="tabpanel" aria-labelledby="details-tab">

      <div class="dashboard-accordion" id="my_details">
        <h3>Details </h3>
        <app-personal-info></app-personal-info>
				<app-academic-qualification></app-academic-qualification>
				<app-bank-information></app-bank-information>
      </div>


    </div>

    <!-- End Tab title -->

    <div *ngIf="account.canShow('MandatoryDocument','CandidateProfileComponent')" class="tab-pane fade col-12" id="submit-documents"
      role="tabpanel" aria-labelledby="submit-documents-tab">
      <!-- <app-submit-document></app-submit-document>
       -->
      <app-candidate-document-details></app-candidate-document-details>
      <app-policy-number></app-policy-number>
    </div>
    <div *ngIf="account.canShow('References/NominessDetails','CandidateProfileComponent')" class="tab-pane fade col-12 "
      id="reference" role="tabpanel" aria-labelledby="reference-tab">
      <!-- <h3>Refernces/Nominess Details</h3> -->
      <app-reference></app-reference>
      <app-bottom-row></app-bottom-row>
    </div>
    <div *ngIf="account.canShow('Acknowledgment','CandidateProfileComponent')" class="tab-pane fade col-12" id="acknowledgment"
      role="tabpanel" aria-labelledby="acknowledgment-tab">
      <h3>Acknowledgment </h3>
    </div>

  </div>

</section>

<!-- End Tab Content -->
