<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm ">
    <div class="col-12">
      <h3>Account Recovery</h3>
    </div>
  </header>
</section>


<section class="container dashboard-login">

  <div class="row" *ngIf="errorMessage">
    <div class="col">
      <div class="notice notice--danger">
        <strong>Error</strong> {{errorMessage}}
      </div>
    </div>
  </div>


  <section class="container dashboard-login">
    <div class="row">
      <div class="col ">
        <div class="login__frm">
          <form class="needs-validation" novalidate>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Email" [(ngModel)]="email" name="email">
            </div>
            <!-- <div class="form-group">
              <select class="form-control" [(ngModel)]="otpdeliveryMethod" name="otpdeliveryMethod">
                <option value="0" selected="selected">OTP Delivery Method</option>
                <option value="1">EMail</option>
                <option value="2">SMS</option>
              </select>
            </div> -->
           
            <div class="form-group">
                <label >OTP Delivery Method : &nbsp; </label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="otpdeliveryMethod" name="otpdeliveryMethod" id="otpdeliveryMethodEmail" value="1">
                <label class="form-check-label" for="otpdeliveryMethodEmail">Email</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="otpdeliveryMethod" name="otpdeliveryMethod" id="otpdeliveryMethodSMS" value="2">
                <label class="form-check-label" for="otpdeliveryMethodSMS">SMS</label>
              </div>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-primary btn-block" (click)="getOTP()" [disabled]="!(otpdeliveryMethod!=0 && email && disable)">
                <i data-feather="arrow-right"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

</section>