<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>
        {{ candidateProfile?.data?.firstName }}
        {{ candidateProfile?.data?.middleName }}
        {{ candidateProfile?.data?.lastName }}'s Profile
      </h3>
    </div>
  </header>
</section>
<!-- End Page Title -->

<main class="profile-view" *ngIf="candidateProfile">
  <section class="container">
    <div class="row">
      <div class="col-md-3 bg-primary ">
        <ng-container *ngIf="candidateProfile">
          <div
            class="mx-auto mt-md-5 mt-3 mb-3  profile-creation__photo"
            [style.backgroundImage]="'url(' + profilePic + ')'"
          ></div>
        </ng-container>
        <div class="profile-view__title">
          <h3>
            {{ candidateProfile?.data?.firstName }}
            {{ candidateProfile?.data?.middleName }}
            {{ candidateProfile?.data?.lastName }}
          </h3>
          <!--
            <p class="mt-5">
              <button type="button" class="btn btn-primary border-white btn-sm mr-1" (click)="back()"><i data-feather="arrow-left"></i>
              <button type="button" *ngIf="tagRequest.statusId==status.Pending"  class="btn btn-outline-primary border-white btn-sm mr-1" (click)="changeStatus(1)" >Accept</button>
              <button type="button" *ngIf="tagRequest.statusId==status.Pending"  class="btn btn-danger  btn-sm" (click)="changeStatus(2)"> Reject</button>
            </p>
          -->
        </div>
      </div>
      <div class="col-md-9">
        <ul>
          <li class="d-flex profile-view__row">
            <label class="profile-view__lbl">Gender</label>
            <span class="profile-view__colon">:</span>
            <span class="profile-view__value">
              {{ candidateProfile?.data?.gender }}
            </span>
          </li>
          <li class="d-flex profile-view__row">
            <label class="profile-view__lbl">Date of birth</label>
            <span class="profile-view__colon">:</span>
            <span class="profile-view__value">
              {{ candidateProfile?.data?.dob | date }}
            </span>
          </li>

          <li class="d-flex profile-view__row">
            <label class="profile-view__lbl">Phone number</label>
            <span class="profile-view__colon">:</span>
            <span class="profile-view__value">
              {{ candidateProfile?.data?.mobileNo }}
            </span>
          </li>

          <li class="d-flex profile-view__row">
            <label class="profile-view__lbl">Nationality</label>
            <span class="profile-view__colon">:</span>
            <span class="profile-view__value">
              {{ candidateProfile?.data?.nationality }}
            </span>
          </li>

          <li class="d-flex profile-view__row">
            <label class="profile-view__lbl">Present address</label>
            <span class="profile-view__colon">:</span>
            <span class="profile-view__value">
              {{ candidateProfile?.data?.presentAddress }}
            </span>
          </li>

          <li class="d-flex profile-view__row">
            <label class="profile-view__lbl">Permanent address</label>
            <span class="profile-view__colon">:</span>
            <span class="profile-view__value">
              {{ candidateProfile?.data?.permanentAddress }}
            </span>
          </li>

          <li class="d-flex profile-view__row">
            <label class="profile-view__lbl">Education level</label>
            <span class="profile-view__colon">:</span>
            <span class="profile-view__value">
              {{ candidateProfile?.data?.educationLevel }}
            </span>
          </li>

          <li class="d-flex profile-view__row">
            <label class="profile-view__lbl">Marital status</label>
            <span class="profile-view__colon">:</span>
            <span class="profile-view__value">
              {{ candidateProfile?.data?.maritalStatus }}
            </span>
          </li>

          <li class="d-flex profile-view__row">
            <label class="profile-view__lbl">Father's name</label>
            <span class="profile-view__colon">:</span>
            <span class="profile-view__value">
              {{ candidateProfile?.data?.fatherName }}
            </span>
          </li>

          <li class="d-flex profile-view__row">
            <label class="profile-view__lbl">Mother's name</label>
            <span class="profile-view__colon">:</span>
            <span class="profile-view__value">
              {{ candidateProfile?.data?.motherName }}
            </span>
          </li>

          <ng-container *ngIf="candidateProfile">
            <li
              class="d-flex profile-view__row"
              *ngIf="candidateProfile.data.gender != 'Male'"
            >
              <label class="profile-view__lbl">Husband</label>
              <span class="profile-view__colon">:</span>
              <span class="profile-view__value">
                {{ candidateProfile?.data?.husbandName }}
              </span>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 pl-0">
        <p class="mt-4">
          <button type="button" class="btn btn-primary mr-2" (click)="back()">
            <i data-feather="arrow-left"></i>
            Back
          </button>
          <button
            type="button"
            *ngIf="tagRequest.statusId == status.Pending"
            class="btn btn-primary mr-2"
            (click)="changeStatus(status.Accepted)"
          >
            Accept
          </button>
          <button
            type="button"
            *ngIf="tagRequest.statusId == status.Pending"
            class="btn btn-danger mr-2"
            (click)="changeStatus(status.Rejected)"
          >
            Reject
          </button>
        </p>
      </div>
    </div>
  </section>
  <!-- End Profile view -->
</main>
