<section class="container-fluid dashboard-acction">
  <div class="row">
    <div class="col-xl-8 col-lg-10 col-md-12 mx-auto">
      <h3 class="text-center">Actions for you</h3>
      <div class="row mt-3">
        <div class="col-md-3" *ngFor="let item of callToActions">
          <!-- (click)="routeTo(item.navigationUrl)" -->
          <!--
            item.navigationUrl.substring(item.navigationUrl.indexOf('=')+1,item.navigationUrl.length)}
          -->

          <!--
            [routerLink]='item.navigationUrl.substring(0, item.navigationUrl.indexOf("?"))'
            [queryParams]="{aaaa: item.navigationUrl.substring(item.navigationUrl.indexOf('=')+1,item.navigationUrl.length)}"
          -->
          <button
            class="btn btn-primary btn-block"
            type="button"
            *ngIf="
              item.actionName == 'Training Certificate && item.isShow';
              else: elseBlock
            "
            [disabled]="!item.isEnable"
            (click)="documentViewer(item.navigationUrl, item.actionName)"
          >
            {{ item.actionName }}
          </button>
          <ng-template #elseBlock>
            <button
              class="btn btn-primary btn-block"
              type="button"
              *ngIf="item.isShow"
              (click)="routeTo(item.navigationUrl)"
              [disabled]="!item.isEnable"
            >
              {{ item.actionName }}
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>
