<section class="container-fluid">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>
        Welcome {{ accountService.getUserName() }}
        <br />
        To Your Career Dashboard
      </h3>
    </div>
  </header>
</section>

<section class="container-fluid bg-grey dashboard-cards">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let item of headerGroup">
          <div class="dashboard-box">
            <header class="dashboard-box__header d-flex align-items-center">
              <img [src]="item.imageUrl" alt="choose partner" class="mr-3" />
              <h3 class="dashboard-box__title">{{ item.title }}</h3>
            </header>
            <ul class="module-list">
              <li
                class="module-list__item "
                *ngFor="let cItem of getDetailsElement(item.groupKey)"
              >
                <span>{{ cItem.key }}</span>
                <span
                  class="ml-auto mr-1 cursor-pointer link"
                  (click)="gotourl(cItem.url)"
                >
                  ({{ cItem.value }})
                </span>
                <span class="cursor-pointer">
                  <i
                    data-feather="chevron-right"
                    style="stroke-width: 3px;"
                  ></i>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-call-to-action></app-call-to-action>
