<h3 mat-dialog-title>Area</h3>

<mat-dialog-content my-5>

  <!--isExperiencedOrNot-->
  <div class="row">
    <div class="col-xs-6 col-md-6 col-lg-6 form-group ">

      <select class="form-control form-control-sm custom-select" (change)="changeCountry()"
       [(ngModel)]='model.district.countryId' #hqf='ngModel' name='countryId'
       [disabled]='model.areaId>0'
        required>
        <option [ngValue]="0">Select Country</option>
        <option *ngFor="let item of countries" [ngValue]="item.countryId">{{item.name}}</option>
      </select>
    </div>

    <div class="col-xs-6 col-md-6 col-lg-6 form-group ">
      <select class="form-control form-control-sm custom-select"  [(ngModel)]='model.districtId' #hqf='ngModel' name='districtId'
        required>
        <option [ngValue]="0">Select District</option>
        <option *ngFor="let item of districts" [ngValue]="item.districtId">{{item.districtName}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-6 col-lg-6 form-group ">
      <input name="minTotalScore" [(ngModel)]="model.areaName" placeholder="Area" type="text" class="form-control form-control-sm"
        min="0" maxlength="100" pattern="[0-9_]*" #minTotalScore="ngModel" required/>
    </div>
    <div class="col-xs-6 col-md-6 col-lg-6 form-group ">
      <input name="minTotalScore" [(ngModel)]="model.distances" placeholder="Distance in km" type="number" class="form-control form-control-sm"
        min="0"  #minTotalScore="ngModel" required/>
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions style="float: right;">
  <button type="button" class="btn btn-sm btn-primary mr-1" (click)='save()'><i class="fa fa-save" aria-hidden="true"> Save</i></button>
  <button type="button" class="btn btn-sm btn-danger mr-1" (click)='close()'><i class="fa fa-times" aria-hidden="true"> Close</i></button>
</mat-dialog-actions>