<div class="container-fluid">
  <div class="row py-4">
    <div class="col">
      <div class="custome-header float-left">
        <img src="images/metlife.png" alt="">
      </div>
      <div class="btn-popup-close pt-2 float-right">
        <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="header">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <h2 class="text-center mb-5">{{header}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <div class="custome-body pb-5 mx-auto d-block">
        <div class="text-center" *ngIf="fileType=='image'">
          <img [src]="filePath" alt="" class="img-fluid">
        </div>
        <div *ngIf="fileType!='image'">
          <iframe [src]="iframe" style="width:100%; height:40vw;" frameborder="0"></iframe>
        </div>
      </div>
    </div>

  </div>
</div>