<div class="row">
  <div class="col-12 col-xl-8 mx-auto pt-5 pb-5">
    <div class="row">
      <div class="col-sm-4 box-max-width mx-auto">
        <div class="thumbnail">
          <a href="#">
            <span class="icon-reports"></span>
            <div class="caption"><p class="pt-2 text-center">REPORTS</p></div>
          </a>
        </div>
      </div>
      <div class="col-sm-4 box-max-width mx-auto">
        <div class="thumbnail">
          <a href="#" [routerLink]="['/ap/document-verification-list']">
            <span class="icon-01"></span>
            <div class="caption">
              <p class="pt-2 text-center">DOCUMENT VERIFICATION</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-4 box-max-width mx-auto">
        <div class="thumbnail">
          <a href="#" [routerLink]="['/ap/policy-verification']">
            <span class="icon-09"></span>
            <div class="caption">
              <p class="pt-2 text-center">POLICY NUMBERS LIST</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-4 box-max-width mx-auto">
        <div class="thumbnail">
          <a href="#" [routerLink]="['/ap/candidates-eligible-list']">
            <span class="icon-exam-schedule"></span>
            <div class="caption">
              <p class="pt-2 text-center">CONTRACT ACKNOWLEDGEMENT LIST</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-4 box-max-width mx-auto">
        <div class="thumbnail">
          <a href="#" [routerLink]="['/ap/timeline/145']">
            <span class="icon-06"></span>
            <div class="caption">
              <p class="pt-2 text-center">AGENCY SERVICES USERS STATUS</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
