<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>Security Policy</h3>
    </div>
  </header>
</section>
<!-- End Page Title -->

<div class="container my-1">
  <div _ngcontent-c1="" class="my-5">
    <form>
      <div class="registration-header">
        <!-- <h4>Security Policy</h4> -->
        <hr>
      </div>

      <div class="row">
        <div class="col-xs-12 col col-md-12 col-lg-12 form-group">
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="requireNonLetterOrDigit" [(ngModel)]='model.requireNonLetterOrDigit'>Password
              Require
              Special Character
            </label>
          </div>
        </div>

        <div class="col-xs-12 col col-md-12 col-lg-12 form-group">
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [(ngModel)]="model.requireDigit" name="requireDigit">Password
              Require
              Digit
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col col-md-12 col-lg-12 form-group">
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [(ngModel)]="model.requireLowercase" name="requireLowercase">Password
              Require
              Lowercase
            </label>
          </div>
        </div>

        <div class="col-xs-12 col col-md-12 col-lg-12 form-group">
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [(ngModel)]="model.requireUppercase" name="requireUppercase">Password
              Require
              Uppercase
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col col-md-6 col-lg-6 form-group">
          <label>Allowed Invalid Password Attempts</label>
          <input type="number" class="form-control form-control-sm" [(ngModel)]='model.maxNumOfInvalidAttemAllowed'
            name="maxNumOfInvalidAttemAllowed" required />
        </div>

      </div>
      <div class="row">
        <div class="col-xs-6 col col-md-6 col-lg-6 form-group">
          <label>Password Validity Duration (day)</label>
          <input type="number" class="form-control form-control-sm" [(ngModel)]='model.accPassValidityDuration' name="accPassValidityDuration"
            required />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col  col-md-6 col-lg-6 form-group">
          <label>Number Of Historical Password Check</label>
          <input type="number" class="form-control form-control-sm" [(ngModel)]='model.userHisPassCheckCount' name="userHisPassCheckCount"
            required />

        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col  col-md-6 col-lg-6 form-group">
          <label>Password Required Length</label>
          <input type="number" class="form-control form-control-sm" [(ngModel)]='model.requiredLength' name="RequiredLength"
            required />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col  col-md-6 col-lg-6 form-group">
          <label>Default Password</label>
          <input type="text" class="form-control form-control-sm" [(ngModel)]='model.defaultPassword' name="DefaultPassword"
            required />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col  col-md-6 col-lg-6 form-group">
          <label>Password Reset URL Duration (min)</label>
          <input type="text" class="form-control form-control-sm" [(ngModel)]='model.passResetURLDurInMin' name="passResetURLDurInMin"
            required />
        </div>
      </div>
      <!-- <div class="row">
      <div class="col-xs-6 col  col-md-6 col-lg-6 form-group">
        <label>OTP Length</label>
        <input type="text" class="form-control form-control-sm" [(ngModel)]='model.otpLength' name="otpLength" required/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col  col-md-6 col-lg-6 form-group">
        <label>OTP Expiration (sec)</label>
        <input type="text" class="form-control form-control-sm" [(ngModel)]='model.otpExpirationInSecond' name="otpExpirationInSecond" required/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col  col-md-6 col-lg-6 form-group">
        <label>OTP Generation Delay (sec)</label>
        <input type="text" class="form-control form-control-sm" [(ngModel)]='model.otpGenerationDelayInSecond' name="otpGenerationDelayInSecond" required/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col  col-md-6 col-lg-6 form-group">
        <label>Allowed Invalid OTP Attempts</label>
        <input type="text" class="form-control form-control-sm" [(ngModel)]='model.maxNumOfInvOTPAttempAllow' name="maxNumOfInvOTPAttempAllow" required/>
      </div>
    </div> -->

      <button class="btn btn-primary" (click)="save(model.id)">{{btnText}}</button>
    </form>

    <br>
    <div class="row" *ngIf="errorMessage">
      <div class="col-xs-12 col col-md-12 col-lg-12">
        <div class="alert alert-danger">
          <!-- {{errorMessage}} -->
          <p [innerHTML]="errorMessage"></p>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="successMessage">
      <div class="col-xs-12 col col-md-12 col-lg-12">
        <div class="alert alert-success">
          {{successMessage}}
        </div>
      </div>
    </div>
  </div>
</div>