<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>LIST OF POLICY NUMBERS FOR VERIFICATION</h3>
    </div>
  </header>
</section>
<!-- End Page Title -->

<div class="container-fluid mt-2">
  <div class="my-5">
    <!-- <h5>List Of Training Modules</h5> -->
    <div class="row justify-content-end">
      <div class="col-12 col-md-6">
        <mat-form-field class="float-right" style="width: 100%">
          <input matInput (keyup)="filter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </div>
    </div>
    <div class="table-responsive">
      <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 tbl-eligibility-criteria" style="width:100%; min-width: 1000px;">
        
        <ng-container matColumnDef="sl">
          <th mat-header-cell *matHeaderCellDef> SL# </th>
          <td mat-cell *matCellDef="let row; let i = index" style="width:5%"> {{ ((pageIndex-1)*pageSize) + i+1}} </td>
        </ng-container>

        <ng-container matColumnDef="userId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CANDIDATE ID  </th>
          <td mat-cell *matCellDef="let element; let row; let i = index" style="width:7%"> {{element.userId}}</td>
        </ng-container>

        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CANDIDATE NAME  </th>
          <td mat-cell *matCellDef="let element; let row; let i = index" 
          style="width:15%" [routerLink]="[ '/ap/candidate-profile', element.userId]"
          [queryParams]="{tab: 'submit-documents-tab'}"> <a href="javascript:void(0)"> {{element.fullName}}</a> </td>
        </ng-container>

        
        <ng-container matColumnDef="faCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> FA CODE  </th>
          <td mat-cell *matCellDef="let element" style="width:7%"> {{element.faCode}} </td>
        </ng-container>

        
        <ng-container matColumnDef="trainingCompletionDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TRAINING COMPLETION DATE  </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;"> {{ ds.utc_to_local_time(element.trainingCompletionDate, ds.DATEFORMAT)}} </td>
        </ng-container>

        <ng-container matColumnDef="trainingExamPassingDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TRAINING EXAM PASSING DATE  </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;"> {{ ds.utc_to_local_time(element.trainingExamPassingDate, ds.DATEFORMAT)}} </td>
        </ng-container>

        <ng-container matColumnDef="dateOfFirstPolicySubmission">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DATE OF FIRST POLICY SUBMISSION  </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;"> {{ ds.utc_to_local_time(element.dateOfFirstPolicySubmission, ds.DATEFORMAT)}} </td>
        </ng-container>

        <ng-container matColumnDef="dateOfFinalPolicySubmission">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DATE OF FINAL POLICY SUBMISSION  </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;"> {{ ds.utc_to_local_time(element.dateOfFinalPolicySubmission, ds.DATEFORMAT)}} </td>
        </ng-container>

        <ng-container matColumnDef="policyPendingDetail">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> POLICY NUMBERS: PENDING VERIFICATION  </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;"> {{element.policyPendingDetail}} </td>
        </ng-container>

        <ng-container matColumnDef="policyApprovedDetail">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> POLICY NUMBERS: APPROVED VERIFICATION  </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;"> {{element.policyApprovedDetail}} </td>
        </ng-container>

        <ng-container matColumnDef="policyRejectDetail">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> POLICY NUMBERS: REJECTED VERIFICATION </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;"> {{element.policyRejectDetail}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageChange($event)">
    </mat-paginator>
  </div>
</div>