.tab-container{position:relative;padding-bottom:120px}
.tab-container .training-module-tabs{border-bottom:1px solid #dee2e6}
.tab-container .training-module-tabs .nav{padding-right:0}
.tab-container .training-module-tabs .nav-item{margin-bottom:-1px}
.tab-container .training-module-tabs .nav-link{color:#333;font-size:.875rem}
@media (min-width:992px){
    .tab-container .training-module-tabs .nav-link{padding-left:30px;padding-right:30px;border-radius:0}
}
.tab-container .training-module-tabs .nav-item.show .nav-link,
.tab-container .training-module-tabs .nav-link.active{color:#333;background-color:#fff;border-radius:0;border-color:#dee2e6 #dee2e6 #fff}
.tab-container .training-module-tabs .nav-link:hover{color:#333;border-bottom:1px solid transparent}
.tab-container .tab-content-box{position:static;width:100%;top:87px;z-index:1;padding:0 15px;}
// start css for switch button
// .tab-container .tab-content-box .profile-tabs-content .btn-default.btn-on, 
// .tab-container .tab-content-box .profile-tabs-content .btn-default.btn-off, 
.yes-shape, .no-shape {
    padding: 10px;
    outline: none;
    font-size: 20px;
    border-radius: 0;
    font-weight: normal;
    border-bottom-left-radius: 20px;
    box-shadow: inset 0 10px 9px -7px #add653;
    border-top: 0;
    min-height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.yes-shape p, .no-shape p {
    margin-bottom: 0;
}
// .tab-container .tab-content-box .profile-tabs-content .btn-default.btn-off, 
.no-shape {    
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 80px;
} 
.yes-shape {    
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 0;
} 
// .tab-container .tab-content-box .profile-tabs-content .btn-default.btn-on input, 
// .tab-container .tab-content-box .profile-tabs-content .btn-default.btn-off input{
//     width: 100%;
//     height: 100%;
//     background: transparent;
//     border: 0;
//     outline: 0;
// }
// .tab-container .tab-content-box .profile-tabs-content .btn-default, .btn-default,  
.yes-shape, .no-shape {
    color: #add653;
    background-color: #fff;
    border: 3px solid #add653;    
}
// .tab-container .tab-content-box .profile-tabs-content .btn-default.active {
//     color: white;
//     background-color: #add653;    
//     border: 3px solid #add653;
//     border-top: 0;
// }
// .tab-container .tab-content-box .profile-tabs-content .btn-default.btn-off input, 
// .tab-container .tab-content-box .profile-tabs-content .btn-default.btn-on input, 
.yes-shape, .yno-shape { 
    -webkit-appearance: none;
    appearance: none;
}
// end css for switch button
@media (max-width:767.98px){
    .tab-container .tab-content-box{position:static;padding:0 15px 0 15px}
}
@media (min-width:992px){
    .tab-container .tab-content-box .profile-tabs-content{padding-top:40px;padding-bottom:40px}
}
@media (max-width:991.98px){
    .tab-container .tab-content-box .profile-tabs-content{padding-top:15px;padding-bottom:15px}
}
.tab-container .tab-content-box .profile-tabs-content{padding-top:0;padding-bottom:0}
.tab-container .tab-content-box .profile-tabs-content .active{padding:30px;background:#fff;border:1px solid #dee2e6;border-top:0}
.tab-container .content-box{padding-top:30px}
.tab-container .content-box .left-content-box,
.tab-container .content-box .right-content-box{
    position: relative;
    border: 2px dashed #d1d2d4;
    border-radius: 10px;
    // width: 830px;
    // height: 600px;
    min-height: 600px;
    padding: 1.25rem;    

    .card-body {
        padding: 0;
        height: 100%;
        .ui-widget-content {
            height: 100% !important;
            #inner-container {
                height: 100% !important;
            }
        }
    }
}
.tab-container .content-box .left-content-box {
    width: 100%;
    height: 600px;
    overflow: auto;
}
@media (max-width:767.98px){
    .tab-container .content-box .left-content-box,
    .tab-container .content-box .right-content-box{margin-bottom:20px}
}

// custom css

#container {
    background: #fbf9f9;
    width:100%;
    z-index:-1;
    padding:0;
    height:600px;
}

.realobject {
    width: 115px;
}
.draggable-object {
    width: 115px;
}
.realobject img {
    width: 100%;
    height: 100%;
}
.resize_box {
    padding: 0px;
    width: 50px;
}
.resize_box img {
    width: 100%;
    height: 100%;
}
.ui-icon, .ui-widget-content .ui-icon:hover {
    background-image: none;
}
.ui-draggable-dragging {
    z-index: 25;
    border: 2px dashed red;
}
.ui-selected {
    /*padding: 0px;*/
    border: 2px dashed #3462FA;
}
.animation {
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
}
.circle {
    background-color:dodgerblue;
    width: 120px;
    height: 120px;
    margin: auto;
    border-radius:70px;
    right: 0;
    left: 0;
    float: left;
    cursor: pointer;
}
#container {
    background: #fbf9f9;
}
.realobject {
    width: 115px;
}
.realobject img {
    width: 100%;
    height: 100%;
}
.resize_box {
    width: 50px;
}
.resize_box img {
    width: 100%;
    height: 100%;
}

.btnObj {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-icon, .ui-widget-content .ui-icon:hover {
    background-image: none;
}
.ui-draggable-dragging {
    z-index: 25;
    border: 2px dashed red;
}
.page-wrapper {
    margin: 0 auto;
    width: 960px;
    max-width: 100%;
}
.box-content {
    padding:20px;
    background-color: #EFEFEF;
}
textarea {
    background-color:#FAFAFA;
    border:#EFEFEF solid 1px;
    color:#333;
    height:150px;
    width:100%;
}
/* richtext custom style */
.richText {
    margin-top: 40px;
    -webkit-box-shadow: 0 0 20px 0 #999;
    -moz-box-shadow: 0 0 20px 0 #999;
    box-shadow: 0 0 20px 0 #999;
}
.item-box {
    float: left;
    max-height: 318px;
    overflow-y: auto;
    width: calc(100% - 100px);

    .responsive-desing {
        float: left;
        position: relative;
        margin-right: 15px;
        margin-bottom: 15px;

        img {
            height: 100%;
            width: 100%;
        }
        .close {
            position: absolute;
            top: 5px;
            right: 10px;
            outline: none;
            color: #ccc;
            opacity: 1;
            font-weight: normal;
        }        
    }
    .theme-size {
        width: 216px;
        height: 145px;        
        border: 1px solid #ccc;
        padding: 4px;
    }
    .icon-size{
        height:50px;
        width:50px;
    }   
    
    .avatar-shape{
        height:100px;
        width:100px;

        img {
            width: 100px;
            height: 100px;
        }
    }    
    .default-shape-color{
        background-color: #a5cb57;
    }
}
.btn-file-upload {
    float: right;
    width: 80px;
    padding-top: 5px;
    margin-top: -5px;

    .custom-file-upload {
        width: 80px;
        float: right;
        cursor: pointer;
        padding-left: 80px;
        overflow: hidden;
    }
    label {
        overflow: hidden;
    }
}
.text-box-wrapper {    
    margin: 10px;    

    input {
        font-size: 10px;
        text-align: center;
    }
}
.favcolor-wrapper {
    margin: 15px;

    .favcolor {
        margin-right: 10px;
        height: 40px;
    }
}

.default-shape-color{
    background-color: #a5cb57;
}
.circle {
    background-color:dodgerblue;
    width: 80px;
    height: 80px;
    margin: auto;
    border-radius:70px;
    right: 0;
    left: 0;
    float: left;
    cursor: pointer;
}
.square-shape{    
    width:80px;
    height:80px;
}
.circle-shape{
    width:80px;
    height:80px;
    border-radius:100%;
}
#dialog{
    display: none;
}
.menu {
    width: 220px;
    background: #fff;
    box-shadow: 0 4px 5px 3px rgba(223, 220, 220, 0.3);
    position: relative;
    display: none;
    z-index: 999;
  
    .menu-options {
      list-style: none;
      padding: 10px 0;
  
      .menu-option {
        font-weight: 500;
        font-size: 14px;
        padding: 10px 40px 10px 20px;
        cursor: pointer;
  
        &:hover {
          background: rgb(153, 156, 156);
        }
      }
    }
  }

  .text-container {
    background: white;
    line-height: 25px;
    user-select: text;
  }
  p{
    user-select: text;
    margin-bottom: 0;
  }

  .text-editor-draggable{
    padding:10px;
  }
  .video-shape{
    padding: 5px;
    cursor: pointer;
  }

  :host /deep/ a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
    display: none !important;
    position: absolute;
    top: -99999999px;
  }
  :host /deep/ .text-container {
      background: transparent !important;
  }

  :host /deep/ .ck-focused {
    border:none;
}

div.click{
    postion:relative;
    background:#fefefe;
    }
img.back {
    width:100%;
    height:300px;
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
}

.shadow{
    width:100%;
    height:300px;
    position:absolute;
    z-index:3;
    top:0;
    left:0;
}
.slide-box{
    height: 100px;
    width: 100px;
    border: 1px solid silver;
}

.curve-button {
    width: 100%;
    height:100%;
    border-radius: 20px 0;
    background: transparent;
    border: 2px solid #a5cb57;
    padding:15px 0;display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1px !important;
}