<div class="container tab-container">
  <div id="main-row" class="row">
    <div class="col-12">
      <section class="mt-5">
        <div class="nav-tabs training-module-tabs">
          <div class="container">
            <div class="row">
              <ul class="nav col-12" id="profileTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="my-details"
                    aria-selected="true">Themes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="submit-documents"
                    aria-selected="false">Icons</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="declarations"
                    aria-selected="false">Shapes</a>
                </li>
                <li class="nav-item">

                  <a class="nav-link" id="four-tab" data-toggle="tab" href="#four" role="tab" aria-controls="acknowledgment"
                    aria-selected="false">Buttons</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="five-tab" data-toggle="tab" href="#five" role="tab" aria-controls="acknowledgment"
                    aria-selected="false">Avatars</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="five-tab" data-toggle="tab" href="#images" role="tab" aria-controls="acknowledgment"
                    aria-selected="false">Images</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="five-tab" data-toggle="tab" href="#video" role="tab" aria-controls="acknowledgment"
                    aria-selected="false">Videos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="five-tab" data-toggle="tab" href="#audio" role="tab" aria-controls="acknowledgment"
                    aria-selected="false">Audio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="five-tab" data-toggle="tab" href="#tools" role="tab" aria-controls="acknowledgment"
                    aria-selected="false">Tools</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="tab-content-box">
        <div class="tab-content profile-tabs-content row" id="profileTabContent">
          <div class="tab-pane fade show active col-12" id="one" role="tabpanel" aria-labelledby="details-tab">
            <!-- theme content -->
            <div class="item-box">
              <div class="responsive-desing theme-size" *ngFor="let theme of listOfTheme" (click)="fnApplyBackgroudTheme(theme)">
                <img [src]="theme" alt="">
                <button type="button" class="close" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
            <div class="btn-file-upload">
              <div _ngcontent-c5="" class="custom-file madatory-field-position responsive-desing">
                <input _ngcontent-c5="" class="custom-file-input custom-file-upload" name="candidatePic0" required=""
                  type="file" accept=".jpg,.bmp,.jpeg" (change)="fnUploadImage($event,'Themes')">
                <label _ngcontent-c5="" class="custom-file-label" for="candidatePic0">maxresdefault185024683.jpg</label>
              </div>
            </div>
            <!--end of theme content -->
          </div>
          <div class="tab-pane fade col-12" id="two" role="tabpanel" aria-labelledby="submit-documents-tab">
            <!-- icon content -->
            <div class="item-box">
              <div class="draggable-object trigger responsive-desing icon-size" *ngFor="let icon of listOfIcon" style="width:80px;height:80px;">
                <img class="mr-3" [src]="icon" alt="" style="width:100%;height:100%;">
              </div>
            </div>
            <div class="btn-file-upload">
              <div _ngcontent-c5="" class="custom-file madatory-field-position responsive-desing">
                <input _ngcontent-c5="" class="custom-file-input custom-file-upload" name="candidatePic1" required=""
                  type="file" accept=".jpg,.bmp,.jpeg" (change)="fnUploadImage($event,'Icons')">
                <label _ngcontent-c5="" class="custom-file-label" for="candidatePic1">maxresdefault185024683.jpg</label>
              </div>
            </div>
            <!-- end of icon content -->
          </div>
          <div class="tab-pane fade col-12 " id="three" role="tabpanel" aria-labelledby="declarations-tab">
            <div class="item-box">
              <div class="draggable-object default-shape-color responsive-desing circle-shape" style="width:80px;height:80px;">
                <p class="text-center text-editor {{textColor}}" style="position:relative;padding:10px;">{{paragraph}}</p>
              </div>
              <div class="realobject default-shape-color responsive-desing square-shape" style="width:80px;height:80px;"></div>
              <div class="alert alert-primary realobject responsive-desing" role="alert">
                {{paragraph}}
              </div>
              <div class="realobject yes-shape responsive-desing" style="width:80px;height:80px;">
                <p class="text-editor">হ্যাঁ</p>
              </div>
              <div class="realobject no-shape responsive-desing" style="width:80px;height:80px;">
                <p class="text-editor">না</p>
              </div>
              <div class="realobject responsive-desing" style="width:80px;height:80px;">
                <div class="curve-button" style="width: 100%;height:100%;padding-top: 1px !important;border-radius: 20px 0;background: transparent;border: 2px solid #a5cb57;padding:15px 0;display: flex;justify-content: center;align-items: center;">
                  <p class="text-editable"  style="font-size: 12px;white-space: initial;color:white;">নীতি</p>
                </div>
              </div>
            </div>
            <div class="btn-file-upload">
              <div _ngcontent-c5="" class="custom-file madatory-field-position responsive-desing">
                <input _ngcontent-c5="" class="custom-file-input custom-file-upload" name="candidatePic2" required=""
                  type="file" accept=".jpg,.bmp,.jpeg">
                <label _ngcontent-c5="" class="custom-file-label" for="candidatePic2">maxresdefault185024683.jpg</label>
              </div>
            </div>
          </div>
          <div class="tab-pane fade col-12" id="four" role="tabpanel" aria-labelledby="acknowledgment-tab">
            <!-- Buttons Content -->
            <div class="item-box">
              <div class="responsive-desing button-box-size">
                <div class="btn btn-primary btnObj trigger">
                  <p class="mb-0">{{button}}</p>
                </div>
              </div>
              <div class="responsive-desing button-box-size">
                <div class="btn btn-success btnObj trigger">
                  <p class="mb-0">{{button}}</p>
                </div>
              </div>
              <div class="responsive-desing button-box-size">
                <div class="btn btn-danger btnObj trigger">
                  <p class="mb-0">{{button}}</p>
                </div>
              </div>
              <div class="responsive-desing button-box-size">
                <div class="btn btn-warning btnObj trigger">
                  <p class="mb-0">{{button}}</p>
                </div>
              </div>
            </div>
            <!-- <div class="btn-file-upload">
              <div _ngcontent-c5="" class="custom-file madatory-field-position responsive-desing">
                <input _ngcontent-c5="" class="custom-file-input custom-file-upload" name="candidatePic3" required="" type="file"
                  accept=".jpg,.bmp,.jpeg">
                <label _ngcontent-c5="" class="custom-file-label" for="candidatePic3">maxresdefault185024683.jpg</label>
              </div>
            </div> -->
            <!--End of Buttons Content -->
          </div>
          <!-- Avatar Content -->
          <div class="tab-pane fade col-12" id="five" role="tabpanel" aria-labelledby="acknowledgment-tab">
            <div class="item-box">
              <div class="draggable-object trigger responsive-desing avatar-shape" *ngFor="let avatar of listOfAvatar"
                style="width:80px;height:80px;">
                <img [src]="avatar" style="width:100%;height:100%" alt="" />
              </div>
            </div>
            <div class="btn-file-upload">
              <div _ngcontent-c5="" class="custom-file madatory-field-position responsive-desing">
                <input _ngcontent-c5="" class="custom-file-input custom-file-upload" name="candidatePic4" required=""
                  type="file" accept=".jpg,.bmp,.jpeg" (change)="fnUploadImage($event,'Avatars')">
                <label _ngcontent-c5="" class="custom-file-label" for="candidatePic4">maxresdefault185024683.jpg</label>
              </div>
            </div>
          </div>
          <!-- End of Avatar Content -->
          <!-- Images Content -->
          <div class="tab-pane fade col-12" id="images" role="tabpanel" aria-labelledby="acknowledgment-tab">
            <div class="item-box">
              <div class="draggable-object trigger responsive-desing avatar-shape" *ngFor="let image of listOfImages"
                style="width:80px;height:80px;">
                <img [src]="image" style="width:100%;height:100%" alt="" />
              </div>
            </div>
            <div class="btn-file-upload">
              <div _ngcontent-c5="" class="custom-file madatory-field-position responsive-desing">
                <input _ngcontent-c5="" class="custom-file-input custom-file-upload" name="candidatePic5" required=""
                  type="file" accept=".jpg,.bmp,.jpeg" (change)="fnUploadImage($event,'Images')">
                <label _ngcontent-c5="" class="custom-file-label" for="candidatePic">maxresdefault185024683.jpg</label>
              </div>
            </div>
          </div>

          <!-- Video Content -->
          <div class="tab-pane fade col-12" id="video" role="tabpanel" aria-labelledby="acknowledgment-tab">
            <div class="item-box">
              <div class="draggable-object trigger responsive-desing video-shape" *ngFor="let video of listOfVideos"
                style="width:100px;height:80px;">
                <video width="100%" height="100%" controls>
                  <source [src]="video" type="video/mp4">
                </video>
              </div>
            </div>
            <div class="btn-file-upload">
              <div _ngcontent-c5="" class="custom-file madatory-field-position responsive-desing">
                <input _ngcontent-c5="" class="custom-file-input custom-file-upload" name="candidatePic6" required=""
                  type="file" accept=".mp4,.wmv,.mov,.avi" (change)="fnUploadImage($event,'Videos')">
                <label _ngcontent-c5="" class="custom-file-label" for="candidatePic6">maxresdefault185024683.jpg</label>
              </div>
            </div>
          </div>
          <!-- End of Video Content -->
          <!-- Audio Content -->
          <div class="tab-pane fade col-12" id="audio" role="tabpanel" aria-labelledby="acknowledgment-tab">
            <div class="item-box">
              <!-- <div class="draggable-object trigger responsive-desing audio-shape" *ngFor="let audio of listOfAudio"  style="width:100px;height:80px;"> -->               
                <audio controls class="draggable-object audio-shape" start-time="5" end-time="15" *ngFor="let audio of listOfAudio" [id]="fnGenerateId(audio)">
                  <source [src]="audio" type="audio/mpeg">
                </audio>
              <!-- </div> -->
            </div>
            <div class="btn-file-upload">
              <div _ngcontent-c5="" class="custom-file madatory-field-position responsive-desing">
                <input _ngcontent-c5="" class="custom-file-input custom-file-upload" name="candidatePic6" required=""
                  type="file" accept=".mp3" (change)="fnUploadImage($event,'Audio')">
                <label _ngcontent-c5="" class="custom-file-label" for="candidatePic6">maxresdefault185024683.jpg</label>
              </div>
            </div>
          </div>
          <!-- End of Audio Content -->

          <div class="tab-pane fade col-12" id="tools" role="tabpanel" aria-labelledby="acknowledgment-tab">
            <div class="item-box">
              <div class="ck-editor text-editor-draggable responsive-desing avatar-shape">
                <div class="text-container">
                  <p>CK editor.</p>
                </div>
              </div>

              <div class="input-group favcolor-wrapper responsive-desing avatar-shape">
                  <!-- <input type="color" id="head1" name="color1"  /> -->
                  <input type="color" id="head" name="color" value="#e66465" />
                <!-- <input type="color" class="form-control" name="favcolor" class="favcolor" value="#ff0000"> -->
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" (click)="fnApplyColor()">Apply</button>
                </div>
              </div>

              <div class="input-group mb-3 responsive-desing avatar-shape">
                <input type="text" class="form-control" #opacityVal placeholder="Opacity" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button type="button" class="" id="basic-addon2" (click)="fnApplyBackgroundOpacity(opacityVal.value)">Bg
                    Opacity Apply</button>
                </div>
              </div>

              <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="buttonText">
                <div class="input-group-append">
                  <button type="button" class="" id="basic-addon2" (click)="fnApplyButtonText()">Apply button text</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Images Content -->

        <!-- </div> -->
      </section>

      <!-- submit section was there -->


      <div class="container pl-0 pr-0 content-box">
        <div class="row">
          <div class="form-group col-md-5">
            <span class="mandatory-sign">*</span>

            <select class="form-control custom-select mandatory-field" [(ngModel)]="presentation.id" name="presentationList"
              [class.is-invalid]="isPresentationChanged && presentation.id == 0" (ngModelChange)="changePresentation($event)"
              required>
              <option value="0" selected>Select Presentation</option>
              <option *ngFor="let obj of listOfPresentation" [value]="obj.id"> {{obj.title}}</option>
            </select>

            <div *ngIf="isPresentationChanged && presentation.id == 0">
              <label class="has-error">This field is required.</label>
            </div>
          </div>
          <div class="form-group col-md-5">
            <input type="text" class="btn btn-primary" value="Create New Presentation">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-md-2">
            <div class="left-content-box">
              <div class="text-box-wrapper" *ngFor="let slide of listOfDisplaySlide">
                <div class="slide-box" (click)="fnRenderSlide(slide)">
                  Slide Id {{slide.id}}
                </div>
                <div class="delete-slide btn btn-primary" (click)="fnDeleteSlide(slide)">Delete</div>
              </div>

              <div class="animation-section" style="display:none">
                <div>ANIMATION</div>
                <div>Effect</div>
                <select [(ngModel)]="animation.animationType">
                  <option value="fade-in">Fade in</option>
                  <option value="fade-out">Fade out</option>
                  <option value="slide-up">Slide up</option>
                  <option value="slide-down">Slide down</option>
                  <option value="slide-right">Slide right</option>
                  <option value="slide-left">Slide left</option>
                  <option value="scale-up">Scale up</option>
                  <option value="scale-down">Scale down</option>
                </select>

                <div> Duration</div>
                <input type="text" [(ngModel)]="animation.animationDuration">
                <div>Delay</div>
                <input type="text" [(ngModel)]="animation.animationDelay">
                <button type="button" (click)="applyAnimation()">Applly</button>
                <button type="button" (click)="preview()">Preview</button>
              </div>

            </div>
          </div>
          <div class="col-sm-9 col-md-10">
            <div class="right-content-box">
              <div id="card-body" class="card-body">
                <div id="container" class="ui-widget-content">
                  <div id="inner-container" style="height:100vh;max-height: 100%; width: 100%;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section _ngcontent-c1="" _ngcontent-c11="" class="container pl-0 pr-0">
    <div _ngcontent-c1="" _ngcontent-c11="" class="row">
      <div _ngcontent-c1="" _ngcontent-c11="" class="col-sm-6">
        <form _ngcontent-c1="" _ngcontent-c6="" class="my-5 needs-validation ng-pristine ng-untouched ng-valid"
          ng-reflect-form="[object Object]" novalidate="">


          <div _ngcontent-c1="" _ngcontent-c6="" class="form-group form-row">
            <div class="col-sm-3">
              <label _ngcontent-c1="" _ngcontent-c6="" for="" class="col-form-label">
                <span _ngcontent-c1="" _ngcontent-c6="" style="color: red">*</span>
                Slide Name
              </label>
            </div>
            <div class="col-sm-9">
              <input _ngcontent-c1="" _ngcontent-c6="" class="form-control ng-untouched ng-pristine ng-invalid"
                formcontrolname="slideName" name="slideName" [(ngModel)]="presentation.title" ng-reflect-name="slideName"
                ng-reflect-required="" required="" type="text">
            </div>
          </div>

          <div _ngcontent-c1="" _ngcontent-c6="" class="form-row">
            <div class="col-sm-3">
              <label _ngcontent-c1="" _ngcontent-c6="" for="" class="col-form-label">
                <span _ngcontent-c1="" _ngcontent-c6="" style="color: red">*</span>
                Module
              </label>
            </div>
            <div class="col-sm-9">
              <select _ngcontent-c1="" _ngcontent-c6="" class="form-control custom-select ng-pristine ng-invalid ng-touched"
                formcontrolname="areaId" id="location" ng-reflect-name="areaId" ng-reflect-required="" required="">
                <option _ngcontent-c1="" _ngcontent-c6="" ng-reflect-value="0" selected="" value="0">Preferred Work
                  Location (Area)</option>
                <option _ngcontent-c1="" _ngcontent-c6="" ng-reflect-value="0" selected="" value="0">Preferred Work
                  Location (Area)</option>
              </select>
            </div>
          </div>
          <button _ngcontent-c1="" (click)="savePresentation()" _ngcontent-c6="" class="btn btn-primary btn-submit float-right mt-3"
            type="submit">{{slide.id>0?'Update':'Submit'}}</button>
          <button _ngcontent-c1="" id="slide-reset" _ngcontent-c6="" class="btn btn-outline-primary btn-submit float-right mt-3 mr-2"
            type="button" (click)="fnResetSlide()">Reset</button>
          <button (click)="fnCollectAudioFile()">Play</button>
          <button (click)="fnPuaseAllAudio()">Puase</button>
        </form>
      </div>
      <div class="col-sm-6">
        <!-- <app-object-properties [property]="property"></app-object-properties> -->
      </div>
    </div>
  </section>

  <div id="menu" class="menu">
    <ul class="menu-options">
      <li id="show-menu" class="menu-option">Show selected item on click button</li>
      <li id="hide-menu" class="menu-option">Hide selected item on click button</li>
      <li id="none-menu" class="menu-option">Remove button action</li>
      <li id="active-bg-menu" class="menu-option">Button active background color</li>
      <li id="inactive-bg-menu" class="menu-option">Button inactive background color</li>
      <li id="hidable-item-menu" class="menu-option">Set Hidable Item</li>
      <li id="hide-item-menu" class="menu-option">Set Hide Item</li>
      <li id="show-hidden-menu" class="menu-option">Show hidden Item</li>
      <li id="button-menu" class="menu-option">Set As Button</li>
      <li id="hidable-button-menu" class="menu-option">Set As Hidable Button</li>
      <li id="back-menu" class="menu-option">Send to back</li>
      <li id="front-menu" class="menu-option">Bring to front</li>
    </ul>
  </div>
  <!-- <input type="color" style="display:none; top: -999px;left: -999px" id="bg-color-picker" />
  <input type="color" style="display:none; top: -999px;left: -999px" id="ibg-color-picker" /> -->
  <div id="dialog" class="col-md-12">
    <textarea class="editor"></textarea>
  </div>
</div>