<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>Marital Status Criteria</h3>
    </div>
  </header>
</section>
<!-- End Page Title -->

<div class="container">
  <div class="my-5">
    <!-- <h5>Marital Status Criteria </h5> -->

   <div>
      <button mat-raised-button color="primary" type="button" class="btn btn-sm mb-2" (click)='add()'><i class="fa fa-plus" aria-hidden="true"> <span> Add New Criteria</span></i></button>
   </div>
   <div class="table-responsive">
    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8" style="width:100%;min-width: 450px;" >

      <!-- 'maritalStatus', 'score', 'status' -->
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
      <ng-container matColumnDef="sl">
          <th mat-header-cell *matHeaderCellDef> SL# </th>
          <td mat-cell *matCellDef="let row; let i = index" class="text-align:center"> {{i+1}} </td>
      </ng-container>
      <ng-container matColumnDef="maritalStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Marital Status </th>
        <td mat-cell *matCellDef="let element"> {{element.maritalStatus}} </td>
      </ng-container>
  
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Score </th>
        <td mat-cell *matCellDef="let element"> {{element.score}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element; let row; let i = index"> 
          <input type="checkbox" [(ngModel)]='element.status' (change)='change_status(i, element)'/>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element; let row; let i = index"> 
              <button type="button" class="btn btn-sm btn-primary mr-1" (click)='edit(element.id, i)'><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
              <button type="button" class="btn btn-sm btn-danger mr-1" (click)='delete(element.id, i)'><i class="fa fa-trash" aria-hidden="true"></i></button>
          </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
   </div>
  </div>

</div>