<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>Event Calender</h3>
    </div>
  </header>
</section>

<div class="container">
  <div class="my-5">

    <div class="row">
      <div class="col-md-6">
        <div class="button-row">
          <button mat-raised-button color="primary" class="btn btn-sm mb-2" (click)='add()'> <i class="fa fa-plus" aria-hidden="true">
              <span> Add New Event</span></i></button>
        </div>
      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-4">

        <mat-form-field class="float-right" style="width: 100%">
          <input matInput (keyup)="filter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </div>
    </div>


      <table mat-table [dataSource] = 'datasource' class="mat-elevation-z8" style="width: 100%">

        <!-- <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef> Image </th>
          <td mat-cell *matCellDef="let element"> </td>
        </ng-container> -->

        <ng-container matColumnDef="eventTitle">
          <th mat-header-cell *matHeaderCellDef> Event Title </th>
          <td mat-cell *matCellDef="let element">{{element.eventTitle}} </td>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef> Start Date </th>
          <td mat-cell *matCellDef="let element">{{element.startDateString}} </td>
        </ng-container>

        <ng-container matColumnDef="startTime">
          <th mat-header-cell *matHeaderCellDef> Start Time </th>
          <td mat-cell *matCellDef="let element">{{element.startTimeString}} </td>
        </ng-container>

        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef> End Date </th>
          <td mat-cell *matCellDef="let element">{{element.endDateString}} </td>
        </ng-container>

        <ng-container matColumnDef="endTime">
          <th mat-header-cell *matHeaderCellDef> End Time </th>
          <td mat-cell *matCellDef="let element">{{element.endTimeString}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element">{{element.statusName}} </td>
        </ng-container>

        <ng-container matColumnDef="district">
          <th mat-header-cell *matHeaderCellDef> District </th>
          <td mat-cell *matCellDef="let element">{{element.districtName}} </td>
        </ng-container>

        <ng-container matColumnDef="area">
          <th mat-header-cell *matHeaderCellDef> Area </th>
          <td mat-cell *matCellDef="let element">{{element.areaName}} </td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let element">{{element.address}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element">{{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="capacity">
          <th mat-header-cell *matHeaderCellDef> Capacity </th>
          <td mat-cell *matCellDef="let element"> {{element.capacity}}</td>
        </ng-container>

        <ng-container matColumnDef="availableCapacity">
          <th mat-header-cell *matHeaderCellDef> Available Capacity </th>
          <td mat-cell *matCellDef="let element"> {{element.availableCapacity}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element; let row; let i = index">
            <button type="button" class="btn btn-sm btn-primary mr-1" (click)='edit(i)'><i class="fa fa-pencil-square-o"
                aria-hidden="true"></i></button>
            <button type="button" class="btn btn-sm btn-danger mr-1" (click)='delete(element.eventCalenderId)'><i class="fa fa-trash"
                aria-hidden="true"></i></button>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
      </table>
      <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageChange($event)">
      </mat-paginator>
    </div>
  </div>

