
<section class="container-fluid bg-grey" [hidden]="isEditView">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>MANAGER'S PROFILE</h3>
    </div>
  </header>
</section>
<!-- End Page Title -->

<main class="profile-view" [hidden]="isEditView" *ngIf="userProfile">

  <section class="container">

    <div class="row">			
      <div class="col-md-3 bg-primary ">
        <div *ngIf="userProfile" id="propic" class="mx-auto mt-md-5 mt-3 mb-3  profile-creation__photo">
          <img src="{{userProfile.data.profilePicUrl}}" class="rounded-circle" width="150" height="150">
        </div>

        <div class="profile-view__title">
          <h3>{{ userProfile?.data?.firstName }} {{ userProfile?.data?.middleName }} {{ userProfile?.data?.lastName }}</h3>
          <p>{{ userProfile?.data?.designation.name }}</p>
          <!-- <p><button type="button" class="btn btn-outline-primary border-white btn-sm" (click)="isEditView=true"><i data-feather="edit" class="mr-1"></i> Edit</button></p> -->
          <p><button type="button" class="btn btn-outline-primary border-white btn-sm" (click)="changeUserProfile($event)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button></p>
        </div>
      </div>
      <div class="col-md-9">
        <ul>
          <li class="d-flex profile-view__row">
            <label class="profile-view__lbl">Agent Id</label>
            <span class="profile-view__colon">:</span>
            <span class="profile-view__value">{{ userProfile?.data?.agentId }}</span>
          </li>
          <li class="d-flex profile-view__row">
            <label class="profile-view__lbl">Mobile Number</label>
            <span class="profile-view__colon">:</span>
            <span class="profile-view__value">{{ userProfile?.data?.mobileNumber }}</span>
          </li>

          <li class="d-flex profile-view__row">
            <label class="profile-view__lbl">Agency Name</label>
            <span class="profile-view__colon">:</span>
            <span class="profile-view__value">{{ userProfile?.data?.agencyName }}</span>
          </li>

          <li class="d-flex profile-view__row">
            <label class="profile-view__lbl">District of Agency</label>
            <span class="profile-view__colon">:</span>
            <span class="profile-view__value">{{ userProfile?.data?.district.districtName }}</span>
          </li>

          <li class="d-flex profile-view__row">
            <label class="profile-view__lbl">Area of Agency</label>
            <span class="profile-view__colon">:</span>
            <span class="profile-view__value">{{ userProfile?.data?.area.areaName }}</span>
          </li>

          <li class="d-flex profile-view__row">
            <label class="profile-view__lbl">Agency Address Details</label>
            <span class="profile-view__colon">:</span>
            <span class="profile-view__value">{{ userProfile?.data?.address }}</span>
          </li>

          <li class="d-flex profile-view__row">
            <label class="profile-view__lbl">Number of Team Members</label>
            <span class="profile-view__colon">:</span>
            <span class="profile-view__value">{{ userProfile?.data?.teamMember }}</span>
          </li>


          <li class="d-flex profile-view__row">
            <label class="profile-view__lbl">Achievements</label>
            <span class="profile-view__colon">:</span>
            <span class="profile-view__value" [innerHTML]="userProfile?.data?.achievements" ></span>
          </li>

          <li class="d-flex profile-view__row">
            <label class="profile-view__lbl">Recruitment Quota Limit</label>
            <span class="profile-view__colon">:</span>
            <span class="profile-view__value">{{ userProfile?.data?.quotaLimit }}</span>
          </li>

          <li class="d-flex profile-view__row">
            <label class="profile-view__lbl">Quota Balance</label>
            <span class="profile-view__colon">:</span>
            <span class="profile-view__value">{{ userProfile?.data?.quotaLimit - userProfile?.data?.quotaConsume }}</span>
          </li>


          <li class="d-flex profile-view__row">
            <label class="profile-view__lbl">Years of Experience</label>
            <span class="profile-view__colon">:</span>
            <span class="profile-view__value">{{ userProfile?.data?.yearOfExp }}</span>
          </li>

          <li class="d-flex profile-view__row">
            <label class="profile-view__lbl">Recruitment Ranking</label>
            <span class="profile-view__colon">:</span>
            <span class="profile-view__value">{{ userProfile?.data?.requirementRanking }}</span>
          </li>


          <li class="d-flex profile-view__row">
            <label class="profile-view__lbl">Production Based Ranking</label>
            <span class="profile-view__colon">:</span>
            <span class="profile-view__value">{{ userProfile?.data?.productionBasedRanking }}</span>
          </li>

          <li class="d-flex profile-view__row">
            <label class="profile-view__lbl">No. of Man Power</label>
            <span class="profile-view__colon">:</span>
            <span class="profile-view__value">{{ userProfile?.data?.activeManPower }}</span>
          </li>

          <li class="d-flex profile-view__row">
            <label class="profile-view__lbl">Total Score</label>
            <span class="profile-view__colon">:</span>
            <span class="profile-view__value">{{ userProfile?.data?.totalScore }}</span>
          </li>

        </ul>
      </div>
    </div>

  </section>
  <!-- End Profile view -->

</main>

<!-- <app-um-bm-create *ngIf="isEditView" [userProfile]="userProfile" [isFromUserView]="true" (onSaveHandler)="changeUserProfile($event)"></app-um-bm-create> -->