@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";
:host /deep/ .custom-time-picker {

    .btn-link {
        height: auto;
    }
    .bs-timepicker-field {
        padding: 0;
    }
}
.mat-dialog-container {

    @include media-breakpoint-down(sm) {
        min-width: 50vw;
    }
}
.has-error {
    font-size: 12px;
    color: red;
}
.custom-time-picker .bs-timepicker-field {
  width: 50px;
  height: 31px !important;
}
.campaign-start {
    @include media-breakpoint-down(sm) {
        margin-bottom: 34px;
    }
    .campaign-child {
        // display: table;
        // height: 100px;
        // margin-bottom: 0;
        @include media-breakpoint-down(sm) {
            display: flex;
            height: auto;
        }

        .custom-time-picker {
          float: right;
        }
        input {
            margin-top: 32px;
            @include media-breakpoint-down(sm) {
                margin-top: 0px;
            }
        }
        .mat-form-field-appearance-legacy .mat-form-field-wrapper .mat-form-field-label {
          margin-top: 27px;
          padding-left: 5px;
        }
    }
}
