<form #formEventCalender="ngForm" style="min-height: auto !important;">
  <h3 mat-dialog-title>Create new event</h3>

  <mat-dialog-content my-5>
    <div class="row mx-0">
      <div class="col-xs-6 col-lg-12 form-group ">
        <p style="position: absolute; top: -25px; left: 0;">Image*</p>
        <input
          type="file"
          #fileId
          name="fileId"
          [accept]="fileType"
          class="custom-file-input custom-file-upload"
          (change)="onFileChange($event)"
          required
        />
        <label
          class="custom-file-label"
          style="overflow: hidden"
          for="candidateNid"
          required
        >
          {{
            fileName != null && fileName.length > 0 ? fileName : 'Choose Image'
          }}
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-12 col-lg-12 form-group ">
        <mat-form-field class="" style="width: 100%">
          <input
            matInput
            name="eventTitle"
            [(ngModel)]="model.eventTitle"
            placeholder="Event Title"
            type="text"
            required
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row campaign-start">
      <div class="col-sm-6 campaign-child">
        <mat-form-field>
          <mat-icon matPrefix>calendar_today</mat-icon>
          <input
            matInput
            name="startDate"
            [(ngModel)]="model.startDate"
            [minDate]="minDate"
            [bsConfig]="datePickerConfig"
            placeholder="Start Date"
            type="text"
            bsDatepicker
            required
            (ngModelChange)="modelChange()"
          />
        </mat-form-field>
      </div>

      <div class="col-sm-6 campaign-child">
        <timepicker
          [(ngModel)]="model.startTime"
          autocomplete="off"
          class="custom-time-picker"
          name="startTime"
          #startTime="ngModel"
          required
          (ngModelChange)="modelChange()"
        ></timepicker>
        <div
          *ngIf="startTime?.invalid && (startTime?.dirty || startTime?.touched)"
        >
          <div *ngIf="startTime?.errors.required">
            <label class="has-error">Start time is required.</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row campaign-start">
      <div class="col-sm-6 campaign-child">
        <mat-form-field class="">
          <mat-icon matPrefix>calendar_today</mat-icon>
          <input
            matInput
            name="endDate"
            [(ngModel)]="model.endDate"
            [minDate]="minDate"
            [bsConfig]="datePickerConfig"
            placeholder="End Date"
            type="text"
            bsDatepicker
            required
            (ngModelChange)="modelChange()"
          />
        </mat-form-field>
      </div>
      <div class="col-sm-6 campaign-child">
        <timepicker
          [(ngModel)]="model.endTime"
          autocomplete="off"
          class="custom-time-picker"
          name="endTime"
          required
          (ngModelChange)="modelChange()"
        ></timepicker>
      </div>
    </div>
    <div *ngIf="!dateOk">
      <label class="has-error">
        Start date and time must be less than or equal End date and time
      </label>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-6 col-lg-6 form-group ">
        <mat-form-field style="width:100%">
          <mat-select
            placeholder="Select District"
            [(ngModel)]="model.districtId"
            name="districtId"
            required
            (ngModelChange)="getArea($event)"
          >
            <mat-option
              *ngFor="let district of districts"
              [value]="district.districtId"
            >
              {{ district.districtName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-xs-6 col-md-6 col-lg-6 form-group ">
        <mat-form-field style="width:100%">
          <mat-select
            placeholder="Select Area"
            [(ngModel)]="model.areaId"
            name="areaId"
            required
          >
            <mat-option *ngFor="let area of areas" [value]="area.areaId">
              {{ area.areaName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-12 col-lg-12 form-group ">
        <mat-form-field style="width:100%">
          <textarea
            name="address"
            matInput
            [(ngModel)]="model.address"
            placeholder="Address"
            type="text"
            required
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-12 col-lg-12 form-group ">
        <mat-form-field style="width:100%">
          <textarea
            name="description"
            matInput
            [(ngModel)]="model.description"
            placeholder="Description"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-6 col-lg-6 form-group ">
        <mat-form-field class="" style="width:100%">
          <input
            matInput
            name="capacity"
            [(ngModel)]="model.capacity"
            (change)="changeCapacity()"
            placeholder="Capacity"
            type="number"
            required
          />
        </mat-form-field>
      </div>
      <div class="col-xs-6 col-md-6 col-lg-6 form-group ">
        <mat-form-field class="" style="width:100%">
          <input
            matInput
            name="availableCapacity"
            [(ngModel)]="model.availableCapacity"
            placeholder="Available Capacity"
            type="number"
            required
            readonly
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-9 col-lg-9 form-group ">
        <mat-form-field class="" style="width:100%">
          <input
            matInput
            name="eventUrl"
            [(ngModel)]="model.eventUrl"
            placeholder="Link"
            type="text"
            readonly
          />
        </mat-form-field>
      </div>
      <div class="col-xs-6 col-md-3 col-lg-3 form-group">
        <button
          type="button"
          class="btn btn-sm btn-primary"
          [disabled]="model.eventCalenderId <= 0"
          (click)="copyToClipBoard()"
          style="width:100%"
        >
          Copy
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-6 col-lg-6 form-group ">
        <mat-form-field>
          <mat-select
            placeholder="Select Status"
            [(ngModel)]="model.statusId"
            name="statusId"
            required
          >
            <mat-option *ngFor="let st of status" [value]="st.statusId">
              {{ st.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions style="float: right;">
    <button
      type="button"
      class="btn btn-sm btn-primary mr-1 mb-2"
      [disabled]="!formEventCalender.form.valid || !dateOk"
      (click)="save()"
    >
      <i class="fa fa-save" aria-hidden="true">
        {{ model.eventCalenderId > 0 ? 'Update' : 'Create event' }}
      </i>
    </button>
    <button
      type="button"
      class="btn btn-sm btn-danger mr-1 mb-2"
      (click)="close()"
    >
      <i class="fa fa-times" aria-hidden="true">Cancel</i>
    </button>
  </mat-dialog-actions>
</form>
