<!-- <span style="color:white">{{property|json}}</span> -->
<div class="input-box" data-option-type="text-size">
  <h4 class="input-box__label">Start Time(s)</h4>
  <input type="text" [(ngModel)]="property.startTime" class="input-box__input">
</div>
<div class="input-box" data-option-type="text-size">
  <h4 class="input-box__label"> End Time(s)</h4>
  <input type="text" [(ngModel)]="property.endTime" class="input-box__input">
</div>
<div class="input-box" data-option-type="text-size">
  <h4 class="input-box__label">Change Label</h4>
  <input type="text" [(ngModel)]="property.changeText" class="input-box__input">
</div>
<div class="input-box" data-option-type="text-size">
  <h4 class="input-box__label">Text Color </h4>
  <input [(colorPicker)]="property.textColor" [style.background]="property.textColor" class="input-box__input" />
</div>
<div class="input-box" data-option-type="text-size">
  <h4 class="input-box__label">Opacity</h4>
  <input type="text" [(ngModel)]="property.opacity" class="input-box__input">
</div>
<!-- <div class="input-box" data-option-type="text-size">
  <h4 class="input-box__label">Border</h4>
  <div>
    <input type="text" [(ngModel)]="property.borderLine" class="input-box__input" style="width: 30%; float: left;">
    <input [(colorPicker)]="property.borderColor" class="input-box__input" [style.background]="property.borderColor"
      style="width: 65%; float: right;margin-bottom: 15px;" />
  </div>
</div> -->

<div class="input-box" data-option-type="text-size">
  <h4 class="input-box__label">Background Color </h4>
  <input [(colorPicker)]="property.backgroundColor" [style.background]="property.backgroundColor" class="input-box__input" />
</div>
<div class="input-box" data-option-type="text-size">
  <h4 class="input-box__label">Active Background Color </h4>
  <input [(colorPicker)]="property.activeBgColor" [style.background]="property.activeBgColor" class="input-box__input" />
</div>
<div class="input-box" data-option-type="text-size">
  <h4 class="input-box__label">Inactive Background Color </h4>
  <input [(colorPicker)]="property.inactiveBgColor" [style.background]="property.inactiveBgColor" class="input-box__input" />
</div>
<div class="input-box" data-option-type="text-size">
  <h4 class="input-box__label">Visited Background Color </h4>
  <input [(colorPicker)]="property.visitedBgColor" [style.background]="property.visitedBgColor" class="input-box__input" />
</div>
<div class="input-box" data-option-type="text-size">
  <h4 class="input-box__label">Delay Time (s) </h4>
  <input [(ngModel)]="property.delay" class="input-box__input" />
</div>
<div class="input-box" data-option-type="text-size">
  <h4 class="input-box__label">Sequence Number </h4>
  <input [(ngModel)]="property.sequence" class="input-box__input" />
</div>

<div class="input-box" data-option-type="text-size">
  <h4 class="input-box__label">Click Linked slide number </h4>
  <select [(ngModel)]="property.linkedSlideNumber" style="width: 100%;">
    <option [value]="">Select</option>
    <option *ngFor="let s of slides" [value]="s.id">Slide No {{s.order}}</option>
  </select>
</div>

<div class="input-box" data-option-type="text-size">
  <h4 class="input-box__label">Initial Display Prop.</h4>
  <select [(ngModel)]="property.initialDisplayProp" style="width: 100%;">
    <option value="Hidden">Hidden</option>
    <option value="Show">Show</option>
    <option value="Full Time Hidden">Full Time Hidden</option>
  </select>
</div>
<div class="input-box" data-option-type="text-size">
  <h4 class="input-box__label">Hidden after click</h4>
  <select [(ngModel)]="property.actionAfterClick" style="width: 100%;">
    <option value="No">No</option>
    <option value="Yes">Yes</option>
  </select>
</div>
<div class="input-box" data-option-type="text-size">
  <h4 class="input-box__label">Select Dynamic Property</h4>
  <select [(ngModel)]="property.dynamicDragDrop" style="width: 100%;">
    <option value="0">Select</option>
    <option value="dynamic-draggable">Draggable</option>
    <option value="dynamic-droppable">Droppable</option>
  </select>
</div>
<div class="input-box" data-option-type="text-size">
  <h4 class="input-box__label">Select Property For Drag/Drop</h4>
  <select [(ngModel)]="property.dynamicDragDropShowHide" style="width: 100%;">
    <option value="0">Select</option>
    <option value="dynamic-hide-after-drop">Hide after drop</option>
    <option value="dynamic-show-after-drop">Show after drop</option>
  </select>
</div>
<div class="input-box" data-option-type="text-size">
  <h4 class="input-box__label">Animation</h4>
  <select [(ngModel)]="property.animationProp" style="width: 100%;">
    <option value="blind">Blind</option>
    <option value="bounce">Bounce</option>
    <!-- <option value="clip">Clip</option>
  <option value="blind">Blind</option>
  <option value="explode">Explode</option>
  <option value="fold">Fold</option>
  <option value="puff">Puff</option>
  <option value="pulsate">Pulsate</option>
  <option value="size">Size</option>
   <option value="drop">Drop</option> -->
    <option value="fade">Fade</option>
    <option value="highlight">Highlight</option>
    <option value="scale">Scale</option>
    <option value="shake">Shake</option>
    <option value="slide">Slide</option>
  </select>
</div>

<div class="input-box" data-option-type="text-size">
  <h4 class="input-box__label">Enabled disabled property</h4>
  <select [(ngModel)]="property.enabledDisabledProperty" style="width: 100%;">
    <option value="">Select</option>
    <option value="clicked-enabled">Enable</option>
    <option value="clicked-disabled">Disable</option>
  </select>
</div>
<div class="input-box" data-option-type="text-size">
  <h4 class="input-box__label">Self enabled delay time(s) </h4>
  <input [(ngModel)]="property.selfButtonEnabledDelay" class="input-box__input" />
</div>
<div class="input-box" data-option-type="text-size">
  <h4 class="input-box__label">Next enabled property sequence no. </h4>
  <input [(ngModel)]="property.nextEnabledButtonSequenseNo" class="input-box__input" />
</div>
<div class="input-box" data-option-type="text-size">
  <h4 class="input-box__label">Enabled next sequense delay time(s) </h4>
  <input [(ngModel)]="property.nextButtonEnabledDelay" class="input-box__input" />
</div>

<button class="btn btn-primary" (click)="fnApplyProperty()">Apply</button>