<!-- <router-outlet></router-outlet> -->

<header class="container-fluid">
  <div class="global-header row align-items-center" [hidden]="isLogIn">
    <div class="col">
      <ul class="list-unstyled top-nav top-nav--left">
        <li class="top-nav__menu">
          <a href="javascript:void(0)">
            <span class="icon-menu">
              <i data-feather="menu"></i>
              <span class="top-nav__title">MENU</span>
            </span>
            <span class="icon-close" style="display: none;">
              <i data-feather="x"></i>
              <span class="top-nav__title">CLOSE</span>
            </span>
          </a>
          <div class="home-megamenu">
            <div class="home-megamenu__scroll">
              <div class="container">
                <div class="row">
                  <div class="menu-links col-12 col-md-6 col-lg-3">
                    <h3 class="menu-links__title">Build a New Career</h3>
                    <ul class="list-unstyled">
                      <li>
                        <a href="javascript:void(0)">
                          Being A Financial Associate
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">Accelerated Career Path</a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          Potential Earnings And Benefits
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">Recognition Initiatives</a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">Join a Career Seminar</a>
                      </li>
                    </ul>
                  </div>

                  <div class="menu-links col-12 col-md-6 col-lg-3">
                    <h3 class="menu-links__title">Why MetLife</h3>
                    <ul class="list-unstyled">
                      <li>
                        <a href="javascript:void(0)">
                          MetLife, Your Trusted Partner
                        </a>
                      </li>
                      <li><a href="javascript:void(0)">Our Culture</a></li>
                      <li>
                        <a href="javascript:void(0)">Awards and Accolades</a>
                      </li>
                      <li><a href="javascript:void(0)">Presence In Asia</a></li>
                      <li>
                        <a href="javascript:void(0)">Management Commitment</a>
                      </li>
                    </ul>
                  </div>

                  <div class="menu-links col-12 col-md-6 col-lg-3">
                    <h3 class="footer-links__title">Success Stories</h3>
                    <ul class="list-unstyled">
                      <li><a href="javascript:void(0)">Top Performers</a></li>
                      <li><a href="javascript:void(0)">Agency Leaders</a></li>
                      <li><a href="javascript:void(0)">Hall Of Fame</a></li>
                    </ul>
                  </div>

                  <div class="menu-links col-12 col-md-6 col-lg-3">
                    <h3 class="menu-links__title">Why MetLife</h3>
                    <ul class="list-unstyled">
                      <li>
                        <a href="javascript:void(0)">3 Steps To Join MetLife</a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">Choose Your Partner</a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">Income Calculator</a>
                      </li>
                      <li><a href="javascript:void(0)">Apply Now</a></li>
                      <li><a href="javascript:void(0)">FAQ</a></li>
                    </ul>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <hr />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="d-none d-sm-inline-block top-nav__home">
          <a href="javascript:void(0)">
            <span class="icon-home">
              <i data-feather="home"></i>
              <span class="top-nav__title">HOME</span>
            </span>
          </a>
        </li>
        <!-- <li class="top-nav__search">
          <a href="javascript:void(0)" class="home-search-icon" (click)="focusSearch()">
            <span class="icon-search">
              <i data-feather="search"></i>
              <span class="top-nav__title">SEARCH</span>
            </span>
          </a>
          <form class="home-search d-none" (ngSubmit)="search()">
            <input type="search" class="form-control" on-focus="focusSearch()" on-focusout="focusOutSearch()"
              placeholder="Search" [(ngModel)]="searchText" name="searchText" />
          </form>
        </li> -->
      </ul>
    </div>
    <a href="javascript:void(0)" class="logo">
      <img src="images/metlife.png" alt="metlife logo" class="img-fluid" />
    </a>
    <div class="col d-flex justify-content-end">
      <ul class="list-unstyled top-nav top-nav--right">
        <li class="top-nav__login log-in" *ngIf="!get_login_status()">
          <a href="javascript:void(0)" (click)="login()">
            <span>LOG IN</span>
            <i data-feather="lock"></i>
          </a>
        </li>
        <li class="top-nav__login log-out" *ngIf="get_login_status()">
          <a href="javascript:void(0)" (click)="logout('Logout button')">
            <span>LOG Out</span>
            <i data-feather="unlock"></i>
          </a>
        </li>

        <li class="top-nav__language">
          <a href="javascript:void(0)">
            ENGLISH
            <i data-feather="chevron-down"></i>
          </a>
        </li>
        <!--
          <li class="top-nav__apply" (click)='signup()'>
            <a href="javascript:void(0)">APPLY NOW</a>
          </li>
        -->

        <li class="top-nav__contact">
          <a href="javascript:void(0)">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="dashboard-header row align-items-center justify-content-center" [hidden]="!isLogIn">
    <div class="col-12 col-lg-3 dashboard-logo justify-content-center justify-content-lg-start justify-content-sm-center">
      <a href="javascript:void(0)" class="logo" (click)="reload()">
        <img src="images/metlife.png" alt="metlife logo" class="img-fluid" />
      </a>
    </div>

    <div class="col-12 col-lg-7 dashboard-user justify-content-center justify-content-lg-end justify-content-sm-center">
      <span class="dashboard-user__title">
        Welcome
        <b>{{ accountService.getUserName() }}</b>
      </span>
      <ul class="list-unstyled dashboard-user__menu">
        <li>
          <a href="javascript:void(0)" (click)="notificationClick()">
            <div class="notification-count" *ngIf="pendingNotificationCount>0">{{pendingNotificationCount}}</div>
            <i data-feather="bell"></i>
          </a>
          <div class="notification-wrapper" *ngIf="showNotification">
            <!-- (clickOutside)="closeNotification()" -->

            <app-user-notification></app-user-notification>
          </div>
        </li>


        <li (clickOutside)="closeUserIcon()" (click)="toggleUserIcon()">
          <a href="javascript:void(0)">
            <i data-feather="user"></i>

            <div class="notification-wrapper profile-wrapper" *ngIf="isUserIconExpanded">
              <div class="container p-0">
                <div class="row profile m-0">
                  <div class="col-md-12 p-0">
                    <div class="profile-sidebar">
                      <!-- SIDEBAR USERPIC -->
                      <div class="profile-userpic text-center">
                        <img [src]="accountService.get_profile_pic_url()" alt="image not found"
                          class="img-responsive" onError="this.src='avatar.png';" />
                        <div _ngcontent-c0="" class="profile-usertitle">
                          <div _ngcontent-c0="" class="profile-usertitle-name"> {{accountService.getUserName()}} </div>
                          <div _ngcontent-c0="" class="profile-usertitle-job"> {{userIconVm?.designation}} </div>
                        </div>
                      </div>

                      <div class="profile-userbuttons px-3">
                        <button type="button" class="btn btn-primary btn-sm float-left" (click)="redirectToProfile()">Profile
                        </button>
                        <button type="button" class="btn btn-primary btn-sm float-right" data-toggle="modal"
                          data-backdrop="static" data-target="#logOutModal">
                          Sign Out
                        </button>
                      </div>
                      <div class="profile-userbuttons px-3 border-0 pt-0">
                        <a (click)="changePassword()" class="text-primary cursor-pointer p-0">
                          Change Password
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <button type="button" class="border-0 bg-transparent btn-header-email">
              <i data-feather="mail"></i>
            </button>
          </a>
        </li>
        <!-- <li>
          <form class="dashboard-search" (ngSubmit)="search()">
            <input type="search" class="form-control" [(ngModel)]="searchText" name="searchText" />
          </form>
        </li> -->
        <li>
          <a href="javascript:void(0)" data-toggle="modal" data-backdrop="static" data-target="#logOutModal">
            <i class="icon-tie"></i>
          </a>
        </li>
        <!-- <li>
          <a (click)="changePassword()" class="text-primary cursor-pointer">
            Change Password
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</header>
<nav class="container-fluid main-nav main-nav--sm  d-none d-md-block">
  <div>
    <div class="col">
      <ul class="nav justify-content-left">
        <li class="nav-item mr-auto">
          <a [ngClass]="currentMenuPosition > 0 ? 'nav-link' : 'nav-link d-none'" href="javascript:void(0)" (click)="currentMenuPosition = currentMenuPosition - 1">
            <i data-feather="arrow-left"></i>
          </a>
        </li>

        <ng-template #recursiveList let-list>
          <li *ngFor="
              let item of (list
                | slice
                  : currentMenuPosition * menuSize
                  : currentMenuPosition * menuSize + menuSize)
            "
            class="nav-item">
            <a class="nav-link" *ngIf="item.path && item.showInMenu && item.portalName == 'Admin'" [routerLink]="[item.path]"
              [routerLinkActive]="['active']">
              {{ item.menuName }}
            </a>
            <ul *ngIf="item.list.length > 0">
              <ng-container *ngTemplateOutlet="
                  recursiveList;
                  context: { $implicit: item.list }
                "></ng-container>
            </ul>
          </li>
        </ng-template>
        <ng-container *ngTemplateOutlet="recursiveList; context: { $implicit: list }"></ng-container>
        <li class="nav-item ml-auto">
          <a [ngClass]="
              list.length > currentMenuPosition * menuSize + menuSize
                ? 'nav-link'
                : 'nav-link d-none'
            "
            href="javascript:void(0)" (click)="currentMenuPosition = currentMenuPosition + 1">
            <i data-feather="arrow-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- <app-side-navbar></app-side-navbar> -->
<!-- Modal -->
<div class="modal fade" id="logOutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4 class="text-center">Log Out?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          No
        </button>
        <button type="button" class="btn btn-primary" (click)="logout('Logout button')" data-dismiss="modal">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>

<router-outlet>
  <!-- <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner> -->
</router-outlet>
<app-loading-spinner *ngIf="showLoader"></app-loading-spinner>

<footer class="footer">
  <div class="container">
    <section class="row footer__top">
      <div class="footer-links col-12 col-md-6 col-lg-3">
        <h3 class="footer-links__title">Build a New Career</h3>
        <ul class="list-unstyled">
          <li><a href="#">Being A Financial Associate</a></li>
          <li><a href="#">Accelerated Career Path</a></li>
          <li><a href="#">Potential Earnings And Benefits</a></li>
          <li><a href="#">Recognition Initiatives</a></li>
          <li><a href="#">Join a Career Seminar</a></li>
        </ul>
      </div>

      <div class="footer-links col-12 col-md-6 col-lg-3">
        <h3 class="footer-links__title">Why MetLife</h3>
        <ul class="list-unstyled">
          <li><a href="#">MetLife, Your Trusted Partner</a></li>
          <li><a href="#">Our Culture</a></li>
          <li><a href="#">Awards and Accolades</a></li>
          <li><a href="#">Presence In Asia</a></li>
          <li><a href="#">Management Commitment</a></li>
        </ul>
      </div>

      <div class="footer-links col-12 col-md-6 col-lg-3">
        <h3 class="footer-links__title">Success Stories</h3>
        <ul class="list-unstyled">
          <li><a href="#">Top Performers</a></li>
          <li><a href="#">Agency Leaders</a></li>
          <li><a href="#">Hall Of Fame</a></li>
        </ul>
      </div>

      <div class="footer-links col-12 col-md-6 col-lg-3">
        <h3 class="footer-links__title">Why MetLife</h3>
        <ul class="list-unstyled">
          <li><a href="#">3 Steps To Join MetLife</a></li>
          <li><a href="#">Choose Your Partner</a></li>
          <li><a href="#">Income Calculator</a></li>
          <li><a href="#">Apply Now</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </section>
    <!-- End footer top -->

    <section class="row social">
      <div class="col d-flex">
        <div class="ml-sm-auto">
          <span class="social__label">Follow us</span>
          <a class="social__link" href="https://www.facebook.com/metlife" target="_blank" aria-label="Facebook">
            <i data-feather="facebook"></i>
          </a>
          <a class="social__link" href="https://twitter.com/metlife" target="_blank" aria-label="Twitter ">
            <i data-feather="twitter"></i>
          </a>
          <a class="social__link" href="https://www.linkedin.com/company/metlife" target="_blank" aria-label="LinkedIn">
            <i data-feather="linkedin"></i>
          </a>
          <a class="social__link" href="https://www.youtube.com/user/Metlife" target="_blank" aria-label="Youtube">
            <i data-feather="youtube"></i>
          </a>
        </div>
      </div>
    </section>
    <!-- End social -->

    <hr class="footer__separetor" />

    <section class="legal row">
      <div class="col-xs-12 col-md-3">
        <a href="#" class="legal__logo">
          <img src="images/metlife.png" class="img-fluid" alt="metlife" />
        </a>
        <p class="legal__phn">
          <a href="tel:+18006385433">CALL: 1-800-METLIFE</a>
        </p>
      </div>

      <div class="legal__copy col-xs-12 col-md-9">
        <div class="d-xl-flex mt-1">
          <div class="legal__link">
            <a href="#" target="_blank" aria-label="Privacy Policy">
              Privacy Policy
            </a>
            <span class="legal__bullet"></span>
            <a href="#" target="_blank" aria-label="Legal Notices">
              Legal Notices
            </a>
            <span class="legal__bullet"></span>
            <a href="#">Feedback</a>
          </div>
          <p class="legal__copyright ml-md-2">
            ©&nbsp;2018 Metropolitan Life Insurance Company, New York, NY 10166 - All Rights Reserved.
          </p>
        </div>
        <p class="legal__copyright">L1217501534[exp0219][All States]</p>
      </div>
    </section>
    <!-- End legal -->
  </div>
</footer>
