.display-hide{
    display: none;
}

:host /deep/.notification-wrapper {
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -200px;
    background-color: #fff;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #eee;
    border: 1px solid #eee;
    width: 400px;
    margin-top: 10px;
    z-index: 52;
    .notification-header {
      padding: 25px 25px 0;
      text-align: center;
    }
    .notification-body {
      padding: 20px;
      .nav-tabs {
        margin-bottom: 15px;
        a {
          color: #007abc;
          margin-left: 25px;
          margin-right: 30px;
          padding-left: 0;
          padding-right: 0;
          font-size: 13px;
        }
        &:first-of-type {
          a {
            margin-left: 0;
          }
        }
        .nav-link.active,
        .nav-link:hover,
        .nav-link:focus {
          color: #a5cb57;
          background-color: #fff;
          border-color: #fff #fff #007abc;
        }
      }
      .tab-content {
        height: 250px;
        overflow: auto;
        ul {
          padding-left: 0;
          li {
            display: block;
            padding-top: 10px;
            a {
              justify-content: left;
              padding: 0;
              &:hover {
                text-decoration: none;
              }
              span {
                margin-left: 10px;
                padding: 7px 10px;
                border-radius: 15px;
              }
            }
          }
        }
      }
    }
    &::after {
      content: '';
      position: absolute;
      margin: auto;
      top: -10px;
      left: 0;
      right: 0;
      width: 20px;
      height: 20px;
      background: #fff;
      transform: rotate(45deg);
      -webkit-transform: rotate(225deg);
      -moz-transform: rotate(225deg);
      -o-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
    }
    .profile {
      margin: 20px 0;
      .profile-sidebar {
        padding: 0;
        background: #fff;
        .profile-userpic {
          padding: 20px 0;
          background: #0c639e;
          position: relative;
          z-index: 1;
          img {
            float: none;
            margin: 0 auto;
            width: 100px;
            height: 100px;
            margin-bottom: 10px;
            border: 3px solid #ccc;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
          }
        }
        .profile-usertitle {
          text-align: center;
          .profile-usertitle-name {
            color: #5a7391;
            font-size: 22px;
            color: #fff;
          }
  
          .profile-usertitle-job {          
            color: #fff;
            font-size: 12px;
            font-weight: 600;
          }
        }
        .profile-userbuttons {
          float: left;
          width: 100%;
          background-color: #f9f9f9;
          padding: 15px 10px;
          border-top: 1px solid #eee;        
          .btn {        
            font-size: 11px;
            font-weight: 600;
            padding: 6px 15px;
            margin-right: 5px;
            background: #007abc;
            color: #f8f9fa;
            border: 1px solid transparent;
            &:last-child {
              margin-right: 0px;
            }
          }
        }
        .profile-usermenu {
          margin-top: 30px;
          ul {
            justify-content: center;
            li {            
              a {
                color: #0c639e;
                font-size: 14px;
                font-weight: 400;
                i {
                  margin-right: 8px;
                  font-size: 14px;
                }
                &:hover {
                  background-color: #fafcfd;
                  color: #5b9bd1;
                }
              }
              &:last-child {
                border-bottom: none;          
              }
              &.active {
                border-bottom: none;
                a {
                  color: #5b9bd1;
                  background-color: #f6f9fb;                
                  margin-left: -2px;
                }
              }
            }
          }
        }
        /* Profile Content */
        .profile-content {
          padding: 20px;
          background: #fff;
          min-height: 460px;
        }
      }
    }
  }
  .profile-wrapper {
    width: 300px;
    margin-left: -150px;
  }
  