<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12"><h3>Training Certificate List</h3></div>
  </header>
</section>
<!-- End Page Title -->
<input
  type="file"
  id="certificateUpload"
  ng2FileSelect
  [uploader]="uploader"
  onclick="this.value = null"
  accept="image/*,application/pdf"
  (change)="upload($event)"
  style="display:none"
/>
<div class="container-fluid mt-2">
  <div class="my-5">
    <div class="row">
      <div class="col-md-2">
        <select
          class="form-control form-control-sm custom-select"
          [(ngModel)]="filterValue"
          (change)="getAll()"
          name=""
          required
        >
          <option value="Select Type">Select Type</option>
          <option value="All">All</option>
          <option value="Completed">Completed</option>
          <option value="Pending">Pending</option>
        </select>
      </div>
      <div class="col-md-6"></div>
      <div class="col-md-4">
        <mat-form-field class="float-right" style="width: 100%">
          <mat-icon matPrefix>search</mat-icon>
          <input
            matInput
            (keyup)="filter($event.target.value)"
            [(ngModel)]="searchText"
            placeholder="Search Candidate"
          />
        </mat-form-field>
      </div>
    </div>

    <!--
      <div class="row">
        <div class="col-md-6">
          <button mat-raised-button color="primary" (click)="filter()">Filter</button>
          <button mat-raised-button (click)="clear()">Clear</button>
        </div>
        <div class="col-md-6 text-right">
          <button mat-button color="accent" class="navbar-right" title="Download all selected">
            <i class="fa fa-file-archive-o"></i> All Zip
          </button>
          <button mat-button color="brown" class="navbar-right" title="Print list" (click)="trainingCertificatePrint()">
            <i class="fa fa-print"></i> Print
          </button>
        </div>
      </div>
    -->
    <br />
    <div class="table-responsive">
      <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
        <!-- <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
            ></mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
            ></mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="sl">
          <th mat-header-cell *matHeaderCellDef>SL#</th>
          <td
            mat-cell
            *matCellDef="let row; let i = index"
            class="text-align:center"
          >
            {{ i + 1 + pageSize * (pageIndex - 1) }}
          </td>
        </ng-container> -->

        <ng-container matColumnDef="candidateId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Candidate Id</th>
          <td mat-cell *matCellDef="let element">{{ element.candidateId }}</td>
        </ng-container>

        <ng-container matColumnDef="candidateName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Candidate Name
          </th>
          <td mat-cell *matCellDef="let element">
            <a
              [routerLink]="['/ap/candidate-profile', element.candidateId]"
              [queryParams]="{ tab: 'submit-documents-tab' }"
            >
              {{ element.candidateName }}
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="faCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>FA Code</th>
          <td mat-cell *matCellDef="let element">{{ element.faCode }}</td>
        </ng-container>

        <ng-container matColumnDef="trainingExamDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Training Exam Date
          </th>
          <td mat-cell *matCellDef="let element">
            {{
              dataService.utc_to_local_time(
                element.trainingExamDate,
                dataService.DATEFORMAT
              )
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="documentSubmissionDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Document Submission Date
          </th>
          <td mat-cell *matCellDef="let element">
            {{
              dataService.utc_to_local_time(
                element.documentSubmissionDate,
                dataService.DATEFORMAT
              )
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>View Certificate</th>
          <td mat-cell *matCellDef="let element; let row; let i = index">
            <button
              mat-button
              (click)="
                viewCertificate(
                  element.certificateFilePath,
                  element.candidateName
                )
              "
              *ngIf="element.certificateUploadDate"
            >
              <i class="fa fa-eye"></i>
              View
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="certificateUploadDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Certificate Upload Date
          </th>
          <td mat-cell *matCellDef="let element">
            {{
              dataService.utc_to_local_time(
                element.certificateUploadDate,
                dataService.DATEFORMAT
              )
            }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <mat-paginator
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="pageChange($event)"
    ></mat-paginator>
  </div>
</div>
