<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>Menu</h3>
    </div>
  </header>
</section>
<!-- End Page Title -->

<div class="container">
  <div class="my-5">
    <!-- <h5>Menu</h5> -->

    <div class="row">
      <div class="col-6">
        <div class="button-row">
          <button mat-raised-button color="primary" class="btn btn-sm mb-2" (click)='add()'> <i class="fa fa-plus" aria-hidden="true">
              <span> Add New Menu</span></i></button>
        </div>
        <!-- 

        <button type="button" class="btn btn-sm btn-primary mr-1"><i class="fa fa-plus" aria-hidden="true" (click)='add()'>
            Add New Menu</i></button> -->
      </div>
      <div class="col-6">

        <mat-form-field class="float-right" style="width: 100%">
          <input matInput (keyup)="filter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </div>

    </div>
    <div class="table-responsive">
      <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%">
        <ng-container matColumnDef="sl">
          <th mat-header-cell *matHeaderCellDef> #SL </th>
          <td mat-cell *matCellDef="let row; let i = index" class="text-align:center"> {{i+1}} </td>
        </ng-container>
        <ng-container matColumnDef="portalName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Portal Name </th>
          <td mat-cell *matCellDef="let element"> {{element.portalName}} </td>
        </ng-container>
        <ng-container matColumnDef="parentMenu">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Parent Menu </th>
          <td mat-cell *matCellDef="let element"> {{element.parentMenu}} </td>
        </ng-container>


        <ng-container matColumnDef="menuName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.menuName}} </td>
        </ng-container>

        <ng-container matColumnDef="showInMenu">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Show In Menu </th>

          <td mat-cell *matCellDef="let element"> {{element.showInMenu ==true ? 'Yes':'No'}} </td>
        </ng-container>

        <ng-container matColumnDef="sortOrder">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sort Order </th>
          <td mat-cell *matCellDef="let element"> {{element.sortOrder}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element; let row; let i = index">
            <button type="button" class="btn btn-sm btn-primary mr-1" (click)='edit(element.menuId)'><i class="fa fa-pencil-square-o"
                aria-hidden="true"></i></button>
            <button type="button" class="btn btn-sm btn-danger mr-1" (click)='delete(element.menuId)'><i class="fa fa-trash"
                aria-hidden="true"></i></button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageChange($event)">
    </mat-paginator>

  </div>
</div>





<!-- <div class="container">
  <div class="row" *ngIf="errorMessage">
    <div class="col-xs-12 col col-md-12 col-lg-12">
      <div class="alert alert-danger">
        {{errorMessage}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <form (ngSubmit)="save()">
        <div class="registration-header">
          <h4>Menu </h4>
          <hr>
        </div>
        <div class="row">
          <div class="col-xs-4 col col-md-4 col-lg-4 form-group">
            <label>Menu Name</label>
            <input class="form-control form-control-sm" [(ngModel)]='menu.menuName' name="menuName" required/>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col col-md-4 col-lg-4 form-group">
            <label>Component</label>
            <input class="form-control form-control-sm" [(ngModel)]='menu.component' name="component" required/>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-4 col col-md-4 col-lg-4 form-group">
            <label>Path</label>
            <input class="form-control form-control-sm" [(ngModel)]='menu.path' name="path" required/>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col col-md-4 col-lg-4 form-group">
            <label>Parent Menu</label>
            <select class="form-control" [(ngModel)]="menu.parentId" name="parentId">
              <option value="select">Select</option>
              <option *ngFor="let menu of menus" [value]="menu.menuId"> {{menu.menuName}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col col-md-4 col-lg-4 form-group">
            <label>Sort Order</label>
            <input class="form-control form-control-sm" [(ngModel)]='menu.sortOrder' name="sortOrder" required/>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col col-md-4 col-lg-4 form-group">
            <label>Portal</label>
            <select class="form-control" [(ngModel)]="menu.portalName" name="portalName">          
              <option value="Admin" selected="selected">Admin</option>
              <option value="Candidate">Candidate</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col col-md-4 col-lg-4">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" [value]="menu.showInMenu" [(ngModel)]="menu.showInMenu" name="showInMenu">Show
              </label>
            </div>
          </div>
        </div>
        <br>
        <div class="btn-group">
          <button class="btn btn-success">Save</button>
          <button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12  col-sm-12 col-lg-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Path</th>
            <th>Component</th>
            <th>Parent Menu</th>
            <th>Show</th>
            <th>Sort Order</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let model of menus">
            <td>{{model.menuId}}</td>
            <td>{{model.menuName}}</td>
            <td>{{model.path}}</td>
            <td>{{model.component}}</td>
            <td>{{model.parentMenu}}</td>
            <td>{{model.showInMenu}}</td>
            <td>{{model.sortOrder}}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-sm btn-primary" (click)="edit(model.menuId)">Edit</button>
                <button class="btn btn-sm btn-danger" (click)="delete(model.menuId)">Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div> -->