<section _ngcontent-c1="" class="container-fluid bg-grey">
  <header _ngcontent-c1="" class="row page-header page-header--sm">
    <div _ngcontent-c1="" class="col-12">
      <h3 _ngcontent-c1="">List of Certificate Fee Submission</h3>
    </div>
  </header>
</section>

<div class="container-fluid">
  <div class="my-5">
    <div class="row">
      <div class="col-12 col-sm-6">
        <mat-form-field class="column-full-width">
          <mat-select placeholder="Select Action" [(ngModel)]="filterStatus" name="filterStatus" (selectionChange)="filter()">
            <mat-option *ngFor="let status of filterStatuses" [value]="status">
              {{status}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-12 col-sm-6">
        <mat-form-field class="float-right" style="width: 100%">
          <input matInput (keyup)="filter()" [(ngModel)]="searchText" name="searchText" placeholder="Search Candidate, FA Code">
        </mat-form-field>
      </div>
    </div>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width:100%">
        <!-- <ng-container matColumnDef="sl">
          <th mat-header-cell *matHeaderCellDef> SL# </th>
          <td mat-cell *matCellDef="let row; let i = index"> {{i+1}} </td>
        </ng-container> -->
        <ng-container matColumnDef="candidateId">
          <th mat-header-cell *matHeaderCellDef> Candidate Id </th>
          <td mat-cell *matCellDef="let element">{{element?.candidateId}}</td>
        </ng-container>

        <ng-container matColumnDef="candidateName">
          <th mat-header-cell *matHeaderCellDef> Candidate Name </th>
          <td mat-cell *matCellDef="let element"> {{element?.candidateName}}</td>
        </ng-container>

        <ng-container matColumnDef="faCode">
          <th mat-header-cell *matHeaderCellDef> FA Code </th>
          <td mat-cell *matCellDef="let element"> {{element?.faCode}}</td>
        </ng-container>

        <ng-container matColumnDef="receiptNumber">
          <th mat-header-cell *matHeaderCellDef> Receipt Number </th>
          <td mat-cell *matCellDef="let element"> {{element?.receiptNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="createDateTime">
          <th mat-header-cell *matHeaderCellDef> Certificate Fee Submission Date </th>
          <td mat-cell *matCellDef="let element"> {{element?.createDateTime | date}} </td>
        </ng-container>

        <ng-container matColumnDef="amountPaid">
          <th mat-header-cell *matHeaderCellDef> Amount Paid </th>
          <td mat-cell *matCellDef="let element"> {{element?.amountPaid}} </td>
        </ng-container>

        <ng-container matColumnDef="paymentDate">
          <th mat-header-cell *matHeaderCellDef> Payment Date </th>
          <td mat-cell *matCellDef="let element"> {{element?.paymentDate | date}} </td>
        </ng-container>

        <ng-container matColumnDef="depositPoint">
          <th mat-header-cell *matHeaderCellDef>Deposit Point </th>
          <td mat-cell *matCellDef="let element"> {{element?.depositPointName}} </td>
        </ng-container>

        <ng-container matColumnDef="lockedByName">
          <th mat-header-cell *matHeaderCellDef>Assigned Collection Admin</th>
          <td mat-cell *matCellDef="let element" style="text-align:center;"> {{element?.lockedByName}} <br>
            <button class="btn btn-primary btn-sm" *ngIf='inProgressStatus' (click)='reassign(element)'>
              Reassign
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="authorizedByName">
          <th mat-header-cell *matHeaderCellDef>Assigned Collection Admin</th>
          <td mat-cell *matCellDef="let element"> {{element.authorizedByName}} </td>
        </ng-container>

        <ng-container matColumnDef="lockedDate">
          <th mat-header-cell *matHeaderCellDef>Assigned Date</th>
          <td mat-cell *matCellDef="let element"> {{element?.lockedDate | date}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Action Taken</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element?.statusId==status.Accepted" class="badge badge-success">Accepted</span>
            <span *ngIf="element?.statusId==status.Pending" class="badge badge-warning">Pending</span>
            <span *ngIf="element?.statusId==status.Rejected" class="badge badge-danger">Rejected</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="authorizedDate">
          <th mat-header-cell *matHeaderCellDef>Date of Action</th>
          <td mat-cell *matCellDef="let element"> {{element?.authorizedDate | date}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageChange($event)">
    </mat-paginator>
  </div>
</div>