<form #documentVerificationByReassignForm='ngForm'>
  <h3 mat-dialog-title>Reassign</h3>

  <mat-dialog-content my-5>
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12">
        <mat-form-field class="column-full-width">
          <mat-select placeholder="Select Agency Service Admin" [(ngModel)]="model.lockedBy" name="lockedBy">
            <mat-option *ngFor="let user of users" [value]="user.userId">
              {{user.firstName}} {{user.middleName}} {{user.lastName}} ({{user.userId}})
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions style="float: right;">
    <button mat-raised-button color="primary" [disabled]='!documentVerificationByReassignForm.form.valid' (click)='reassign()'>
      <i class="fa fa-save" aria-hidden="true"> </i> Reassign
    </button>
    <button mat-raised-button color="warn" (click)='close()'>
      <i class="fa fa-times" aria-hidden="true"> </i> Close
    </button>
  </mat-dialog-actions>
</form>