<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>Internal User Creation</h3>
    </div>
  </header>
  <!-- End Page Title -->
</section>
<main class="apply-now pt-1">
  <div class="container">
    <section class="row apply-now__form">
      <form class="needs-validation col-md-6  mx-auto" #userForm="ngForm">
        <div class="form-row">
          <div class="form-group col-md-5">
            <div id="region-profile" class="custom-file profile-creation__photo" [ngStyle]="
                model.profilePicSrc
                  ? { 'background-image': 'url(' + collectionAdminPicUrl + ')' }
                  : { 'background-image': 'url(' + tempImage + ')' }
              ">
              <input type="file" name="profilePicSrc" class="custom-file-input" id="customFile" accept="image/*"
                (change)="onPictureChange($event)" />

              <label class="custom-file-label" for="customFile">
                {{
                picture_name != null && picture_name.length > 0
                ? picture_name
                : 'Choose file'
                }}
              </label>
              <div class="profile-creation__photo--upoload">UPLOAD</div>
            </div>
          </div>
        </div>

        <div class="">
          <div class="form-row">
            <div class="form-group col-md-12">
              <span class="mandatory-sign">*</span>
              <input type="text" class="form-control mandatory-field required" placeholder="First Name" [(ngModel)]="model.firstName"
                name="firstName" #firstName="ngModel" [class.is-invalid]="
                  firstName.invalid && (firstName.dirty || firstName.touched)
                "
                required />
              <div *ngIf="
                  firstName.invalid && (firstName.dirty || firstName.touched)
                ">
                <div *ngIf="firstName.errors.required">
                  <label class="has-error">First name is required</label>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <span class="mandatory-sign"></span>
              <input type="text" class="form-control mandatory-field" placeholder="Middle Name" [(ngModel)]="model.middleName"
                name="middleName" #middleName="ngModel" />
              <!--
                <div *ngIf="middleName.invalid && (middleName.dirty || middleName.touched)">
                  <div *ngIf="middleName.errors.required">
                    <label class="has-error">Middle name is required</label>
                  </div>
                </div>
              -->
            </div>
            <div class="form-group col-md-12">
              <span class="mandatory-sign">&nbsp;</span>
              <input type="text" class="form-control mandatory-field" placeholder="Last Name" [(ngModel)]="model.lastName"
                name="lastName" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <span class="mandatory-sign">*</span>
              <input type="text" class="form-control mandatory-field" placeholder="Email" [(ngModel)]="model.email"
                name="email" required #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [readonly]="model.id"
                [class.is-invalid]="
                  email.invalid && (email.dirty || email.touched)
                " />
              <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors.required">
                  <label class="has-error">Email is required.</label>
                </div>
                <div *ngIf="email.errors && email.errors.pattern">
                  <label class="has-error">Email is invalid.</label>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <span class="mandatory-sign">*</span>
              <input type="text" class="form-control mandatory-field" placeholder="Mobile Number" [(ngModel)]="model.mobileNo"
                name="mobileNo" #mobileNo="ngModel" minlength="11" maxlength="11" pattern="^([0-9\(\)\/\+ \-]*)$"
                [class.is-invalid]="
                  mobileNo.invalid && (mobileNo.dirty || mobileNo.touched)
                "
                required />
              <div *ngIf="mobileNo.invalid && (mobileNo.dirty || mobileNo.touched)">
                <div *ngIf="mobileNo.errors.required">
                  <label class="has-error">Mobile no is required.</label>
                </div>
                <div *ngIf="mobileNo.errors && mobileNo.errors.pattern">
                  <label class="has-error">Mobile no is invalid.</label>
                </div>
                <div *ngIf="
                    mobileNo.errors &&
                    mobileNo.errors?.minlength &&
                    !mobileNo.errors.pattern
                  ">
                  <label class="has-error">Minimum required digit is 11.</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <span class="mandatory-sign"></span>
              <input class="form-control mandatory-field" placeholder="Date Of Birth (DD/MM/YYYY)" autocomplete="off"
                [maxDate]="currentDate" [minDate]="minDate" id="dateOfBirth" name="dateOfBirth" #dateOfBirth="ngModel"
                [bsConfig]="datePickerConfig" [(ngModel)]="model.dob" type="text" bsDatepicker />

              <!--
                <div *ngIf="dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)">
                  <div *ngIf="dateOfBirth.errors.required">
                    <label class="has-error">Date of birth is required.</label>
                  </div>
                </div>
              -->
            </div>
            <div class="form-group col-md-12">
              <span class="mandatory-sign"></span>
              <select id="associate" class="form-control custom-select mandatory-field" [(ngModel)]="model.gender" name="gender">
                <option value="null" selected>Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
              <!--
                <div *ngIf="(gender.dirty || gender.touched)">
                  <div *ngIf="model.gender=='null'">
                    <label class="has-error">Gender is required.</label>
                  </div>
                </div>
              -->
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <span class="mandatory-sign">*</span>
              <select class="form-control custom-select mandatory-field" [(ngModel)]="model.statusId" name="statusId"
                #statusId="ngModel" [class.is-invalid]="
                  (statusId.dirty || statusId.touched) &&
                  model.statusId.toString() == '0'
                "
                required>
                <option value="0" selected>Select Status</option>
                <option *ngFor="let status of Statuses" [value]="status.statusId">
                  {{ status.name }}
                </option>
              </select>
              <div *ngIf="statusId.dirty || statusId.touched">
                <div *ngIf="model.statusId.toString() == '0'">
                  <label class="has-error">Status is required.</label>
                </div>
              </div>
            </div>

            <div class="form-group col-md-12">
              <select class="form-control custom-select mandatory-field-position" [(ngModel)]="model.designationId"
                name="designationId" required (ngModelChange)="designationChange()">
                <option value="0" selected>Select Designation</option>
                <option *ngFor="let designation of designations" [value]="designation.id">
                  {{ designation.description }}
                </option>
              </select>
            </div>
            <div class="form-group col-md-12" style="padding-left: 5%;padding-right: 0px" *ngIf="isAE">
              <app-typehead [Setting]="setting" [preSelectedItem]="model.tagUserList" *ngIf="setting" (onitemchange)="itemChange($event)"></app-typehead>
            </div>
            <div class="form-group col-md-12">
              <select class="form-control custom-select mandatory-field-position" [(ngModel)]="model.departmentId" name="departmentId"
                required>
                <option value="0" selected>Select Department</option>
                <option *ngFor="let department of departments" [value]="department.departmentId">
                  {{ department.departmentName }}
                </option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <span class="mandatory-sign">*</span>
              <label class="col-form-label">Role</label>
              <div class="col-10 col-sm-11 offset-1 offset-sm-1">
                <div class="custom-control custom-checkbox my-1 mr-sm-2" *ngFor="let role of model.roles; let i = index">
                  <input type="checkbox" class="custom-control-input" [value]="role.userExists" [(ngModel)]="role.userExists"
                    name="role.userExists-{{i}}" id="role-{{i}}" (change)="onChange()" />
                  <label class="custom-control-label" for="role-{{i}}">
                    {{ role.description }}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col text-center">
              <button class="btn btn-primary mr-1" [disabled]="
                  userForm.invalid || isRoleSelect || model.statusId == 0
                "
                (click)="save()">
                {{ btnText }}
              </button>
              <button class="btn btn-danger" *ngIf="model.id" (click)="resetPassword()">
                Reset Passowrd
              </button>
            </div>
          </div>
          <br />
          <br />
        </div>
      </form>
    </section>
  </div>
</main>
<!--
  <div class="container my-5">
    <div class="row" *ngIf="errorMessage">
      <div class="col-xs-12 col col-md-12 col-lg-12">
        <div class="alert alert-danger">
          {{errorMessage}}
        </div>
      </div>
    </div>
    <div class="row" *ngIf="successMessage">
      <div class="col-xs-12 col col-md-12 col-lg-12">
        <div class="alert alert-success">
          {{successMessage}}
        </div>
      </div>
    </div>
  </div>
-->
