<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm ">
    <div class="col-12">
      <h3>Log in to Your Learning Portal</h3>
    </div>
  </header>
</section>
<section class="container dashboard-login">
  <div class="row" *ngIf="successMessage">
    <div class="col">
      <div class="notice notice--success">
        <strong>Notice: </strong> {{successMessage}}
      </div>
    </div>
  </div>
  <div class="row" *ngIf="errorMessage">
    <div class="col">
      <div class="notice notice--danger">
        <strong>Error: </strong> {{errorMessage}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col ">    
      <div class="login__frm">
        <header class="login__header">
          <p class="text-center">Enter your username and password.</p>
          <p class="pl-3 text-danger d-none"><i>* All fields are required</i></p>
        </header>
        <form (ngSubmit)="logIn()">
          <div class="form-group">
            <input class="form-control" [(ngModel)]='model.email' placeholder="Email" name="email" required/>
          </div>
          <div class="form-group">
            <input type="password" class="form-control form-control-sm" [(ngModel)]='model.password' placeholder="Password" name="password"
              required/>
          </div>
          <div class="form-group">
            <a (click)="forgetPassword()" href="javascript:void(0)">I forgot my password</a>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" [disabled]="(!model.password || !model.email)"  >LOGIN</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</section>