<form #fromEligibility='ngForm'>
    <h3 mat-dialog-title>Failed Reason</h3>
  
    <mat-dialog-content my-5>
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 form-group ">
                <label>Remarks</label>
                <textarea name="remarks" [(ngModel)]="model.remarks" placeholder="Remarks" type="text" class="form-control form-control-sm" #remarks="ngModel" style="min-height:80px" required></textarea>
            </div>
        </div>
  
    </mat-dialog-content>
  
    <mat-dialog-actions style="float: right;">
        <button type="button" class="btn btn-sm btn-primary mr-1" (click)='save()' [disabled]='!fromEligibility.form.valid'><i
                class="fa fa-save" aria-hidden="true"> Save</i></button>
        <button type="button" class="btn btn-sm btn-danger mr-1" (click)='close()'><i class="fa fa-times" aria-hidden="true">
            Close</i></button>
    </mat-dialog-actions>
  </form>