@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";
// Document Policy Number
// --------------------------------------------------
.mandatory-documents {
  &__info {
    h3 {
      &:hover {
        cursor: pointer;
        color: #007bff;
      }
    }
  }
}
.mandatory-documents__list {
  display: table;
  padding-left: 0;
  list-style: none;

  li {
    margin-bottom: 40px;
    display: inline-flex;
    width: 33%;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}