<div class="tab-pane fade col-12 active show" id="submit-documents" role="tabpanel" aria-labelledby="submit-documents-tab">

  <div class="dashboard-accordion" id="submit_documents">

    <div class="card-header mandatory-documents" id="mandatoryDocumentsTitle">
      <h5>
        <span class="dashboard-accordion__title">
          <span data-toggle="collapse" data-target="#mandatory_documents" aria-expanded="false" aria-controls="mandatory_documents"
            class="collapse show">Mandatory Documents</span>
        </span>
        <span class="dashboard-accordion__icon collapsed" data-toggle="collapse" data-target="#mandatory_documents"
          aria-expanded="false" aria-controls="mandatory_documents">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus">
            <line x1="5" y1="12" x2="19" y2="12"></line>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
            <line x1="12" y1="5" x2="12" y2="19"></line>
            <line x1="5" y1="12" x2="19" y2="12"></line>
          </svg>
        </span>
      </h5>
      <div id="mandatory_documents" class="collapse" aria-labelledby="mandatoryDocumentsTitle" data-parent="#submit_documents"
        style="">
        <div class="card-body">
          <div class="row">
            <div class="col-12 mandatory-documents__instructions">
              <p>Instructions: </p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. </p>
            </div>
          </div>

          <div class="row" *ngIf="isDisplay">
            <!-- <input type="file" id="imgupload" ng2FileSelect [uploader]="uploader" onclick="this.value = null" (change)="ChangFile($event)"
              style="display:none" /> -->
            <div class="col-md-12">
              <ul class="mandatory-documents__list document_policy_number">


                <li *ngFor="let item of docList">
                  <div class="custom-control custom-radio" [class.my-checkbox]="item.status!=undefined"
                    [class.my-checkbox-3]="item.status=='Rejected'" [class.my-checkbox-2]="item.status=='Candidate Re Submit' || item.status=='Pending'"
                    [class.my-checkbox-1]="item.status=='Approved'">
                    <input type="checkbox" id="checkbox6" name="checkbox6" class="custom-control-input" [checked]="item.status"
                      disabled="disabled">
                    <label class="custom-control-label" for="checkbox6"></label>
                  </div>
                  <div class="mandatory-documents__info">
                    <h3>{{item.title}} <span style="font-weight:normal;" *ngIf="item.spanText">{{item.spanText}}</span></h3>
                    <p><a href="javascript:void(0)" (click)="onViewDetailsClick(item.url,item.title,item.globalKey)">View
                        Document</a></p>
                    <p *ngIf="item.status=='Rejected'" style="color: red; font-size: 16px;">{{item.remarks}}</p>
                  </div>
                </li>

                <!-- <li *ngFor="let item of fixedDoc">
                  <div class="custom-control custom-radio" [class.my-checkbox]="item.status!=undefined"
                    [class.my-checkbox-3]="item.status=='Rejected'" [class.my-checkbox-2]="item.status=='Candidate Re Submit' || item.status=='Pending'"
                    [class.my-checkbox-1]="item.status=='Approved'">
                    <input type="checkbox" id="checkbox6" name="checkbox6" class="custom-control-input" [checked]="item.status"
                      disabled="disabled">
                    <label class="custom-control-label" for="checkbox6"></label>
                  </div>
                  <div class="mandatory-documents__info">

                    <h3>{{item.title}} <span style="font-weight:normal;" *ngIf="item.spanText">{{item.spanText}}</span></h3>
                    <p><a href="javascript:void(0)" (click)="onViewDetailsClick(item.url,item.title,item.globalKey)">View
                        Document</a></p>
                    <p *ngIf="item.status=='Rejected'" style="color: red; font-size: 16px;">{{item.remarks}}</p>
                  </div>
                </li> -->

                <!-- <li>
                  <div class="custom-control custom-radio" [class.my-checkbox]="micrCheque.status!=undefined"
                    [class.my-checkbox-3]="micrCheque.status=='Rejected'" [class.my-checkbox-2]="micrCheque.status=='Pending' || micrCheque.status=='Candidate Re Submit'"
                    [class.my-checkbox-1]="micrCheque.status=='Approved'">
                    <input type="checkbox" id="checkbox6" name="checkbox6" class="custom-control-input" [checked]="micrCheque.status"
                      disabled="disabled">
                    <label class="custom-control-label" for="checkbox6"></label>
                  </div>
                  <div class="mandatory-documents__info">
                    <h3 >MICR
                      Cheque <span style="font-weight:normal;">Leaf / Bank Certificae or Bank Statment</span></h3>
                    <p><a href="javascript:void(0)" *ngIf="micrCheque.status!='Approved'" (click)="openFileUploader('MICR Cheque leaf','MICR Cheque Leaf / Bank Certificae or Bank')">{{micrCheque.statusLabel}}</a></p>
                    <p *ngIf="micrCheque.status=='Rejected'" style="color: red; font-size: 16px;">{{micrCheque.remarks}}</p>
                  </div>
                </li> -->
                <!-- <li>
                  <div class="custom-control custom-radio" [class.my-checkbox]="certificateFeeDetailForm.status!=undefined"
                    [class.my-checkbox-3]="certificateFeeDetailForm.status=='Rejected'" [class.my-checkbox-2]="certificateFeeDetailForm.status=='Pending' || certificateFeeDetailForm.status=='Candidate Re Submit'"
                    [class.my-checkbox-1]="certificateFeeDetailForm.status=='Approved'">
                    <input type="checkbox" id="checkbox1" name="checkbox1" class="custom-control-input" [checked]="certificateFeeDetailForm.status"
                      disabled="disabled">
                    <label class="custom-control-label" for="checkbox1"></label>
                  </div>
                  <div class="mandatory-documents__info">
                    <h3>Certificate
                      Fee Details Form</h3>
                    <p><a href="javascript:void(0)" (click)="onViewDetailsClick(certificateFeeDetailForm.url,'Certificate Fee Details Form','Certificate Fee Detail Form')">View
                        Document</a></p>
                    <p *ngIf="certificateFeeDetailForm.status=='Rejected'" style="color: red; font-size: 16px;">{{certificateFeeDetailForm.remarks}}</p>

                  </div>
                </li>
                <li>

                  <div class="custom-control custom-radio" [class.my-checkbox]="nationalIdCard.status!=undefined"
                    [class.my-checkbox-3]="nationalIdCard.status=='Rejected'" [class.my-checkbox-2]="nationalIdCard.status=='Pending' || nationalIdCard.status=='Candidate Re Submit'"
                    [class.my-checkbox-1]="nationalIdCard.status=='Approved'">
                    <input type="checkbox" id="checkbox1" name="checkbox1" class="custom-control-input" [checked]="nationalIdCard.status"
                      disabled="disabled">
                    <label class="custom-control-label" for="checkbox1"></label>
                  </div>
                  <div class="mandatory-documents__info">
                    <h3>National ID Card </h3>
                    <p><a href="javascript:void(0)" (click)="onViewDetailsClick(nationalIdCard.url,'National ID Card','NationalIDCard')">View
                        Document</a></p>
                    <p *ngIf="nationalIdCard.status=='Rejected'" style="color: red; font-size: 16px;">{{nationalIdCard.remarks}}</p>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-radio" [class.my-checkbox]="summaryofFiledwork.status!=undefined"
                    [class.my-checkbox-3]="summaryofFiledwork.status=='Rejected'" [class.my-checkbox-2]="summaryofFiledwork.status=='Pending' || summaryofFiledwork.status=='Candidate Re Submit'"
                    [class.my-checkbox-1]="summaryofFiledwork.status=='Approved'">
                    <input type="checkbox" id="checkbox7" name="checkbox7" class="custom-control-input" [checked]="summaryofFiledwork.status"
                      disabled="disabled">
                    <label class="custom-control-label" for="checkbox7"></label>
                  </div>
                  <div class="mandatory-documents__info">
                    <h3>Summary of Field Work</h3>
                    <p><a href="javascript:void(0)" (click)="onViewDetailsClick(summaryofFiledwork.url,'Summary of Field Work','Summary of Filed work')">View
                        Document</a></p>
                    <p *ngIf="summaryofFiledwork.status=='Rejected'" style="color: red; font-size: 16px;">{{summaryofFiledwork.remarks}}</p>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-radio" [class.my-checkbox]="profilePicture.status!=undefined"
                    [class.my-checkbox-3]="profilePicture.status=='Rejected'" [class.my-checkbox-2]="profilePicture.status=='Pending' || profilePicture.status=='Candidate Re Submit'"
                    [class.my-checkbox-1]="profilePicture.status=='Approved'">
                    <input type="checkbox" id="checkbox1" name="checkbox1" class="custom-control-input" [checked]="profilePicture.status"
                      disabled="disabled">
                    <label class="custom-control-label" for="checkbox1"></label>
                  </div>
                  <div class="mandatory-documents__info">
                    <h3>Profile Picture</h3>
                    <p><a href="javascript:void(0)" (click)="onViewDetailsClick(profilePicture.url,'Profile Picture','Profile Picture')">View
                        Document</a></p>
                    <p *ngIf="profilePicture.status=='Rejected'" style="color: red; font-size: 16px;">{{profilePicture.remarks}}</p>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-radio" [class.my-checkbox]="examAnswerSheet.status!=undefined"
                    [class.my-checkbox-3]="examAnswerSheet.status=='Rejected'" [class.my-checkbox-2]="examAnswerSheet.status=='Pending' || examAnswerSheet.status=='Candidate Re Submit'"
                    [class.my-checkbox-1]="examAnswerSheet.status=='Approved'">
                    <input type="checkbox" id="checkbox1" name="checkbox1" class="custom-control-input" [checked]="examAnswerSheet.status"
                      disabled="disabled">
                    <label class="custom-control-label" for="checkbox1"></label>
                  </div>
                  <div class="mandatory-documents__info">
                    <h3>Exam Answer Sheet</h3>
                    <p><a href="javascript:void(0)" (click)="onViewDetailsClick(examAnswerSheet.url,'Exam Answer Sheet','Exam Answer Sheet')">View
                        Document</a></p>
                    <p *ngIf="examAnswerSheet.status=='Rejected'" style="color: red; font-size: 16px;">{{examAnswerSheet.remarks}}</p>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-radio" [class.my-checkbox]="atpApplicationForm.status!=undefined"
                    [class.my-checkbox-3]="atpApplicationForm.status=='Rejected'" [class.my-checkbox-2]="atpApplicationForm.status=='Pending' || atpApplicationForm.status=='Candidate Re Submit'"
                    [class.my-checkbox-1]="atpApplicationForm.status=='Approved'">
                    <input type="checkbox" id="checkbox7" name="checkbox7" class="custom-control-input" [checked]="atpApplicationForm.status"
                      disabled="disabled">
                    <label class="custom-control-label" for="checkbox7"></label>
                  </div>
                  <div class="mandatory-documents__info">
                    <h3>ATP Application Form</h3>
                    <p><a href="javascript:void(0)" (click)="onViewDetailsClick(atpApplicationForm.url,'ATP Application Form','ATP Application Form')">View
                        Document</a></p>
                    <p *ngIf="atpApplicationForm.status=='Rejected'" style="color: red; font-size: 16px;">{{atpApplicationForm.remarks}}</p>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-radio" [class.my-checkbox]="trainingCertificate.status!=undefined"
                    [class.my-checkbox-3]="trainingCertificate.status=='Rejected'" [class.my-checkbox-2]="trainingCertificate.status=='Pending' || trainingCertificate.status=='Candidate Re Submit'"
                    [class.my-checkbox-1]="trainingCertificate.status=='Approved'">
                    <input type="checkbox" id="checkbox7" name="checkbox7" class="custom-control-input" [checked]="trainingCertificate.status"
                      disabled="disabled">
                    <label class="custom-control-label" for="checkbox7"></label>
                  </div>
                  <div class="mandatory-documents__info">
                    <h3>Training Certificate</h3>
                    <p><a href="javascript:void(0)" (click)="onViewDetailsClick(trainingCertificate.url,'Training Certificate','TrainingCertificate')">View
                        Document</a></p>
                    <p *ngIf="trainingCertificate.status=='Rejected'" style="color: red; font-size: 16px;">{{trainingCertificate.remarks}}</p>
                  </div>
                </li> -->
              </ul>
            </div>
          </div>


        </div>
      </div>
    </div>
    <!-- End Mandatory Documents -->
  </div>
</div>
