<section _ngcontent-c1="" class="container-fluid bg-grey">
  <header _ngcontent-c1="" class="row page-header page-header--sm">
    <div _ngcontent-c1="" class="col-12">
      <h3 _ngcontent-c1="">List of Certificate Fee Submission</h3>
    </div>
  </header>
</section>
<div class="container-fluid">
  <div class="my-5">
    <div class="row">
      <div class="col-4">
        <button type="button" class="btn btn-sm btn-primary mr-1" (click)='getNext()'>Get Next</button>
      </div>

      <div class="col-2 d-flex justify-content-end">
        <a href="mailto:{{ userEmail }}">
            <button style="cursor: pointer;" (click)="print()" type="button" class="border-0 bg-transparent btn-header-email">
              <i data-feather="mail"></i>
            </button>
        </a>
      </div>

      <div class="col-6">
        <mat-form-field class="float-right" style="width: 100%">
          <input matInput (keyup)="filter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </div>
    </div>

    <!-- End header -->
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="table mat-elevation-z8 tbl-eligibility-criteria" style="width:100%; min-width: 1000px;">
        <ng-container matColumnDef="sl">
          <th mat-header-cell *matHeaderCellDef> SL# </th>
          <td mat-cell *matCellDef="let row; let i = index" > {{i+1}} </td>
        </ng-container>
        <ng-container matColumnDef="candidateId">
          <th mat-header-cell *matHeaderCellDef> Candidate Id </th>
          <td mat-cell *matCellDef="let element">{{element?.candidateId}}</td>
        </ng-container>

        <ng-container matColumnDef="candidateName">
          <th mat-header-cell *matHeaderCellDef> Candidate Name </th>
          <td mat-cell *matCellDef="let element"> {{element?.candidateName}}</td>
        </ng-container>

        <ng-container matColumnDef="receiptNumber">
          <th mat-header-cell *matHeaderCellDef> Receipt Number </th>
          <td mat-cell *matCellDef="let element"> {{element?.receiptNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="certificateFeeSubmissionDate">
          <th mat-header-cell *matHeaderCellDef> Certificate Fee Submission Date </th>
          <td mat-cell *matCellDef="let element"> {{element?.createDateTime | date}} </td>
        </ng-container>

        <ng-container matColumnDef="amountPaid">
          <th mat-header-cell *matHeaderCellDef> Amount Paid </th>
          <td mat-cell *matCellDef="let element"> {{element?.amountPaid}} </td>
        </ng-container>

        <ng-container matColumnDef="paymentDate">
          <th mat-header-cell *matHeaderCellDef> Payment Date </th>
          <td mat-cell *matCellDef="let element"> {{element?.paymentDate | date}} </td>
        </ng-container>

        <ng-container matColumnDef="depositPoint">
          <th mat-header-cell *matHeaderCellDef>Deposit Point </th>
          <td mat-cell *matCellDef="let element"> {{element?.depositPointName}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element?.statusId==status.Accepted" class="badge badge-success">Accepted</span>
            <span *ngIf="element?.statusId==status.Pending" class="badge badge-warning">Pending</span>
            <span *ngIf="element?.statusId==status.Rejected" class="badge badge-danger">Rejected</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="verificationDate">
          <th mat-header-cell *matHeaderCellDef>Verification Date</th>
          <td mat-cell *matCellDef="let element"> {{element?.verificationDate | date}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element; let row; let i = index">

            <button *ngIf="element?.statusId==status.Pending" mat-icon-button color="primary" (click)='accept(element)'>
                <mat-icon color="primary">check</mat-icon>
            </button>
            <button  *ngIf="element?.statusId==status.Pending" mat-icon-button color="warn" (click)='openModal(element)'>
              <mat-icon color="warn">close</mat-icon>
            </button>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

  </div>
</div>

<!-- Modal -->
<button [hidden]='true' type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"
  #openModalButton></button>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0 pl-4 pr-4">
        <h5 class="modal-title" id="exampleModalCenterTitle">Certificate Rejection</h5>
      </div>
      <div class="modal-body pt-0 pb-0 pl-4 pr-4">
        <div class="form-group">
          <input type="text" [(ngModel)]="reasonToReject" class="form-control" id="remark" aria-describedby="remark" placeholder="Enter your reject reason">
        </div>
      </div>
      <mat-dialog-actions class="mat-dialog-actions mb-4 text-right mr-4" style="float: right;">
        <button (click)="reject()" type="button" class="btn btn-sm btn-primary mr-1" [disabled]='!reasonToReject.length'>
          <i class="fa fa-save" aria-hidden="true"> Save</i></button>
        <button #modalCloseButton type="button" class="btn btn-sm btn-danger mr-1" data-dismiss="modal">
          <i class="fa fa-times" aria-hidden="true" (click)="closePopUp()"> Close</i></button>
      </mat-dialog-actions>
    </div>
  </div>
</div>

<!-- End Modal -->
