<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>LIST OF REFERENCES FOR VERIFICATION</h3>
    </div>
  </header>
</section>

<div class="container-fluid mt-2">
  <div class="my-5">
    <!-- <h5>List Of Training Modules</h5> -->
    <div class="row">
      <div class="col-8">
        <mat-form-field class="column-full-width">
          <mat-select [(ngModel)]="filterStatus" name="filterStatus" (selectionChange)="filter()">
            <mat-option *ngFor="let status of filterStatuses" [value]="status">
              {{status}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="float-right" style="width: 100%">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput (keyup)="filter()" [(ngModel)]="search" name="search" placeholder="Search">
        </mat-form-field>
      </div>
    </div>
    <div class="table-responsive">
      <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 tbl-eligibility-criteria tbl-verification-list" style="width:100%">


        <ng-container matColumnDef="candidateId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CANDIDATE ID </th>
          <td mat-cell *matCellDef="let element; let row; let i = index" style="width:7%"> {{element.candidateId}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CANDIDATE NAME </th>
          <td mat-cell *matCellDef="let element; let row" style="width:15%"> <a href="javascript:void(0)" [routerLink]="[ '/ap/candidate-profile', element.candidateId]"
              [queryParams]="{tab: 'reference-tab'}">
              {{element.candidateName}}</a> </td>
        </ng-container>
        <!-- [queryParams]="{tab: 'submit-documents-tab'}" -->

        <ng-container matColumnDef="faCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            FA CODE </th>
          <td mat-cell *matCellDef="let element" style="width:7%">
            <a href="javascript:void(0)" [routerLink]="[ '/ap/candidate-profile', element.candidateId]" [queryParams]="{tab: 'reference-tab'}">
              {{element.faCode}}</a>
          </td>
        </ng-container>


        <ng-container matColumnDef="dateofFinalrefsubmission">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DATE OF FINAL REFERENCES FOR VERIFICATION </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;"> {{ ds.utc_to_local_time(element.dateofFinalrefsubmission,
            ds.DATEFORMAT)}} </td>
        </ng-container>

        <ng-container matColumnDef="pendingcount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> REFERENCES: PENDING VERIFICATION </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;"> {{ element.pendingcount +'/'+ element.totalRef}}
          </td>
        </ng-container>

        <ng-container matColumnDef="approvecount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> REFERENCES: APPROVED VERIFICATION </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;"> {{ element.approvecount +'/'+ element.totalRef
            }} </td>
        </ng-container>
        <ng-container matColumnDef="rejectcount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> REFERENCES: REJECTED VERIFICATION </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;"> {{ element.rejectcount +'/'+ element.totalRef}}
          </td>
        </ng-container>
        <ng-container matColumnDef="assignedCcAdmin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ASSIGNED CC ADMIN </th>
          <td mat-cell *matCellDef="let element; let row; let i = index" style="width:8%; text-align: center;"> {{ element.assignedPersonName }}
            <div *ngIf="filterStatus==='In-Progress'">
              <button type="button" class="btn btn-sm btn-primary mr-1" (click)='reAssign(element,i)'>REASSIGN</button>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="assignedDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ASSIGNED DATE </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;"> {{ ds.utc_to_local_time(element.assignedDate) | date : 'dd/MM/yyyy' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="completedDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> COMPLETED DATE </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;"> {{ ds.utc_to_local_time(element.completedDate) | date : 'dd/MM/yyyy'  }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageChange($event)">
    </mat-paginator>
  </div>
</div>