<section _ngcontent-c1="" class="container-fluid bg-grey">
  <header _ngcontent-c1="" class="row page-header page-header--sm">
    <div _ngcontent-c1="" class="col-12">
      <h3 _ngcontent-c1="">Age eligibility criteria</h3>
    </div>
  </header>
</section>
<div class="container">
  <div class="my-5">
    <!-- <h3>Age eligibility criteria</h3> -->
   <div>
      <button mat-raised-button color="primary" type="button" class="btn btn-sm mb-2" (click)='add()'><i class="fa fa-plus" aria-hidden="true"> <span> Add New Age Criteria</span></i></button>
   </div>

   <div class="table-responsive">
      <table mat-table matSort [dataSource]="dataSource" class="table mat-elevation-z8 tbl-eligibility-criteria" style="min-width: 500px;" >
        <ng-container matColumnDef="sl">
            <th mat-header-cell *matHeaderCellDef> #SL </th>
            <td mat-cell *matCellDef="let row; let i = index" class="text-align:center"> {{i+1}} </td>
        </ng-container>
        <ng-container matColumnDef="minAge">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Minimum Age </th>
          <td mat-cell *matCellDef="let element"> {{element.minAge}} </td>
        </ng-container>
    
        <ng-container matColumnDef="maxAge">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Maximum Age </th>
          <td mat-cell *matCellDef="let element"> {{element.maxAge}} </td>
        </ng-container>
    
        <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Score </th>
            <td mat-cell *matCellDef="let element"> {{element.score}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element; let row; let i = index"> 
            <input type="checkbox" [(ngModel)]='element.status' (change)='change_status(i, element)'/>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element; let row; let i = index"> 
                <button type="button" class="btn btn-sm btn-primary mr-1" (click)='edit(element.id, i)'><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-sm btn-danger mr-1" (click)='delete(element.id, i)'><i class="fa fa-trash" aria-hidden="true"></i></button>
          
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>

</div>