<div class="notification-header">
    <h5>{{ notificationCount }} New</h5>
    <p>User Notification</p>
  </div>
  <div class="notification-body">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a
          class="nav-item nav-link active"
          id="nav-onSite-tab"
          data-toggle="tab"
          href="#nav-onSite"
          role="tab"
          aria-controls="nav-onSite"
          aria-selected="false"
          (click)="onTabChange(notificationType.OnSite)"
          >On Site</a
        >
        <a
          class="nav-item nav-link"
          id="nav-email-tab"
          data-toggle="tab"
          href="#nav-email"
          role="tab"
          aria-controls="nav-email"
          aria-selected="true"
          (click)="onTabChange(notificationType.Email)"
          >Email</a
        >
        <a
          class="nav-item nav-link"
          id="nav-sms-tab"
          data-toggle="tab"
          href="#nav-sms"
          role="tab"
          aria-controls="nav-sms"
          aria-selected="false"
          (click)="onTabChange(notificationType.SMS)"
          >SMS</a
        >
      </div>
    </nav>
    <div
      class="tab-content"
      id="nav-tabContent"
      [scrollWindow]="false"
      infiniteScroll
      [infiniteScrollDistance]="4"
      [infiniteScrollThrottle]="1000"
      (scrolled)="onScroll()"
    >
      <div
        class="tab-pane fade  show active"
        id="nav-onSite"
        role="tabpanel"
        aria-labelledby="nav-profile-onSite"
      >
        <ul>
          <li
            *ngFor="let notification of (notifications | async)"
            (click)="onClickNotification(notification.id)"
            [innerHTML]="notification.msg"
          ></li>
        </ul>
      </div>
      <div
        class="tab-pane fade"
        id="nav-email"
        role="tabpanel"
        aria-labelledby="nav-email-tab"
      >
        <ul>
          <li
            *ngFor="
              let notification of (notifications
                | async
                | filterByProperty
                  : { notificationTypeId: notificationType.Email })
            "
            (click)="onClickNotification(notification.id)"
            [innerHTML]="notification.msg"
          ></li>
        </ul>
      </div>
      <div
        class="tab-pane fade"
        id="nav-sms"
        role="tabpanel"
        aria-labelledby="nav-profile-sms"
      >
        <ul>
          <li
            *ngFor="
              let notification of (notifications
                | async
                | filterByProperty: { notificationTypeId: notificationType.SMS })
            "
            (click)="onClickNotification(notification.id)"
            [innerHTML]="notification.msg"
          ></li>
        </ul>
      </div>
    </div>
  
    <app-notification-loader *ngIf="finished"></app-notification-loader>
  </div>
  