@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

::ng-deep.custome-modal {
  max-width: 70vw;
  max-height: 50vw;

  h2 {
    width: calc(100% - 240px);
    margin: auto;
    line-height: 40px;

    @include media-breakpoint-down(lg) {
      font-size: 24px;
      line-height: 30px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 18px;
      line-height: 24px;
      width: 100%;
    }
  }

  .accept-reject-button-wrapper {
    float: right;
    width: 200px;
    padding-bottom: 20px;

    @include media-breakpoint-down(sm) {
      float: left;
    }

    button {
      border: 0;
      background: transparent;
      display: block;
      margin-bottom: 5px;
      cursor: pointer;

      @include media-breakpoint-down(sm) {
        padding-right: 0;
        display: inline-block;
        padding-left: 1.9%;

        &:first-of-type {
          padding: 0;
        }
      }

      .check-icon,
      .close-icon {
        border-radius: 50%;
        background-color: green;
        color: #fff;
        width: 30px;
        height: 30px;
        float: left;
        line-height: 29px;
      }

      span {
        padding-top: 5px;
        float: left;
        padding-left: 15px;
        font-size: 14px;

        @include media-breakpoint-down(sm) {
          padding-left: 5px;
        }
      }

      .close-icon {
        background-color: red;
      }
    }
  }
}

::ng-deep.custome-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

::ng-deep.custome-body {
  max-width: 70%;
  padding-bottom: 10px;
}

::ng-deep.btn-popup-close {
  position: absolute;
  top: 10px;
  right: 20px;
  outline: none;
}
