<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <div class="custome-header"><img src="images/metlife.png" alt="" /></div>
      <div class="btn-popup-close">
        <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="header">
    <div class="col-md-12 col-lg-12 col-sm-12" *ngIf="accepReject">
      <div class="accept-reject-button-wrapper">
        <button *ngIf="showAcceptbtn || showAcceptbtn == null" (click)="onAccept()">
          <i class="check-icon fa fa-check" aria-hidden="true"></i>
          <span>ACCEPT/VALID</span>
        </button>
        <button (click)="onReject()" *ngIf="showRejectbtn || showRejectbtn == null">
          <i class="close-icon fa fa-times" aria-hidden="true"></i>
          <span>REJECT/INVALID</span>
        </button>
        <button (click)="downloadFile()">
          <i class="check-icon fa fa-download" aria-hidden="true"></i>
          <span>Downlaod</span>
        </button>
        <button (click)="print()">
          <i class="check-icon fa fa-print" aria-hidden="true"></i>
          <span>Print</span>
        </button>
      </div>

      <h2 class="text-md-center text-xs-left mb-5">{{ header }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <div class="custome-body pb-5 mx-auto d-block text-center">
        <div *ngIf="fileType == 'image'" id='print'>
          <img [src]="filePath" alt="" class="img-fluid" />
        </div>
        <div *ngIf="fileType != 'image'">
          <iframe [src]="iframe" style="width:100%; height:40vw;" id='print' frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
