<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>{{ pageTitle }}</h3>
    </div>
  </header>
  <!-- End Page Title -->
</section>
<main class="profile-creation">
  <div class="container">
    <section class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto">
          <form #agentInfoForm="ngForm" class="needs-validation my-5" novalidate autocomplete="off" (keydown.enter)="$event.preventDefault()">
            <!-- AgentId [disabled]='(IsDisable) ? true : false ' -->
            <div class="row mb-3">
              <div class="col-md-6 order-2 order-md-1 d-flex align-items-center justify-content-md-start justify-content-center">
                <div class="form-group row no-gutters">
                  <div class="col d-flex profile-creation__fetch">
                    <input type="text" min="0" [(ngModel)]="model.userCode" name="agentId" class="form-control mandatory-field-position"
                      id="userCode" placeholder="UM/BM ID" required />
                    <button type="button" class="btn btn-primary" (click)="fetchAgent()" [disabled]="model.userCode?.toString().length > 9">
                      FETCH
                    </button>
                  </div>
                </div>

                <div>
                  <div *ngIf="model.userCode?.toString().length > 9">
                    <label class="has-error">
                      Maximum required digit is 9.
                    </label>
                  </div>
                </div>
              </div>
              <!-- model.profilePicSrc
              ? { 'background-image': 'url(' + agentPicUrl + ')' }
              : '' -->
              <!-- Picture Upload -->
              <div class="form-group col-md-6 order-1 order-md-2">
                <div id="region-profile" class="custom-file profile-creation__photo" [ngStyle]="{ 'background-image': 'url(' + model?.profilePicUrl + ')' }">
                  <input type="file" #profilePicSrc name="profilePicSrc" class="custom-file-input" id="customFile"
                    accept="image/*" (change)="onPictureChange($event)" />
                  <label class="custom-file-label" for="customFile">
                    {{
                    picture_name != null && picture_name.length > 0
                    ? picture_name
                    : 'Choose file'
                    }}
                  </label>
                  <div class="profile-creation__photo--upoload">upload</div>
                </div>
              </div>
            </div>

            <div class="row">
              <!-- Mobile Number -->
              <div class="form-group col-md-6">
                <span class="mandatory-sign">*</span>
                <input type="tel" class="form-control mandatory-field" [(ngModel)]="model.mobileNumber" name="mobileNumber"
                  #mobileNumber="ngModel" placeholder="Mobile Number" required minlength="11" maxlength="11" pattern="^([0-9\(\)\/\+ \-]*)$"
                  autocomplete="off" [class.is-invalid]="
                    mobileNumber.invalid &&
                    (mobileNumber.dirty || mobileNumber.touched)
                  " />
                <div *ngIf="
                    mobileNumber.invalid &&
                    (mobileNumber.dirty || mobileNumber.touched)
                  ">
                  <div *ngIf="mobileNumber.errors.required">
                    <label class="has-error">Mobile no is required.</label>
                  </div>
                  <div *ngIf="mobileNumber.errors && mobileNumber.errors.pattern">
                    <label class="has-error">Mobile no is invalid.</label>
                  </div>
                  <div *ngIf="
                      mobileNumber.errors &&
                      mobileNumber.errors?.minlength &&
                      !mobileNumber.errors.pattern
                    ">
                    <label class="has-error">
                      Minimum required digit is 11.
                    </label>
                  </div>
                </div>
              </div>

              <!-- <div class="pl-4 d-none d-md-inline-block"></div> -->

              <!-- Year of Exp -->
              <div class="form-group col-md-6">
                <span class="mandatory-sign">*</span>
                <input type="number" (change)="getTotalScore()" min="0" class="form-control mandatory-field"
                  placeholder="Years of Experience" [(ngModel)]="model.yearOfExp" name="yearOfExp" #yearOfExp="ngModel"
                  [class.is-invalid]="
                    yearOfExp?.invalid &&
                    (yearOfExp?.dirty || yearOfExp?.touched)
                  "
                  required />

                <div *ngIf="
                    yearOfExp?.invalid &&
                    (yearOfExp?.dirty || yearOfExp?.touched)
                  ">
                  <div *ngIf="yearOfExp?.errors.required">
                    <label class="has-error">Experience is required.</label>
                  </div>
                </div>
                <!-- </div> -->
              </div>
            </div>

            <div class="row">
              <!-- Agent Name -->
              <div class="form-group col-md-6">
                <span class="mandatory-sign">*</span>
                <input type="text" class="form-control mandatory-field" placeholder="Name" [(ngModel)]="model.firstName"
                  #firstName="ngModel" name="firstName" [class.is-invalid]="
                    firstName?.invalid &&
                    (firstName?.dirty || firstName?.touched)
                  "
                  required />
                <div *ngIf="
                    firstName?.invalid &&
                    (firstName?.dirty || firstName?.touched)
                  ">
                  <div *ngIf="firstName?.errors.required">
                    <label class="has-error">Firstname is required.</label>
                  </div>
                </div>
              </div>

              <!-- requirement Ranking -->
              <div class="form-group col-md-6">
                <span class="mandatory-sign">*</span>

                <input type="number" min="0" (change)="getTotalScore()" class="form-control mandatory-field"
                  #requirementRanking="ngModel" placeholder="Recruitment Ranking" [(ngModel)]="model.requirementRanking"
                  name="requirementRanking" [class.is-invalid]="
                    requirementRanking?.invalid &&
                    (requirementRanking?.dirty || requirementRanking?.touched)
                  "
                  required />

                <div *ngIf="
                    requirementRanking?.invalid &&
                    (requirementRanking?.dirty || requirementRanking?.touched)
                  ">
                  <div *ngIf="requirementRanking?.errors.required">
                    <label class="has-error">This field is required.</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <!-- DOB -->
              <div class="form-group col-md-6">
                <span class="mandatory-sign">*</span>
                <input class="form-control mandatory-field" placeholder="Date Of Birth (DD/MM/YYYY)" autocomplete="off"
                  #dateOfBirth="ngModel" id="dateOfBirth" name="dateOfBirth" [bsConfig]="datePickerConfig" [(ngModel)]="model.dateOfBirth"
                  type="text" [class.is-invalid]="
                    dateOfBirth?.invalid &&
                    (dateOfBirth?.dirty || dateOfBirth?.touched)
                  "
                  bsDatepicker required />
                <div *ngIf="
                    dateOfBirth?.invalid &&
                    (dateOfBirth?.dirty || dateOfBirth?.touched)
                  ">
                  <div *ngIf="dateOfBirth?.errors.required">
                    <label class="has-error">This field is required.</label>
                  </div>
                </div>
              </div>

              <!-- Production Based Ranking -->
              <div class="form-group col-md-6">
                <span class="mandatory-sign">*</span>

                <input type="number" (change)="getTotalScore()" min="0" class="form-control mandatory-field"
                  #productionBasedRanking="ngModel" placeholder="Production Based Ranking" [(ngModel)]="model.productionBasedRanking"
                  name="productionBasedRanking" [class.is-invalid]="
                    productionBasedRanking?.invalid &&
                    (productionBasedRanking?.dirty ||
                      productionBasedRanking?.touched)
                  "
                  required />

                <div *ngIf="
                    productionBasedRanking?.invalid &&
                    (productionBasedRanking?.dirty ||
                      productionBasedRanking?.touched)
                  ">
                  <div *ngIf="productionBasedRanking?.errors.required">
                    <label class="has-error">This field is required.</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <!-- Education -->
              <div class="form-group col-md-6">
                <span class="mandatory-sign">*</span>

                <select class="form-control custom-select mandatory-field" [(ngModel)]="model.educationId" name="educationId"
                  [class.is-invalid]="
                    isEducationChanged && model.educationId == 0
                  "
                  (change)="isEducationChanged = true" required>
                  <option value="0" selected>
                    Select Educational Qualification
                  </option>
                  <option *ngFor="let education of educations" [value]="education.id">
                    {{ education.title }}
                  </option>
                </select>

                <div *ngIf="isEducationChanged && model.educationId == 0">
                  <label class="has-error">This field is required.</label>
                </div>
              </div>

              <!-- Active Manpower -->
              <div class="form-group col-md-6">
                <span class="mandatory-sign">*</span>

                <input type="number" (change)="getTotalScore()" min="0" class="form-control mandatory-field"
                  #activeManPower="ngModel" placeholder="Number of Active Manpower" [(ngModel)]="model.activeManPower"
                  name="activeManPower" [class.is-invalid]="
                    activeManPower?.invalid &&
                    (activeManPower?.dirty || activeManPower?.touched)
                  "
                  required />

                <div *ngIf="
                    activeManPower?.invalid &&
                    (activeManPower?.dirty || activeManPower?.touched)
                  ">
                  <div *ngIf="activeManPower?.errors.required">
                    <label class="has-error">This field is required.</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <!-- Designation -->
              <div class="form-group col-md-6">
                <span class="mandatory-sign">*</span>
                <select class="form-control custom-select mandatory-field" [(ngModel)]="model.designationId" name="designationId"
                  [class.is-invalid]="
                    isDesignationChanged && model.designationId == 0
                  "
                  (ngModelChange)="designationChange()" (change)="isDesignationChanged = true" required>
                  <option value="0" selected>Select Designation</option>
                  <option *ngFor="let designation of designations" [value]="designation.id">
                    {{ designation.description }}
                  </option>
                </select>

                <div *ngIf="isDesignationChanged && model.designationId == 0">
                  <label class="has-error">This field is required.</label>
                </div>
              </div>

              <!-- <div class="pl-4 d-none d-md-inline-block"></div> -->

              <!-- Total Score -->
              <div class="form-group col-md-6">
                <span class="mandatory-sign">*</span>

                <input type="number" min="0" class="form-control mandatory-field" placeholder="Total Score" [(ngModel)]="model.totalScore"
                  name="totalScore" readonly />
              </div>
            </div>

            <!--
              <div class="row" *ngIf="showTypeHead">
                <div class="form-group col-md-10 pt-3" style="padding-left: 35px;">
                  <app-typehead
                  [Setting]="setting"
                  (onitemchange)="itemChange($event)"
                  *ngIf="setting"
                  [preSelectedItem]="model.tagUserList"
                ></app-typehead>
                </div>
              </div>
            -->

            <div class="row">
              <!-- Agency Name -->
              <div class="form-group col-md-12">
                <span class="mandatory-sign">*</span>

                <input type="text" class="form-control mandatory-field" placeholder="Agency Name" [(ngModel)]="model.agencyName"
                  #agencyName="ngModel" [class.is-invalid]="
                    agencyName?.invalid &&
                    (agencyName?.dirty || agencyName?.touched)
                  "
                  name="agencyName" required />
                <div *ngIf="
                    agencyName?.invalid &&
                    (agencyName?.dirty || agencyName?.touched)
                  ">
                  <div *ngIf="agencyName?.errors.required">
                    <label class="has-error">This field is required.</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <!-- Agency Address -->
              <div class="form-group col-md-12">
                <span class="mandatory-sign">*</span>

                <input type="text" class="form-control mandatory-field" placeholder="Agency Address Details"
                  [(ngModel)]="model.address" #address="ngModel" name="address" [class.is-invalid]="
                    address?.invalid && (address?.dirty || address?.touched)
                  "
                  required />
                <div *ngIf="
                    address?.invalid && (address?.dirty || address?.touched)
                  ">
                  <div *ngIf="address?.errors.required">
                    <label class="has-error">This field is required.</label>
                  </div>
                </div>
              </div>

              <!-- <div class="col-md-1 d-none d-md-inline-block"></div> -->

              <!-- Achievements -->
              <!-- <div class="form-group col-md-5"> -->
              <!--
                <textarea rows="4" class="form-control" placeholder="Achievements" [(ngModel)]='model.achievements' name="achievements" required></textarea>
              -->
              <!--
                <editor apiKey="5g5faf78gvk6yfq9bd3bbfjo858kjx1q8o0nbiwtygo2e4er" [init]="{plugins: 'link'}"></editor>
              -->
              <!-- </div> -->
            </div>

            <div class="row">
              <!-- Email -->
              <div class="form-group col-md-6">
                <span class="mandatory-sign">*</span>

                <input type="email" class="form-control mandatory-field" [(ngModel)]="model.email" name="email" #email="ngModel"
                  [class.is-invalid]="
                    email?.invalid && (email?.dirty || email?.touched)
                  "
                  placeholder="Email Id" required [readOnly]="IsDisable" />

                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                  <div *ngIf="email?.errors.required">
                    <label class="has-error">This field is required.</label>
                  </div>
                </div>
              </div>

              <!-- Number of Team -->
              <div class="form-group col-md-6">
                <span class="mandatory-sign">*</span>

                <input type="number" min="0" class="form-control mandatory-field" placeholder="Number of Team Member"
                  #teamMember="ngModel" [class.is-invalid]="
                    teamMember?.invalid &&
                    (teamMember?.dirty || teamMember?.touched)
                  "
                  [(ngModel)]="model.teamMember" name="teamMember" required />

                <div *ngIf="
                    teamMember?.invalid &&
                    (teamMember?.dirty || teamMember?.touched)
                  ">
                  <div *ngIf="teamMember?.errors.required">
                    <label class="has-error">This field is required.</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <!-- District -->
              <div class="form-group col-md-6">
                <span class="mandatory-sign">*</span>

                <select class="mandatory-field form-control custom-select" [(ngModel)]="model.districtId" name="districtId"
                  [class.is-invalid]="
                    isDistrictChanged && model.districtId == 0
                  "
                  required (ngModelChange)="getArea($event); isDistrictChanged = true">
                  <option value="0" selected>Select District</option>
                  <option *ngFor="let district of districts" [value]="district.districtId">
                    {{ district.districtName }}
                  </option>
                </select>

                <div *ngIf="isDistrictChanged && model.districtId == 0">
                  <label class="has-error">This field is required.</label>
                </div>
              </div>

              <!-- Quota Limit -->
              <div class="form-group col-md-6">
                <span class="mandatory-sign">*</span>

                <input type="number" min="0" pattern="[0-9]+" class="mandatory-field form-control" placeholder="Recruitment Quota Limit"
                  [(ngModel)]="model.quotaLimit" name="quotaLimit" #quotaLimit="ngModel" [class.is-invalid]="
                    quotaLimit?.invalid &&
                    (quotaLimit?.dirty || quotaLimit?.touched)
                  "
                  (ngModelChange)="onRecruitmentQuotaChnage($event)" required />

                <div *ngIf="
                    quotaLimit?.invalid &&
                    (quotaLimit?.dirty || quotaLimit?.touched)
                  ">
                  <div *ngIf="quotaLimit?.errors.required">
                    <label class="has-error">This field is required.</label>
                  </div>
                  <div *ngIf="quotaLimit?.errors.pattern">
                    <label class="has-error">Only integer allow.</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <!-- Area -->
              <div class="form-group col-md-6">
                <span class="mandatory-sign">*</span>

                <select class="form-control custom-select mandatory-field" [(ngModel)]="model.areaId" name="areaId"
                  (change)="isAreaChanged = true" [class.is-invalid]="isAreaChanged && model.areaId == 0" required>
                  <option value="0" selected>Select Area</option>
                  <option *ngFor="let area of areas" [value]="area.areaId">
                    {{ area.areaName }}
                  </option>
                </select>

                <div *ngIf="isAreaChanged && model.areaId == 0">
                  <label class="has-error">This field is required.</label>
                </div>
              </div>

              <!-- Quota Balance -->
              <div class="form-group col-md-6">
                <span class="mandatory-sign">*</span>

                <input type="number" min="0" class="form-control mandatory-field" placeholder="Quota Balance"
                  #quotaRemaining="ngModel" [class.is-invalid]="
                    quotaRemaining?.invalid &&
                    (quotaRemaining?.dirty || quotaRemaining?.touched)
                  "
                  [(ngModel)]="model.quotaRemaining" name="quotaRemaining" required readonly="readonly" />

                <div *ngIf="
                    quotaRemaining?.invalid &&
                    (quotaRemaining?.dirty || quotaRemaining?.touched)
                  ">
                  <div *ngIf="quotaRemaining?.errors.required">
                    <label class="has-error">This field is required.</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <!-- Achievement no -->
              <div class="form-group col-md-6">
                <span class="mandatory-sign">*</span>

                <input type="number" min="0" class="form-control mandatory-field" placeholder="Achievement Number"
                  #achievementNo="ngModel" [class.is-invalid]="
                    achievementNo?.invalid &&
                    (achievementNo?.dirty || achievementNo?.touched)
                  "
                  [(ngModel)]="model.achievementNo" name="achievementNo" required />

                <div *ngIf="
                    achievementNo?.invalid &&
                    (achievementNo?.dirty || achievementNo?.touched)
                  ">
                  <div *ngIf="achievementNo?.errors.required">
                    <label class="has-error">This field is required.</label>
                  </div>
                </div>
              </div>

              <!-- Achievements -->
              <div class="form-group col-md-12" *ngIf="showTiny">
                <!--
                  <span class="mandatory-sign">*</span>

                  <input type="text" class="form-control mandatory-field" [(ngModel)]='model.achievements' name="achievements" placeholder="Achievements"
                    required>
                -->
                <!--
                  <textarea rows="4" class="form-control" placeholder="Achievements" [(ngModel)]='model.achievements' name="achievements" required></textarea>
                -->
                <!--
                  <editor apiKey="5g5faf78gvk6yfq9bd3bbfjo858kjx1q8o0nbiwtygo2e4er" [(ngModel)]='model.achievements' name = 'achievements' [init]="{plugins: 'link'}"></editor>
                -->

                <!--
                  <textarea class="form-control" name="model.content" [tinymce]="tinymce" style="height: 300px" [(ngModel)]="model.content" placeholder="Description"></textarea>
                -->

                <app-tiny-editor class="mandatory-field-position d-block" style="border-right: 1px solid rgba(0,0,0,0.2);"
                  [elementId]="'my-editor'" (onEditorContentChange)="keyupHandler($event)" [inputValue]="model?.achievements"></app-tiny-editor>
              </div>
            </div>
            <!-- Status -->
            <div class="row">
              <!--
                <div class="form-group col-md-5"></div>
                <div class="col-md-1 d-none d-md-inline-block"></div>
              -->

              <div class="form-group col-md-6">
                <span class="mandatory-sign">*</span>

                <select class="form-control custom-select mandatory-field" [(ngModel)]="model.statusId" name="statusId"
                  [class.is-invalid]="isStatusChanged && model.statusId == 0" (change)="isStatusChanged = true"
                  required>
                  <option value="0" selected>Select Status</option>
                  <option *ngFor="let status of statusList" [value]="status.statusId">
                    {{ status.name }}
                  </option>
                </select>

                <div *ngIf="isStatusChanged && model.statusId == 0">
                  <label class="has-error">This field is required.</label>
                </div>
              </div>
            </div>

            <div class="row">
              <label class="col-2 col-sm-1 col-form-label mandatory-field-position">
                Role
              </label>

              <div class="col-10 col-sm-11  mandatory-field-position">
                <div class="custom-control custom-checkbox my-1 mr-sm-2" *ngFor="let role of model.roles; let i = index">
                  <input type="checkbox" class="custom-control-input" [value]="role.userExists" [(ngModel)]="role.userExists"
                    name="role.userExists-{{i}}" id="role-{{i}}" />
                  <label class="custom-control-label" for="role-{{i}}">
                    {{ role.description }}
                  </label>
                </div>
              </div>
            </div>

            <!-- Submit -->
            <div class="form-group row">
              <div class="col-12 text-center">
                <button [disabled]="
                    !agentInfoForm.form.valid ||
                    agentId != model.userCode ||
                    model.statusId == 0
                      ? true
                      : false
                  "
                  (click)="save()" class="btn btn-primary btn-submit">
                  SUBMIT
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</main>
