<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12"><h3>LIST OF CANDIDATES ELIGIBLE FOR CONTRACT</h3></div>
  </header>
</section>

<div class="container-fluid mt-2">
  <div class="my-5">
    <div class="row justify-content-between">
      <div class="col-2">
        <select
          class="form-control form-control-sm custom-select"
          name="dropDown"
          [(ngModel)]="dropDown"
          (change)="dropDownValueChange($event.target.value)"
        >
          <option value="C" selected>CAMPAIGN</option>
          <option value="NC">NON-CAMPAIGN</option>
        </select>
      </div>
      <div class="col-4 float-right">
        <mat-form-field class="float-right" style="width: 100%">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput id="search" placeholder="Search" />
        </mat-form-field>
      </div>
    </div>
    <table
      mat-table
      matSort
      [dataSource]="dataSource"
      class="mat-elevation-z8 tbl-eligibility-criteria"
      style="width:100%"
    >
      <ng-container matColumnDef="candidateId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CANDIDATE ID</th>
        <td
          mat-cell
          *matCellDef="let element; let row; let i = index"
          style="width:7%"
        >
          <a
            href="javascript:void(0)"
            [routerLink]="['/ap/candidate-profile', element.candidateId]"
          >
            {{ element.candidateId }}</a
          >
        </td>
      </ng-container>

      <ng-container matColumnDef="candidateName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          CANDIDATE NAME
        </th>
        <td mat-cell *matCellDef="let element; let row" style="width:15%">
          <a
            href="javascript:void(0)"
            [routerLink]="['/ap/candidate-profile', element.candidateId]"
          >
            {{ element.candidateName }}</a
          >
        </td>
      </ng-container>
      <!-- [queryParams]="{tab: 'submit-documents-tab'}" -->

      <ng-container matColumnDef="faCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>FA CODE</th>
        <td mat-cell *matCellDef="let element" style="width:7%">
          <a
            href="javascript:void(0)"
            [routerLink]="['/ap/candidate-profile', element.candidateId]"
          >
            {{ element.faCode }}</a
          >
        </td>
      </ng-container>
      <ng-container matColumnDef="taggedUmBmName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Tagged UM/BM NAME
        </th>
        <td mat-cell *matCellDef="let element" style="width:7%">
          {{ element.taggedUmBmName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="campaignCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CAMPAIN CODE</th>
        <td mat-cell *matCellDef="let element" style="width:7%">
          {{ element.campaignCode }}
        </td>
      </ng-container>
      <ng-container matColumnDef="campaignEndDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          CAMPAIGN END DATE
        </th>
        <td mat-cell *matCellDef="let element" style="width:7%">
          {{ ds.utc_to_local_time(element.campaignEndDate, ds.DATEFORMAT) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="contractDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CONTRACT DATE</th>
        <td mat-cell *matCellDef="let element" style="width:7%">
          {{ ds.utc_to_local_time(element.ContractDate, ds.DATEFORMAT) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ACTION</th>
        <td mat-cell *matCellDef="let element" style="width:7%">
          <div *ngIf="element.action != 'Signed'">
            <button
              class="btn btn-sm btn-primary"
              (click)="onContractSigned(element.candidateId)"
            >
              CONTRACT SIGNED
            </button>
          </div>
          <div *ngIf="element.action == 'Signed'">{{ element.action }}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="dateOfAckowledgement">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          DATE OF ACKOWLEDGEMENT
        </th>
        <td mat-cell *matCellDef="let element" style="width:7%">
          {{
            ds.utc_to_local_time(element.dateOfAckowledgement, ds.DATEFORMAT)
          }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageChange($event)"
    >
    </mat-paginator>
  </div>
</div>
