<!-- <section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm ">
    <div class="col-12">
      <h3>Account Activation</h3>
    </div>
  </header>
</section>


<section class="container dashboard-login">

  <div class="row" *ngIf="errorMessage">
    <div class="col">
      <div class="notice notice--danger">
        <strong>Error</strong> {{errorMessage}}
      </div>
    </div>
  </div>

  <section class="container dashboard-login">
    <div class="row">
      <div class="col ">
        <div class="login__frm">
          <form class="needs-validation" novalidate #fromActivation='ngForm'>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Email" [(ngModel)]="model.email" name="email" required>
              <div *ngIf="model.email.length>0">
                <label class="has-error">Email address required</label>
              </div>
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-outline-primary col mr-2" (click)="change()">Send OTP</button>
                <button type="button" class="btn btn-success col ml-2" (click)="resendOTP()" [disabled]="(coundDown>0 )">Resend OTP <span *ngIf="coundDown>0">({{counDownDate | date:'mm:ss'}})</span>
                 </button>
            </div>



            <div class="form-row">
              <div class="form-group col-md-6">
                  <input type="password" class="form-control mandatory-field" placeholder="Password" required [(ngModel)]='model.password' #password='ngModel' name='Password'>
                  <div *ngIf="password.invalid && (password.dirty || password.touched)">
                      <div *ngIf="password.errors.required">
                          <label class="has-error">Password required</label>
                      </div>
                  </div>
              </div>

              <div class="form-group col-md-6">
                  <input type="password" class="form-control mandatory-field" placeholder="Confirm Password" required [(ngModel)]='model.confirmPassword' #confirmPassword='ngModel' name='ConfirmPassword' />
                  <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                      <div *ngIf="confirmPassword.errors.required">
                          <label class="has-error">Confirm password required</label>
                      </div>
                  </div>
                  <div *ngIf="model.confirmPassword.length>0 && model.password!=model.confirmPassword">
                      <label class="has-error">Password doesn't match</label>
                  </div>
              </div>
          </div>

           
            <div class="form-group">
                <label >OTP Delivery Method : &nbsp; </label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="otpdeliveryMethod" name="otpdeliveryMethod" id="otpdeliveryMethodEmail" value="1">
                <label class="form-check-label" for="otpdeliveryMethodEmail">Email</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="otpdeliveryMethod" name="otpdeliveryMethod" id="otpdeliveryMethodSMS" value="2">
                <label class="form-check-label" for="otpdeliveryMethodSMS">SMS</label>
              </div>
            </div>
            <div class="form-group d-flex">
              <button type="button" class="btn btn-primary col mr-2" (click)="change()">Change</button>
              <button type="button" class="btn btn-warning col " (click)="reset()">Reset</button>
              <button type="button" class="btn btn-success col ml-2" (click)="resendOTP()" [disabled]="(coundDown>0 )" *ngIf="!changePassword">Resend
                OTP
                <span *ngIf="coundDown>0">({{counDownDate | date:'mm:ss'}})</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

</section> -->