<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>User List</h3>
    </div>
  </header>
</section>
<!-- End Page Title -->

<div class="container">
  <div class="my-5">
  <div class="row" *ngIf="errorMessage">
    <div class="col-xs-12 col col-md-12 col-lg-12">
      <div class="alert alert-danger">
        {{errorMessage}}
      </div>
    </div>
  </div>
  <div class="registration-header">
    <!-- <h4>User List</h4> -->
    <hr>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a [routerLink]="['/ap/user-create']" class="btn btn-sm">Create User</a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12  col-sm-12 col-lg-12">
      <div class="table-responsive">
        <table class="table table-hover mat-elevation-z8">
          <thead>
            <tr>
              <th>Id</th>
              <th>First Name</th>
              <th>Middle Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Designation</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let model of models">
              <td>{{model.userId}}</td>
              <td>{{model.firstName}}</td>
              <td>{{model.middleName}}</td>
              <td>{{model.lastName}}</td>
              <td>{{model.email}}</td>
              <td>{{model.designation}}</td>
              <td>
                <div class="btn-group">
                  <button class="btn btn-sm btn-primary" [routerLink]="['/ap/user-create/',model.id]">Edit
                    <i data-feather="edit-2" class="ml-1"></i>

                  </button>
                  <!-- <button class="btn btn-sm btn-danger" (click)="delete(model.id)">Delete</button> -->
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>