<div class="row">
  <div class="col-12 col-xl-8 mx-auto pt-5 pb-5">
    <div class="row">
      <div class="col-sm-4 box-max-width mx-auto">
        <div class="thumbnail">
          <a href="javascript:void(0)">
            <span class="icon-reports"></span>
            <div class="caption"><p class="pt-2 text-center">REPORTS</p></div>
          </a>
        </div>
      </div>
      <div class="col-sm-4 box-max-width mx-auto">
        <div class="thumbnail">
          <a href="javascript:void(0)">
            <span class="icon-06"></span>
            <div class="caption">
              <p class="pt-2 text-center">LEAD MANAGMENT</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-4 box-max-width mx-auto">
        <div class="thumbnail">
          <a href="javascript:void(0)">
            <span class="icon-08"></span>
            <div class="caption">
              <p class="pt-2 text-center">VIVA ACKNOWLEDGMENT</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-4 box-max-width mx-auto">
        <div class="thumbnail">
          <a href="javascript:void(0)">
            <span class="icon-07"></span>
            <div class="caption">
              <p class="pt-2 text-center">ORPHAN LEAD MANGEMENT</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
