<div class="bottom-states">
  <div class="state-item">
    <div class="custom-control custom-radio my-checkbox my-checkbox-2 ">
      <input checked="" class="custom-control-input" id="checkbox_bottom_state1" name="checkbox_bottom_state1" type="checkbox">
      <label class="custom-control-label" for="checkbox_bottom_state1"></label>
    </div>
    <span>PENDING VERIFICATION</span>
  </div>
  <div class="state-item">
    <div class="custom-control custom-radio">
      <input class="custom-control-input" id="checkbox_bottom_state2" name="checkbox_bottom_state2" type="checkbox">
      <label class="custom-control-label" for="checkbox_bottom_state2"></label>
    </div>
    <span>NOT SUBMITTED</span>
  </div>
  <div class="state-item">
    <div class="custom-control custom-radio my-checkbox my-checkbox-1 ">
      <input checked="" class="custom-control-input" id="checkbox_bottom_state3" name="checkbox_bottom_state3" type="checkbox">
      <label class="custom-control-label" for="checkbox_bottom_state3"></label>
    </div>
    <span>APPROVED/VALID</span>
  </div>
  <div class="state-item">
    <div class="custom-control custom-radio my-checkbox my-checkbox-3">
      <input checked="" class="custom-control-input" id="checkbox_bottom_state4" name="checkbox_bottom_state4" type="checkbox">
      <label class="custom-control-label" for="checkbox_bottom_state4"></label>
    </div>
    <span>REJECTED/INVALID</span>
  </div>
</div>
