@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";
.bottom-states {
    float: left;
    padding-top: 30px;
    padding-left: 15px;
    
    .state-item {
        float: left;
        margin-right: 20px;

        span {
        font-size: 0.875rem;
        font-weight: bold;
        margin-top: 10px;
        float: left;
        }
        .custom-control {
            position: relative;
            display: block;
            width: 40px;
            height: 26px;
            align-self: flex-start;
            min-height: 1.5rem;
            padding-left: 1.5rem;
            margin-top: 5px;
            float: left;
        }
        .custom-control-input {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }
        .custom-control-label{

            &::after, &::before {
                top: -1rem;
                width: 26px;
                height: 26px;
                cursor: not-allowed;
                pointer-events: none;
            }
        }
    }
}