<h3 mat-dialog-title>Menu</h3>

<mat-dialog-content my-5>
  <div class="row">
    <div class="col-xs-6 col-md-6 col-lg-6 form-group ">
      <input name="menuName" [(ngModel)]="model.menuName" placeholder="Menu Name" type="text" class="form-control form-control-sm"
        required/>
    </div>
    <div class="col-xs-6 col-md-6 col-lg-6 form-group ">
      <input name="component" [(ngModel)]="model.component" placeholder="Component" type="text" class="form-control form-control-sm"
        required/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-6 col-lg-6 form-group ">
      <input name="path" [(ngModel)]="model.path" placeholder="Path" type="text" class="form-control form-control-sm" required/>
    </div>
    <div class="col-xs-6 col-md-6 col-lg-6 form-group ">
      <select class="form-control form-control-sm custom-select" [(ngModel)]='model.parentId' #hqf='ngModel' name='parentId' required>
        <option value='null'>Select Parent Menu</option>
        <option *ngFor="let item of menus" [ngValue]="item.menuId">{{item.menuName}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-6 col-lg-6 form-group ">
      <input name="sortOrder" [(ngModel)]="model.sortOrder" placeholder="Sort Order" type="number" class="form-control form-control-sm"
        required min="0" />
    </div>
    <div class="col-xs-6 col-md-6 col-lg-6 form-group ">
      <select class="form-control form-control-sm custom-select" [(ngModel)]='model.portalName' #hqf='ngModel' name='parentId'
        required>
        <option value="Admin" selected="selected">Admin</option>
        <option value="Candidate">Candidate</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-6 col-lg-6 form-group ">
      <div class="custom-control custom-checkbox my-1 mr-sm-2">
        <input type="checkbox" class="custom-control-input" [value]="model.showInMenu" [(ngModel)]="model.showInMenu" name="showInMenu"
          id="id">
        <label class="custom-control-label" for="id">Show In Menu</label>
      </div>
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions style="float: right;">
  <button type="button" class="btn btn-sm btn-primary mr-1" (click)='save()'><i class="fa fa-save" aria-hidden="true"> Save</i></button>
  <button type="button" class="btn btn-sm btn-danger mr-1" (click)='close()'><i class="fa fa-times" aria-hidden="true"> Close</i></button>
</mat-dialog-actions>