<mat-form-field class="example-chip-list" style="width:100%">
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let item of selectedItem"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(item)"
    >
      {{ item.value }}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      #input
      [formControl]="inputCtrl"
      [placeholder]="Setting.placeHolderText"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      id="typeheadtext"
    />
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option
      class="py-2"
      *ngFor="let item of (filteredItems | async)"
      [value]="item['showfield'] + ',' + item['id']"
    >
      <div
        [innerHTML]="item.value"
        *ngIf="Setting.responseType == type.complex"
      ></div>
      <div *ngIf="Setting.responseType == type.primitive">{{ item.value }}</div>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
