<div class="modal-header">

  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  {{uploadStatus}}
  <div *ngFor="let item of uploader.queue">
    <p><strong>{{ item?.file?.name }}({{ item?.file?.size/1024/1024 | number:'.2' }} MB)</strong></p>
    <div class="progress" style="margin-bottom: 0;">
      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
    </div>
    <p>{{item.progress}} % done</p>
  </div>
</div>