<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>LIST OF DOCUMENT FOR VERIFICATION</h3>
    </div>
  </header>
</section>

<div class="container-fluid mt-2">
  <div class="my-5">
    <!-- <h5>List Of Training Modules</h5> -->
    <div class="row">
      <div class="col-8">
        <button type="button" class="btn btn-sm btn-primary mr-1" (click)='getNext()'>Get Next</button>

      </div>
      <div class="col-4">
        <mat-form-field class="float-right" style="width: 100%">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput (keyup)="filter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </div>
    </div>
    <div class="table-responsive">
      <table mat-table matSort [dataSource]="dataSource" class="table mat-elevation-z8 tbl-eligibility-criteria" style="width:100%; min-width: 950px;">

        <ng-container matColumnDef="warning">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let element; let row; let i = index" style="width:1%"><span *ngIf="element.verificationPendingCount>0 && element.resendDocCount>0"><i class="fa fa-exclamation-circle" style="color:red" aria-hidden="true"></i></span></td>
        </ng-container>

        <ng-container matColumnDef="candidateId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CANDIDATE ID </th>
          <td mat-cell *matCellDef="let element; let row; let i = index" style="width:7%">{{element.candidateId}}</td>
        </ng-container>

        <ng-container matColumnDef="candidateName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CANDIDATE NAME </th>
          <td mat-cell *matCellDef="let element; let row" style="width:15%"> <a href="javascript:void(0)" [routerLink]="[ '/ap/candidate-profile', element.candidateId]"
              [queryParams]="{tab: 'submit-documents-tab'}">
              {{element.candidateName}}</a> </td>
        </ng-container>


        <ng-container matColumnDef="faCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            FA CODE </th>
          <td mat-cell *matCellDef="let element" style="width:7%">
            <a href="javascript:void(0)" [routerLink]="[ '/ap/candidate-profile', element.candidateId]" [queryParams]="{tab: 'submit-documents-tab'}">
              {{element.faCode}}</a>
          </td>
        </ng-container>


        <ng-container matColumnDef="trainingCompletionDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TRAINING COMPLETION DATE </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;"> {{
            ds.utc_to_local_time(element.trainingCompletionDate, ds.DATEFORMAT)}} </td>
        </ng-container>

        <ng-container matColumnDef="trainingExamPassingDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TRAINING EXAM PASSING DATE </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;"> {{
            ds.utc_to_local_time(element.trainingExamPassingDate, ds.DATEFORMAT)}} </td>
        </ng-container>

        <ng-container matColumnDef="dateOfFinalDocumentSubmission">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DATE OF FINAL DOCUMENT SUBMISSION </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;"> {{
            ds.utc_to_local_time(element.dateOfFinalDocumentSubmission, ds.DATEFORMAT)}} </td>
        </ng-container>
        <ng-container matColumnDef="verificationPendingCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DOCUMENT PENDING VERIFICATION </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;"> {{
            element.verificationPendingCount+'/'+element.docCount }} </td>
        </ng-container>
        <ng-container matColumnDef="approveDocCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DOCUMENT APPROVED VERIFICATION </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;"> {{
            element.approveDocCount+'/'+element.docCount }}
          </td>
        </ng-container>
        <ng-container matColumnDef="rejectDocCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DOCUMENT REJECTED VERIFICATION </th>
          <td mat-cell *matCellDef="let element" style="width:8%; text-align: center;"> {{
            element.rejectDocCount+'/'+element.docCount }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [style.background-color]="row.verificationPendingCount>0 && row.resendDocCount>0 ? '#FFC0CB':''"></tr>
      </table>
    </div>
  </div>
</div>
