<section _ngcontent-c1="" class="container-fluid bg-grey">
  <header _ngcontent-c1="" class="row page-header page-header--sm">
    <div _ngcontent-c1="" class="col-12">
      <h3 _ngcontent-c1="">Lead Management</h3>
    </div>
  </header>
</section>
<div class="container">
  <div class="my-5">
    <div class="row">
      <div class="col-3"> 
          <select class="form-control form-control-sm custom-select" [(ngModel)]='leadTypeValue' [ngModelOptions]="{standalone: true}" (change)="selectedIndexChanged()" name='leadTypeValue' required>
              <option value='-1' selected>Select Type</option>
              <option *ngFor="let item of leadTypes" [ngValue]="item.id" >{{item.name}}</option>
            </select>               
      </div>

      

      <div class="col-4 offset-md-5 float-right">
        <mat-form-field class="float-right" style="width: 100%">
          <input matInput (keyup)="filter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </div>
    </div>

    <!-- End header -->
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tbl-eligibility-criteria" style="width:100%; min-width: 800px;">
        <ng-container matColumnDef="sl">
          <th mat-header-cell *matHeaderCellDef> SL# </th>
          <td mat-cell *matCellDef="let row; let i = index" > {{ ((pageIndex-1)*pageSize) + i+1}} </td>
        </ng-container>

      
        <ng-container matColumnDef="userId">
          <th mat-header-cell *matHeaderCellDef > Candidate Id </th>
          <td mat-cell *matCellDef="let element"> <a href="javascript:void(0)" [routerLink]="[ '/ap/timeline', element.userId]"> {{element?.userId}} </a></td>
        </ng-container>   

        <ng-container matColumnDef="faCode">
          <th mat-header-cell *matHeaderCellDef> FACode </th>
          <td mat-cell *matCellDef="let element"> <a href="javascript:void(0)" [routerLink]="[ '/ap/timeline', element.userId]"> {{element?.faCode}}</a></td>
        </ng-container>

        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> <a href="javascript:void(0)" [routerLink]="[ '/ap/timeline', element.userId]"> {{element?.fullName}} </a></td>
        </ng-container>

        <ng-container matColumnDef="currentStatusName">
          <th mat-header-cell *matHeaderCellDef> Current Status </th>
          <td mat-cell *matCellDef="let element"> {{element?.currentStatusName}} </td>
        </ng-container>

        <ng-container matColumnDef="nextActionName">
          <th mat-header-cell *matHeaderCellDef> Next Action </th>
          <td mat-cell *matCellDef="let element"> {{element?.nextActionName }} </td>
        </ng-container>

        <ng-container matColumnDef="myAction">
          <th mat-header-cell *matHeaderCellDef> My Action </th>
          <td mat-cell *matCellDef="let element"> {{element?.myAction}} <br /> {{element?.subActionName}}</td>
        </ng-container>

        <ng-container matColumnDef="remarks">
          <th mat-header-cell *matHeaderCellDef> Remarks </th>
          <td mat-cell *matCellDef="let element"> {{element?.remarks}} </td>
        </ng-container>

        <ng-container matColumnDef="dateOfAction">
          <th mat-header-cell *matHeaderCellDef>Date Of Action </th>
          <td mat-cell *matCellDef="let element"> {{element?.dateOfAction | date}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element?.statusId==status.Accepted" class="badge badge-success">Accepted</span>
            <span *ngIf="element?.statusId==status.Pending" class="badge badge-warning">Pending</span>
            <span *ngIf="element?.statusId==status.Rejected" class="badge badge-danger">Rejected</span>
          </td>
        </ng-container> -->

      

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element; let row; let i = index">
            <button *ngIf="element?.assignedBy == null" class="btn btn-primary btn-sm ng-star-inserted" (click)='selfAssign(element)'>
                Self Assign
            </button>
            <button  *ngIf="element?.assignedBy != null && element.assignedBy == this.userid " mat-icon-button color="warn" (click)='openModal(element)'>
              <mat-icon color="primary">input</mat-icon>
            </button>
            <!-- <button mat-icon-button color="primary" (click)='openModal(element)'>
              <mat-icon color="primary">input</mat-icon>
          </button> -->

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageChange($event)">
    </mat-paginator>
  </div>
</div>

<!-- Modal -->
<button [hidden]='true' type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"
  #openModalButton></button>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0 pl-4 pr-4">
        <h5 class="modal-title" id="exampleModalCenterTitle">Call To Actions</h5>
      </div>
      <form [formGroup]='userForm' class="needs-validation col-12 mx-auto" novalidate>
        <div class="modal-body ">
          <div class="form-group ">
            <select class="form-control form-control-sm custom-select" [(ngModel)]='actionId' [ngModelOptions]="{standalone: true}" (change)="selectedActionChanged()" name='actionId' required>
              <option value='-1' selected>Select Action</option>
              <option *ngFor="let item of actions" [ngValue]="item.leadActionId">{{item.leadActionName}}</option>
            </select>
          </div>
          <div class="form-group ">
            <select class="form-control form-control-sm custom-select" *ngIf="this.subActions != null" [(ngModel)]='subActionId' [ngModelOptions]="{standalone: true}" name='subActionId' required>
              <option value='-1' selected>Select Subaction</option>
              <option *ngFor="let item of subActions" [ngValue]="item.id">{{item.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <textarea [(ngModel)]="remarks" class="form-control" formControlName="remarks" id="remark" aria-describedby="remark" name="remark" placeholder="Enter your remarks" required>
        </textarea>
          </div>
        </div>
   
      <mat-dialog-actions class="mat-dialog-actions mb-4 text-right mr-4" style="float: right;">
        <button (click)="accept(element)" type="button" class="btn btn-sm btn-primary mr-1"  [disabled]="!userForm.valid || actionId == defaultActionId || subActionId == defaultSubActionId">
          <i class="fa fa-save" aria-hidden="true"> Save</i></button>
        <button #modalCloseButton type="button" class="btn btn-sm btn-danger mr-1" data-dismiss="modal">
          <i class="fa fa-times" aria-hidden="true" (click)="closePopUp()"> Close</i></button>
      </mat-dialog-actions>
    </form>
    </div>
  </div>
</div>

<!-- End Modal -->
