<div class="card-header" id="bankInfoTitle">
  <h5>
    <span
      class="dashboard-accordion__title"
      data-toggle="collapse"
      data-target="#bankInfo"
      aria-expanded="false"
      aria-controls="bankInfo"
    >
      Bank Information
    </span>
    <span
      class="dashboard-accordion__icon collapsed"
      data-toggle="collapse"
      data-target="#bankInfo"
      aria-expanded="false"
      aria-controls="bankInfo"
    >
      <i data-feather="minus"></i>
      <i data-feather="plus"></i>
    </span>
  </h5>
  <div
    id="bankInfo"
    class="collapse"
    aria-labelledby="bankInfoTitle"
    data-parent="#bankInfo"
  >
    <!-- *ngIf="isEditable" -->
    <div class="card-body">
      <form
        class="needs-validation"
        #bankInfoForm="ngForm"
        novalidate
        autocomplete="off"
      >
        <!-- Bank Name -->
        <div class="form-row">
          <div class="form-group col-md-5">
            <select
              class="mandatory-field form-control custom-select"
              [(ngModel)]="model.bankCode"
              name="bankCode"
  
              disabled
            >
              <option value="0">Select Bank</option>
              <option *ngFor="let bank of banks" [value]="bank.bankCode">
                {{ bank.bankName }}
              </option>
            </select>
          </div>
        </div>

        <!-- Branch Name -->
        <div class="form-row">
          <div class="form-group col-md-5">
            <select
              class="mandatory-field form-control custom-select"
              [(ngModel)]="model.branchCode"
              name="branchCode"
              #branchCode="ngModel"
              [class.is-invalid]="
                branchCode.invalid &&
                (branchCode.dirty || branchCode.touched) &&
                model.branchCode === '0'
              "
              disabled
            >
              <option value="0" selected>Select Branch</option>
              <option
                *ngFor="let branch of branches"
                [value]="branch.branchCode"
              >
                {{ branch.branchName }}
              </option>
            </select>
          </div>
        </div>

        <!-- Routing Number -->
        <div class="form-row">
          <div class="form-group col-md-5">
            <input
              type="text"
              class="form-control  mandatory-field"
              placeholder="Routing Number"
              [(ngModel)]="routingNumber"
              name="routingNumber"
              disabled
            />
          </div>
        </div>

        <!-- Account Number -->
        <div class="form-row">
          <div class="form-group col-md-5">
            <input
              type="text"
              class="form-control  mandatory-field"
              placeholder="Account Number"
              maxlength="35"
              minlength="7"
              [(ngModel)]="model.accountNumber"
              name="accountNumber"
              #accountNumber="ngModel"
              pattern="^[a-zA-Z0-9-]{7,35}$"
              [class.is-invalid]="
                accountNumber.invalid &&
                (accountNumber.dirty || accountNumber.touched)
              "
              disabled
            />
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
