<section _ngcontent-c1="" class="container-fluid bg-grey">
  <header _ngcontent-c1="" class="row page-header page-header--sm">
    <div _ngcontent-c1="" class="col-12">
      <h3 _ngcontent-c1="">District</h3>
    </div>
  </header>
</section>
<div class="container">
    <div class="my-5">
      <!-- <h5>District</h5> -->
  
      <div>
        <button mat-raised-button color="primary" type="button" class="btn btn-sm mb-2" (click)='add()'><i class="fa fa-plus" aria-hidden="true" >
            <span> Add New District</span></i></button>
      </div>
      <div class="table-responsive">
        <table mat-table matSort [dataSource]="dataSource" class="table mat-elevation-z8" style="width: 100%; min-width: 350px;">
          <ng-container matColumnDef="sl">
            <th mat-header-cell *matHeaderCellDef> #SL </th>
            <td mat-cell *matCellDef="let row; let i = index" class="text-align:center"> {{i+1}} </td>
          </ng-container>     
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
            <td mat-cell *matCellDef="let element"> {{element.countryInfo.name}} </td>
          </ng-container>
          <ng-container matColumnDef="districtName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> District </th>
            <td mat-cell *matCellDef="let element"> {{element.districtName}} </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element; let row; let i = index">
              <button type="button" class="btn btn-sm btn-primary mr-1" (click)='edit(element.districtId)'><i class="fa fa-pencil-square-o"
                  aria-hidden="true"></i></button>
              <button type="button" class="btn btn-sm btn-danger mr-1" (click)='delete(element.districtId)'><i
                  class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>

<!-- <div class="container">
  <div class="row" *ngIf="errorMessage">
    <div class="col-xs-12 col col-md-12 col-lg-12">
      <div class="alert alert-danger">
        {{errorMessage}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">

      <form (ngSubmit)="save()">
        <div class="registration-header">
          <h4>District</h4>
          <hr>
        </div>
        <div class="row">
          <div class="col-xs-4 col col-md-4 col-lg-4 form-group">
            <label>Country</label>           
            <select class="form-control" [(ngModel)]="district.countryId" name="countryId" (change)='countryChange()'>
              <option value="0">Select</option>
              <option *ngFor="let country of countries" [value]="country.countryId"> {{country.name}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col col-md-4 col-lg-4 form-group">
            <label>District</label>
            <input class="form-control " [(ngModel)]='district.districtName' name="districtName" required/>
          </div>
        </div>

        <button class="btn btn-primary">Save</button>
        &nbsp;
        <button type="button" class="btn btn-warning" (click)="cancel()"> Cancel</button>


      </form>

    </div>
  </div>
  <br>
  <div class="row">
      <div class="col-md-12  col-sm-12 col-lg-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>          
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
  
            <tr *ngFor="let district of districts">
              <td>{{district.districtId}}</td>
              <td>{{district.districtName}}</td>            
              <td>
                <div class="btn-group">
                  <button class="btn btn-sm btn-primary" (click)="edit(district.districtId)">Edit</button>
                  <button class="btn btn-sm btn-danger" (click)="delete(district.districtId)">Delete</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

</div> -->