<h3 mat-dialog-title>District</h3>

<mat-dialog-content my-5>

  <!--isExperiencedOrNot-->
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12 form-group ">

      <select class="form-control form-control-sm custom-select"
       [(ngModel)]='model.countryId' #hqf='ngModel' name='countryId'
       [disabled]='model.districtId>0'
        required>
        <option [ngValue]="0">Select Country</option>
        <option *ngFor="let item of countries" [ngValue]="item.countryId">{{item.name}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12 form-group ">
      <input name="minTotalScore" [(ngModel)]="model.districtName" placeholder="District" type="text" class="form-control form-control-sm"
        #minTotalScore="ngModel" required/>
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions style="float: right;">
  <button type="button" class="btn btn-sm btn-primary mr-1" (click)='save()'><i class="fa fa-save" aria-hidden="true"> Save</i></button>
  <button type="button" class="btn btn-sm btn-danger mr-1" (click)='close()'><i class="fa fa-times" aria-hidden="true"> Close</i></button>
</mat-dialog-actions>