<form #fromAction='ngForm'>
  <h3 mat-dialog-title>Actions</h3>
  <mat-dialog-content my-5>

    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 form-group ">
        <select class="mandatory-field form-control custom-select" name="actionId" [(ngModel)]="model.actionId"
        (ngModelChange)="check()" required disabled>
          <option [ngValue]="0">Select Action</option>
          <option *ngFor="let actionType of actionTypes" [ngValue]="actionType.leadActionId" [disabled]="isDisabled(actionType)"> {{actionType.leadActionName}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 form-group ">
        <select class="mandatory-field form-control custom-select" name="lockedBy" [(ngModel)]="model.subActionStatusId"
        (ngModelChange)="check()" required>
          <option [ngValue]="0" selected>Select Status</option>
          <option *ngFor="let statusType of subActionstatusTypes" [ngValue]="statusType.id"> {{statusType.name}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 form-group ">
          <!-- <label>Remarks</label> -->
          <input name="remarks" [(ngModel)]="model.remarks" placeholder="Remarks" style="width: 95%"
          type="text" class="form-control" #remarks="ngModel" required/>
      </div>
  </div>

  </mat-dialog-content>

  <mat-dialog-actions style="float:right;">
    <button type="button" class="btn btn-sm btn-primary mr-1" (click)='save()' [disabled]='!fromAction.form.valid || model.actionId==0 || model.subActionStatusId==0'><i
        class="fa fa-save" aria-hidden="true">
        Save</i></button>
    <button type="button" class="btn btn-sm btn-danger mr-1" (click)='close()'><i class="fa fa-times" aria-hidden="true">
        Close</i></button>
  </mat-dialog-actions>
</form>