<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>Exam Booking List</h3>
    </div>
  </header>
</section>
<!-- End Page Title -->

<div class="container mt-2">
  <div class="my-5">
    <!-- <h5>Exam Booking List</h5> -->
    <div class="row">
        <div class="col-8">
            <button mat-raised-button color="primary" type="button" class="btn btn-sm mb-2" (click)='print()'><i class="fa fa-print" aria-hidden="true" ><span> Print</span></i></button>
          </div>
        <div class="col-4" hidden>
            <mat-form-field class="float-right" style="width: 100%">
              <input matInput (keyup)="filter($event.target.value)" placeholder="Search">
            </mat-form-field>
          </div>
     
   </div>
   <div class="table-responsive">
      <table mat-table matSort [dataSource]="dataSource" class="table mat-elevation-z8 tbl-eligibility-criteria" style="width:100%; min-width: 700px;" >
        <ng-container matColumnDef="sl">
            <th mat-header-cell *matHeaderCellDef> SL# </th>
            <td mat-cell *matCellDef="let row; let i = index" > {{ ((pageIndex-1)*pageSize) + i+1}} </td>
        </ng-container>
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element; let row; let i = index" >  {{element.fullName}}</td>
        </ng-container>

        <ng-container matColumnDef="bookingDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Booking Date </th>
          <td mat-cell *matCellDef="let element"> {{dataService.utc_to_local_time(element.bookingDate, dataService.DATETIMEFORMAT)}} </td>
        </ng-container>

        <ng-container matColumnDef="examDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Exam Date </th>
          <td mat-cell *matCellDef="let element"> {{dataService.utc_to_local_time(element.examSchedule.examDate, dataService.DATEFORMAT) }} </td>
        </ng-container>

        <ng-container matColumnDef="startTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Time </th>
          <td mat-cell *matCellDef="let element"> {{dataService.utc_to_local_time(element.examSchedule.startTime, dataService.TIMEFORMAT) }} </td>
        </ng-container>

        <ng-container matColumnDef="endTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> End Time </th>
          <td mat-cell *matCellDef="let element"> {{dataService.utc_to_local_time(element.examSchedule.endTime, dataService.TIMEFORMAT) }} </td>
        </ng-container>
      
        <ng-container matColumnDef="venueLocation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
          <td mat-cell *matCellDef="let element"> {{element.examSchedule.venueLocation }} </td>
        </ng-container>

   
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
   </div> 
      <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageChange($event)">
      </mat-paginator>
    </div>
</div>


  
