<main class="action-log">
	
  <div class="container mb-4">
    <section class="row">
      <div class="col-12">
      </div>
    </section>
    <div class="row">
      <div class="col-12">
        <div class="card border-0">			
          <div class="card-body px-0 pt-4">
            <div class="card-title">
              <div class="d-flex justify-content-start">
                <div class="image-container">
                  <img [src]="candidateProfile.profilePictureUrl" id="imgProfile" class="img-thumbnail">
                </div>
                <div class="userData">
                  <h2 class="d-block">{{candidateProfile.firstName}} {{candidateProfile.middleName}} {{candidateProfile.lastName}}</h2>
                  <h6 class="d-block mb-1">FACode: {{candidateProfile.faCode}}</h6>
                  <h6 class="d-block">Candidate ID: {{candidateProfile.candidateId}}</h6>
                </div>
    
              </div>
            </div>
          </div>			
        </div>
      </div>
    </div>

    <section class="row">
      <div class="col-8">
        <div class="dashboard-accordion" id="course_accordion">		
          <div id="topicTwo" class="collapse show" aria-labelledby="topicTwoTitle" data-parent="#course_accordion">
            <div class="card-body">			
              <div class="course__module" >	
                <ul [ngClass]="(count==0)? 'module-list' : 'module-list pt-0'" *ngFor='let item of logs; let count = index'>
                    <li [ngClass]="(item.name==='Today') ? 'module-list__item justify-content-start module-progress d-block' :
                    ('module-list__item justify-content-start module-previousday d-block ' + ((i==0)? 'first': ''))" 
                    *ngFor='let act of item.activities; let i=index'>
                      
                      <p class="day-title" *ngIf="i==0">{{item.name}} ({{item.activities.length}})</p>											
                      <div class="comment-box pt-4 px-4 pb-3" >
                        <div class="comment-inner">
                          <div class="comment-inner-left">
                            <p class="icon-wrapper">
                              <span><i class="feather-icon" data-feather="mail"></i></span>
                              <span>{{act.leadActionType}}</span>
                            </p>
                            <p class="mb-1">{{act.eventBody}}</p>
                            <!-- <p>Staff Admin Wrote: test</p> -->
                          </div>
                          <!-- <div class="comment-inner-right float-right">
                            <button type="button" class="btn btn-outline-light mr-2 btn-action-log">Replay</button>																																							
                          </div>													 -->
                        </div>
                        <div>
                          <p class="text-right mb-0 user-text">by {{act.createdUserName}} {{ds.utc_to_local_time(act.createDate, ds.TIMEFORMAT)}}</p>
                        </div>
                        <div class="date-box">
                          <p class="mb-1"> {{ ds.utc_to_local_time(act.createDate, 'MMM') | uppercase }}</p>
                          <p class="day-txt mb-0">{{ds.utc_to_local_time(act.createDate, 'DD')}}</p>
                          <p><small>{{ds.utc_to_local_time(act.createDate, 'YYYY')}}</small></p>
                        </div>
                      </div>											
                    </li>
                </ul>
              </div>
            </div>
          </div>			
        </div>
      </div>
    </section>
    <!-- End Course Topic -->	
  </div>
  <!-- End Course Outline -->	
</main>