<section class="container-fluid bg-grey">
    <header class="row page-header page-header--sm">
        <div class="col-12">
            <h3>Multilingual Information</h3>
        </div>
    </header>
</section>
<div class="container">
    <div class="row my-5">
        <div class="col-sm-12">
            <form action="" #formValue="ngForm" (ngSubmit)="formValue.form.valid && fnPostMultilingualValues()">
                <div class="row">
                    <div class="form-group col-md-8 col-lg-6">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="status" class="font-weight-bold">Language</label>                                
                            </div>
                            <div class="col-sm-9">
                                <select class="form-control" name="status" [(ngModel)]="values.language" (change)="fnChangeLanguagetoLoadData($event)">
                                    <option *ngFor="let lang of listOfLanguage" [value]="lang">{{lang}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-8 col-lg-6">
                        <div class="row" [class.has-error]="KeyName.touched && KeyName.invalid">
                            <div class="col-sm-3">
                                <label for="role" class="font-weight-bold">Key Name</label>
                                <span class="mandatory-sign">*</span>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" [(ngModel)]="values.keyName" required name="KeyName" #KeyName="ngModel">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-8 col-lg-6">
                        <div class="row" [class.has-error]="value.touched && value.invalid">
                            <div class="col-sm-3">
                                <label for="role" class="font-weight-bold">Value</label>
                                <span class="mandatory-sign">*</span>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" [(ngModel)]="values.values" required name="value" #value="ngModel">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-8 col-lg-6 text-right">                        
                        <button type="button " class="btn btn-danger mr-1" (click)="fnCreateNewRecord()">Reset</button>
                        <button type="submit " class="btn btn-primary" [disabled]="formValue.invalid">{{(values.id!=null && values.id>0)==true?'Update':'Save'}}</button>                        
                    </div>
                </div>                
            </form>
            <app-p-table [pTableSetting]="multilanguageKeyValuesTableSetting" [pTableMasterData]="multilanguageKeyValuesList" (customActivityOnRecord)="fnPtableCallBack($event)"></app-p-table>
        </div>
    </div>
</div>
