<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>Education criteria</h3>
    </div>
  </header>
</section>
<!-- End Page Title -->

<div class="container">
  <div class="my-5">
    <!-- <h5>Education eligibility criteria</h5> -->

   <div>
      <button mat-raised-button color="primary" type="button" class="btn btn-sm mb-2" (click)='add()'><i class="fa fa-plus" aria-hidden="true" > <span> Add New Education Criteria</span></i></button>
   </div>
    <div class="table-responsive">
      <table mat-table matSort [dataSource]="dataSource" class="table mat-elevation-z8 tbl-eligibility-criteria" style="width: 100%; min-width: 400px;">
        <ng-container matColumnDef="sl">
            <th mat-header-cell *matHeaderCellDef> #SL </th>
            <td mat-cell *matCellDef="let row; let i = index" class="text-align:center"> {{i+1}} </td>
        </ng-container>
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
    
        <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Score </th>
            <td mat-cell *matCellDef="let element"> {{element.score}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element; let row; let i = index"> 
            <input type="checkbox" [(ngModel)]='element.status' (change)='change_status(i, element)'/>
          </td>
        </ng-container>

        <ng-container matColumnDef="level">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Education Level</th>
          <td mat-cell *matCellDef="let element"> {{element.level}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element; let row; let i = index"> 
                <button type="button" class="btn btn-sm btn-primary mr-1" (click)='edit(element.id, i)'><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-sm btn-danger mr-1" (click)='delete(element.id, i)'><i class="fa fa-trash" aria-hidden="true"></i></button>
          
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>

</div>








































<!-- <div class="container">
  <div class="row" *ngIf="errorMessage">
    <div class="col-xs-12 col col-md-12 col-lg-12">
      <div class="alert alert-danger">
        {{errorMessage}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <form (ngSubmit)="save()">
        <div class="registration-header">
          <h4>Education Eligibility</h4>
          <hr>
        </div>
        <div class="row">
          <div class="col-xs-4 col col-md-4 col-lg-4 form-group">
            <label>Minimum Age</label>
            <input type="number" class="form-control form-control-sm" [(ngModel)]='model.minAge' name="minAge" required/>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col col-md-4 col-lg-4 form-group">
            <label>Maximum Age</label>
            <input type="number" class="form-control form-control-sm" [(ngModel)]='model.maxAge' name="maxAge" required/>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col col-md-4 col-lg-4 form-group">
            <label>Score</label>
            <input type="number" class="form-control form-control-sm" [(ngModel)]='model.score' name="score" required/>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 col col-md-2 col-lg-2 form-group">
            <label>Active Status</label>
          </div>
          <div class="col-xs-2 col col-md-2 col-lg-2 form-group">
            <input type="checkbox" class="form-control form-control-sm" [(ngModel)]='model.status' name="status" required/>
          </div>
        </div>
        <br>
        <div class="btn-group">
          <button class="btn btn-success">Save</button>
          <button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12  col-sm-12 col-lg-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Minimum Age</th>
            <th>Maximum Age</th>
            <th>Score</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let model of models">
            <td>{{model.id}}</td>
            <td>{{model.minAge}}</td>
            <td>{{model.maxAge}}</td>
            <td>{{model.score}}</td>
            <td>{{model.status}}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-sm btn-primary" (click)="edit(model.id)">Edit</button>
                <button class="btn btn-sm btn-danger" (click)="delete(model.id)">Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div> -->



















<!-- <div class="container">
  <div class="row" *ngIf="errorMessage">
    <div class="col-xs-12 col col-md-12 col-lg-12">
      <div class="alert alert-danger">
        {{errorMessage}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <form (ngSubmit)="save()">
        <div class="registration-header">
          <h4>Education Eligibility</h4>
          <hr>
        </div>
        <div class="row">
          <div class="col-xs-4 col col-md-4 col-lg-4 form-group">
            <label>Title</label>
            <input class="form-control form-control-sm" [(ngModel)]='model.title' name="title" required/>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col col-md-4 col-lg-4 form-group">
            <label>Score</label>
            <input type="number" class="form-control form-control-sm" [(ngModel)]='model.score' name="score" required/>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-4 col col-md-4 col-lg-4 form-group">
            <label>Active Status</label>
            <input type="checkbox" class="form-control form-control-sm" [(ngModel)]='model.status' name="status" required/>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col col-md-4 col-lg-4 form-group">
            <label>Sort Order</label>
            <input type="number" class="form-control form-control-sm" [(ngModel)]='model.sortOrder' name="sortOrder" required/>
          </div>
        </div>
        <br>
        <div class="btn-group">
          <button class="btn btn-success">Save</button>
          <button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12  col-sm-12 col-lg-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Score</th>
            <th>Status</th>
            <th>Sort Order</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let model of models">
            <td>{{model.id}}</td>
            <td>{{model.title}}</td>
            <td>{{model.score}}</td>
            <td>{{model.status}}</td>
            <td>{{model.sortOrder}}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-sm btn-primary" (click)="edit(model.id)">Edit</button>
                <button class="btn btn-sm btn-danger" (click)="delete(model.id)">Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div> -->