<section class="container-fluid">
	<header class="row page-header page-header--sm">
		<div class="col-12">
			<h3>Welcome {{accountService.getUserName()}}
				<br> To Your Career Dashboard</h3>
		</div>
	</header>
</section>
<section class="container-fluid bg-grey dashboard-cards">


	<div class="row">
		<div class="col-lg-12 col-xl-8 mx-auto">

			<div class="row">
				<div class="col-md-4 mb-3">
					<div class="dashboard-box">
						<header class="dashboard-box__header d-flex align-items-center">
							<img src="images/icon-choose-partner.png" alt="choose partner" class="mr-3">
							<h3 class="dashboard-box__title">Choose Partner</h3>
						</header>
						<ul class="module-list">
							<li class="module-list__item module-progress">
								<span>Registration</span>
								<span class="ml-auto mr-1 cursor-pointer">(5)</span>
								<span class="cursor-pointer">
									<i data-feather="chevron-right"></i>
								</span>
							</li>
							<li class="module-list__item module-progress" >
								<span>Tag Request Pending</span>
								<span class="ml-auto mr-1 cursor-pointer" [routerLink]="['/ap/tagging/candidate-tag-request']">
									({{tagRequest}})
								</span>
								<span class="cursor-pointer">
									<i data-feather="chevron-right"></i>
								</span>
							</li>
							<li class="module-list__item module-progress">
								<span>Choose Partner</span>
								<span class="ml-auto mr-1 cursor-pointer">(5)</span>
								<span class="cursor-pointer">
									<i data-feather="chevron-right"></i>
								</span>
							</li>
							<li class="module-list__item module-progress">
								<span>Acceptance by Partner</span>
								<span class="ml-auto mr-1 cursor-pointer">(5)</span>
								<span class="cursor-pointer">
									<i data-feather="chevron-right"></i>
								</span>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-md-4 mb-3">
					<div class="dashboard-box">
						<header class="dashboard-box__header d-flex align-items-center">
							<img src="images/icon-learning-online.png" alt="learning online" class="mr-3">
							<h3 class="dashboard-box__title">Learn Online</h3>
						</header>
						<ul class="module-list">
							<li class="module-list__item module-progress">
								<span>Training:
									<a href="javascript:void(0)">Module 2</a>
								</span>
								<span class="ml-auto mr-1 cursor-pointer">(3)</span>
								<span class="cursor-pointer">
									<i data-feather="chevron-right"></i>
								</span>
							</li>
							<li class="module-list__item module-progress">
								<span>Final Examination</span>
								<span class="ml-auto mr-1 cursor-pointer">(2)</span>
								<span class="cursor-pointer">
									<i data-feather="chevron-right"></i>
								</span>
							</li>
							<li class="module-list__item module-progress">
								<span>Training Fee Details</span>
								<span class="ml-auto mr-1 cursor-pointer">(0)</span>
								<span class="cursor-pointer">
									<i data-feather="chevron-right"></i>
								</span>
							</li>
							<li class="module-list__item module-normal">
								<span>ATP Application</span>
								<span class="ml-auto mr-1 cursor-pointer">(2)</span>
								<span class="cursor-pointer">
									<i data-feather="chevron-right"></i>
								</span>
							</li>
							<li class="module-list__item module-progress">
								<span>Summary of Field Work</span>
								<span class="ml-auto mr-1 cursor-pointer">(3)</span>
								<span class="cursor-pointer">
									<i data-feather="chevron-right"></i>
								</span>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-md-4 mb-3">
					<div class="dashboard-box">
						<header class="dashboard-box__header d-flex align-items-center">
							<img src="images/icon-gain-experience.png" alt="gain experience" class="mr-3">
							<h3 class="dashboard-box__title">Gain Experience</h3>
						</header>
						<ul class="module-list">
							<li class="module-list__item module-progress">
								<span>Profile Completion</span>
								<span class="ml-auto mr-1 cursor-pointer">(5)</span>
								<span class="cursor-pointer">
									<i data-feather="chevron-right"></i>
								</span>
							</li>
							<li class="module-list__item module-need-continue">
								<span>Upload Documents</span>
								<span class="ml-auto mr-1 cursor-pointer">(1)</span>
								<span class="cursor-pointer">
									<i data-feather="chevron-right"></i>
								</span>
							</li>
							<li class="module-list__item module-completed">
								<span>Policy Numbers</span>
								<span class="ml-auto mr-1 cursor-pointer">(0)</span>
								<span class="cursor-pointer">
									<i data-feather="chevron-right"></i>
								</span>
							</li>
							<li class="module-list__item module-progress">
								<span>License Fee Details</span>
								<span class="ml-auto mr-1 cursor-pointer">(2)</span>
								<span class="cursor-pointer">
									<i data-feather="chevron-right"></i>
								</span>
							</li>
							<li class="module-list__item module-normal">
								<span>Acknowledgement</span>
								<span class="ml-auto mr-1 cursor-pointer">(0)</span>
								<span class="cursor-pointer">
									<i data-feather="chevron-right"></i>
								</span>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row module-status-help">
				<div class="col-12">
					<ul class="list-inline">
						<li class="list-inline-item">
							<img src="images/checkbox-1-active.png" alt="Completed"> Completed
						</li>
						<li class="list-inline-item">
							<img src="images/checkbox-2-active.png" alt="In Progress"> In Progress
						</li>
						<li class="list-inline-item">
							<img src="images/checkbox-3-active.png" alt="In Progress"> Action Needed to Continue
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>


</section>

<!-- End Dashboard Module -->

<app-call-to-action></app-call-to-action>
<!-- <section class="container-fluid dashboard-acction">
	<div class="row">
		<div class="col-lg-8 mx-auto">
			<h3 class="text-center">Actions for you</h3>
			<div class="row mt-3">
				<div class="col-md-4">
					<a href="javascript:void(0)" role="button" class="btn btn-primary btn-block">Accept Partner (5)</a>
				</div>
				<div class="col-md-4">
					<a href="javascript:void(0)" role="button" class="btn btn-primary btn-block" (click)="goToCertificateFee()">Certificate Fee List (2)</a>
				</div>
				<div class="col-md-4">
					<a href="javascript:void(0)" role="button" class="btn btn-primary btn-block disabled">Approve Document (1)</a>
				</div>
			</div>
		</div>
	</div>
</section> -->

<!-- End Acction -->