<form #questionFrom='ngForm' class="question-bank-form">
  <h3 mat-dialog-title>Question</h3>

  <mat-dialog-content my-5>
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 ">
        <mat-form-field class="column-full-width">
          <textarea matInput name="title" [(ngModel)]="model.title" placeholder="Question Text" type="text" required></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-md-4 col-lg-4">
        <mat-form-field class="column-full-width">
          <input matInput name="score" [(ngModel)]="model.score" (ngModelChange)="autoCalculateScore()" placeholder="Score" type="number" required min="0" />
        </mat-form-field>
      </div>
      <div class="col-xs-4 col-md-4 col-lg-4">
        <mat-form-field class="column-full-width">
          <mat-select placeholder="Question Type" [(ngModel)]="model.questionTypeId" name="questionTypeId" required>
            <mat-option *ngFor="let t of questionType" [value]="t.id">
              {{t.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-xs-4 col-md-4 col-lg-4">
        <mat-checkbox name="isActive" [(ngModel)]="model.isActive" class="example-margin">Is Active?</mat-checkbox>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-md-8 col-lg-8">
        <mat-form-field class="column-full-width">
          <mat-select placeholder="Module Name" [(ngModel)]="model.trainingModuleId" name="trainingModuleId" required>
            <mat-option *ngFor="let m of trainingModule" [value]="m.id">
              {{m.moduleName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 question-bank-form">
        <div class="alert alert-danger" *ngIf='(totalScore != model.score)'>
          <strong>Error!</strong> Options total score not equal to your question score! {{totalScore}} , {{model.score}}
        </div>
        <table>
          <tr>
            <th>#</th>
            <th>Option</th>
            <th>Answer</th>
            <th>Score</th>
          </tr>
          <tr *ngFor="let option of model.questionOptions; let i = index">
            <td>
              <button mat-mini-fab class="btn-increment">
                {{i + 1}}
              </button>
            </td>
            <td>
              <mat-form-field class="column-option-width">
                <input matInput name="text_{{i}}" [(ngModel)]="option.text" placeholder="text" type="text" required />
              </mat-form-field>
            </td>
            <td>
              <mat-checkbox name="isAnswer_{{i}}" [(ngModel)]="option.isAnswer" (ngModelChange)="autoCalculateScore()" class="example-margin"></mat-checkbox>
            </td>
            <td>
              <mat-form-field class="column-score-width">
                <input matInput name="score_{{i}}" [(ngModel)]="option.score" [disabled]="!option.isAnswer" placeholder="score"
                  type="number" min="0" (keyup)="checkTotalScore()" />
              </mat-form-field>
            </td>
            <td>
              <div class="column-action-width">
                <button mat-mini-fab color="warn" *ngIf="model.questionOptions.length>1" (click)="addOption(i)">
                  x
                </button>
                <button mat-mini-fab color="primary" *ngIf="i == model.questionOptions.length-1" (click)="addOption()">
                  +
                </button>
              </div>
              <!-- <button mat-mini-fab color="warn" *ngIf="i != model.questionOptions.length-1" (click)="addOption(i)">
              -
            </button>
            <button mat-mini-fab color="primary" *ngIf="i == model.questionOptions.length-1" (click)="addOption()">
              +
            </button> -->
            </td>
        </table>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions style="float: right;">
    
    <button mat-raised-button color="primary" [disabled]='!questionFrom.form.valid || (totalScore!=model.score)' (click)='save()'>
      <i class="fa fa-save" aria-hidden="true"> </i> Save
    </button>

    <button mat-raised-button color="warn" (click)='close()'>
      <i class="fa fa-times" aria-hidden="true"> </i> Close
    </button>
  </mat-dialog-actions>
</form>