.column-full-width{
    width: 100%;
}

.btn-increment.mat-mini-fab.mat-accent {
    border-radius: 0;
    background: #e1e1e1;
    margin: 0 10px 0 0;
    color: black;
    box-shadow: 0 0;
}

.column-score-width{
    width: 100px;
}

.column-option-width{
    min-width: 300px; 
}

.column-action-width{width: 100px;}

.question-bank-form .mat-mini-fab{
    margin: 5px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  .question-bank-form {
    
    .row {
        display: block;
        .col-md-4 {
            display: inline-block;
        }
    }
  }
}