<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>Global Settings</h3>
    </div>
  </header>
</section>
<!-- End Page Title -->

<section class="container">

  <div class="tab-content profile-tabs-content row" id="profileTabContent">

    <div class="tab-pane fade show active col-12" id="my-details" role="tabpanel" aria-labelledby="details-tab">

      <div class="dashboard-accordion" id="global_settings">

        <!--User Settings -->
        <div class="card-header" id="userSettingsTitle">
          <h5 class="collapsed" data-toggle="collapse" data-target="#user_settings" aria-expanded="false" aria-controls="user_settings"
            (click)="toggleClicked()">
            <span class="dashboard-accordion__title collapsed">
              User Settings
            </span>
            <span class="dashboard-accordion__icon collapsed">
              <i data-feather="minus"></i>
              <i data-feather="plus"></i>
            </span>
          </h5>

          <div id="user_settings" class="collapse" aria-labelledby="userSettingsTitle" data-parent="#user_settings">
            <div class="card-body">
              <form class="needs-validation" novalidate>

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label>User Idle Time (in minutes):</label>
                    <input type="text" (change)="modelChanged('userIdleTimeConfiguration')" [(ngModel)]='model.userIdleTimeConfiguration'
                      name='userIdleTimeConfiguration' class="form-control" placeholder="User Idle Time(in minutes)"
                      required>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label>User Session Expiry Period (in minutes):</label>
                    <input type="text" (change)="modelChanged('sessionExpiryPeriod')" [(ngModel)]='model.sessionExpiryPeriod'
                      name='sessionExpiryPeriod' class="form-control" placeholder="User Session Expiry Period (in minutes)"
                      required>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-2">
                    <button (click)="update(model.id)" class="btn btn-primary btn-block">Update</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>

        <!--Image,File Settings -->
        <div class="card-header" id="imageAndFileSettingsTitle">
          <h5 data-toggle="collapse" data-target="#image_file_settings" aria-expanded="false" aria-controls="academic_qualification"
            (click)="toggleClicked()">
            <span class="dashboard-accordion__title collapsed">
              Image and File Settings
            </span>
            <span class="dashboard-accordion__icon collapsed">
              <i data-feather="minus"></i>
              <i data-feather="plus"></i>
            </span>
          </h5>

          <div id="image_file_settings" class="collapse" aria-labelledby="imageAndFileSettingsTitle" data-parent="#global_settings">
            <div class="card-body">
              <form class="needs-validation" novalidate>

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label>Image File Type:</label>
                    <input type="text" [(ngModel)]='model.imageType' (change)="modelChanged('imageType')" name='imageType'
                      class="form-control" placeholder="Image Type" required>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label>Image File Size Limit (in mb):</label>
                    <input type="number" (change)="modelChanged('imageFileSizeLimit')" [(ngModel)]='model.imageFileSizeLimit'
                      name='imageFileSizeLimit' class="form-control" placeholder="Image File Size">
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label>Other File Size Limit (in mb):</label>
                    <input type="number" (change)="modelChanged('uploadedFileSizeLimit')" [(ngModel)]='model.uploadedFileSizeLimit'
                      name='uploadedFileSizeLimit' class="form-control" placeholder="Other File Size">
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-2">
                    <button (click)="update(model.id)" class="btn btn-primary btn-block">Update</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>

        <!--Exam Schedule Settings-->
        <div class="card-header" id="examSettingsTitle">
          <h5 data-toggle="collapse" data-target="#exam_settings" aria-expanded="false" aria-controls="medical_details"
            (click)="toggleClicked()">
            <span class="dashboard-accordion__title collapsed">
              Exam Schedule
            </span>
            <span class="dashboard-accordion__icon collapsed">
              <i data-feather="minus"></i>
              <i data-feather="plus"></i>
            </span>
          </h5>
          <div id="exam_settings" class="collapse" aria-labelledby="examSettingsTitle" data-parent="#global_settings">
            <div class="card-body">
              <form class="needs-validation" novalidate>

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label>Maximum Exam Schedule Display:</label>
                    <input type="number" (change)="modelChanged('maxExamScheduleDisplay')" [(ngModel)]='model.maxExamScheduleDisplay'
                      name='maxExamScheduleDisplay' class="form-control" placeholder="Maximum Exam Schedule Display">
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-2">
                    <button (click)="update(model.id)" class="btn btn-primary btn-block">Update</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>

        <!--OTP Settings -->
        <div class="card-header" id="otpSettingsTitle">
          <h5 class="collapsed" data-toggle="collapse" data-target="#otp_settings" aria-expanded="false" aria-controls="otp_settings"
            (click)="toggleClicked()">
            <span class="dashboard-accordion__title collapsed">
              OTP Settings
            </span>
            <span class="dashboard-accordion__icon collapsed">
              <i data-feather="minus"></i>
              <i data-feather="plus"></i>
            </span>
          </h5>
          <div id="otp_settings" class="collapse" aria-labelledby="nomineeDetotpSettingsTitleailsTitle" data-parent="#global_settings">
            <div class="card-body">
              <form class="needs-validation" novalidate>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label>OTP Length:</label>
                    <input type="number" (change)="modelChanged('otpLength')" [(ngModel)]='model.otpLength' name='otpLength'
                      class="form-control" placeholder="OTP Length">
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label>OTP Expiration (in seconds):</label>
                    <input type="number" (change)="modelChanged('otpExpirationInSecond')" [(ngModel)]='model.otpExpirationInSecond'
                      name='otpExpirationInSecond' class="form-control" placeholder="OTP Expiration Time(in seconds)">
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label>OTP Generation Delay (in seconds):</label>
                    <input type="number" (change)="modelChanged('otpGenerationDelayInSecond')" [(ngModel)]='model.otpGenerationDelayInSecond'
                      name='otpGenerationDelayInSecond' class="form-control" placeholder="OTP Generation Delay(in seconds)">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label>OTP Lock Duration (in seconds):</label>
                    <input type="number" (change)="modelChanged('otpLockDurationInSec')" [(ngModel)]='model.otpLockDurationInSec'
                      name='otpLockDurationInSec' class="form-control" placeholder="OTP Lock Duration(in seconds)">
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label>Number of Maximum Invalid OTP Attempt Allowed:</label>
                    <input type="number" (change)="modelChanged('maxNumOfInvOTPAttempAllow')" [(ngModel)]='model.maxNumOfInvOTPAttempAllow'
                      name='maxNumOfInvOTPAttempAllow' class="form-control" placeholder="Number of Maximum Invalid OTP Attempt Allowed">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-2">
                    <button (click)="update(model.id)" class="btn btn-primary btn-block">Update</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Tagging Criteria -->
        <div class="card-header" id="otpSettingsTitle">
          <h5 class="collapsed" data-toggle="collapse" data-target="#tagging_settings" aria-expanded="false"
            aria-controls="tagging_settings" (click)="toggleClicked()">
            <span class="dashboard-accordion__title collapsed">
              Tagging Criteria
            </span>
            <span class="dashboard-accordion__icon collapsed">
              <i data-feather="minus"></i>
              <i data-feather="plus"></i>
            </span>
          </h5>
          <div id="tagging_settings" class="collapse" aria-labelledby="nomineeDetotpSettingsTitleailsTitle" data-parent="#global_settings">
            <div class="card-body">
              <form class="needs-validation" novalidate>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label>Quota Limit:</label>
                    <input type="number" [(ngModel)]='model.quotaLimit' name='QuotaLimit' class="form-control"
                      placeholder="Quota Limit">
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label>Max Distance:</label>
                    <input type="number" [(ngModel)]='model.maxDistance' name='MaxDistance' class="form-control"
                      placeholder="Distance in (km)">
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label>UM Age difference in year:</label>
                    <input type="number" [(ngModel)]='model.ageDifferenceUM' name='AgeDifferenceUM' class="form-control"
                      placeholder="Age difference">
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label>BM Age difference in year:</label>
                    <input type="number" [(ngModel)]='model.ageDifferenceBM' name='AgeDifferenceBM' class="form-control"
                      placeholder="Age difference">
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label>Max number of UM/ BM Show:</label>
                    <input type="number" [(ngModel)]='model.noOfUMBMShow' name='NoOfUMBMShow' class="form-control"
                      placeholder="Age difference">
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-2">
                    <button (click)="update(model.id)" class="btn btn-primary btn-block">Update</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

          <!-- Field Work Criteria -->
          <div class="card-header" id="otpSettingsTitle">
            <h5 class="collapsed" data-toggle="collapse" data-target="#field_work_settings" aria-expanded="false"
              aria-controls="tagging_settings" (click)="toggleClicked()">
              <span class="dashboard-accordion__title collapsed">
                Field Work
              </span>
              <span class="dashboard-accordion__icon collapsed">
                <i data-feather="minus"></i>
                <i data-feather="plus"></i>
              </span>
            </h5>
            <div id="field_work_settings" class="collapse" aria-labelledby="nomineeDetotpSettingsTitleailsTitle" data-parent="#global_settings">
              <div class="card-body">
                <form class="needs-validation" novalidate>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label>Field Work allow after passed training in days:</label>
                      <input type="number" [(ngModel)]='model.fieldWorkAfterPassingTrainingDays' name='FieldWorkAfterPassingTrainingDays' class="form-control"
                        placeholder="No of days">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-2">
                      <button (click)="update(model.id)" class="btn btn-primary btn-block">Update</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>


          <div class="card-header" id="otpSettingsTitle">
            <h5 class="collapsed" data-toggle="collapse" data-target="#policy_settings" aria-expanded="false"
              aria-controls="tagging_settings" (click)="toggleClicked()">
              <span class="dashboard-accordion__title collapsed">
                Policy Settings
              </span>
              <span class="dashboard-accordion__icon collapsed">
                <i data-feather="minus"></i>
                <i data-feather="plus"></i>
              </span>
            </h5>
            <div id="policy_settings" class="collapse" aria-labelledby="nomineeDetotpSettingsTitleailsTitle" data-parent="#global_settings">
              <div class="card-body">
                <form class="needs-validation" novalidate>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label>Min No. of Required Policy:</label>
                      <input type="number" [(ngModel)]='model.minReqPolicyNo' name='MinReqPolicyNo' class="form-control"
                        placeholder="Min Required Policy No">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-2">
                      <button (click)="update(model.id)" class="btn btn-primary btn-block">Update</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="card-header" id="otpSettingsTitle">
            <h5 class="collapsed" data-toggle="collapse" data-target="#referece_settings" aria-expanded="false"
              aria-controls="tagging_settings" (click)="toggleClicked()">
              <span class="dashboard-accordion__title collapsed">
                Reference Settings
              </span>
              <span class="dashboard-accordion__icon collapsed">
                <i data-feather="minus"></i>
                <i data-feather="plus"></i>
              </span>
            </h5>
            <div id="referece_settings" class="collapse" aria-labelledby="nomineeDetotpSettingsTitleailsTitle" data-parent="#global_settings">
              <div class="card-body">
                <form class="needs-validation" novalidate>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label>Min No. of Required Reference:</label>
                      <input type="number" [(ngModel)]='model.minReqReferenceNo' name='MinReqPolicyNo' class="form-control"
                        placeholder="Min Required Reference No">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-2">
                      <button (click)="update(model.id)" class="btn btn-primary btn-block">Update</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="card-header" id="otpSettingsTitle">
            <h5 class="collapsed" data-toggle="collapse" data-target="#slaverification_settings" aria-expanded="false"
              aria-controls="tagging_settings" (click)="toggleClicked()">
              <span class="dashboard-accordion__title collapsed">
                SLA Verification Settings
              </span>
              <span class="dashboard-accordion__icon collapsed">
                <i data-feather="minus"></i>
                <i data-feather="plus"></i>
              </span>
            </h5>
            <div id="slaverification_settings" class="collapse" aria-labelledby="nomineeDetotpSettingsTitleailsTitle" data-parent="#global_settings">
              <div class="card-body">
                <form class="needs-validation" novalidate>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label>SLA Verification (Days):</label>
                      <input type="number" [(ngModel)]='model.slaVerificationDuration' name='MinSLAVerification' class="form-control"
                        placeholder="SLA Verification (Days)">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-2">
                      <button (click)="update(model.id)" class="btn btn-primary btn-block">Update</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>


      </div>

    </div>

    <!-- End Tab title -->

    <div class="tab-pane fade col-12" id="submit-documents" role="tabpanel" aria-labelledby="submit-documents-tab">
      <h3>Submit Documents</h3>
    </div>
    <div class="tab-pane fade col-12 " id="declarations" role="tabpanel" aria-labelledby="declarations-tab">
      <h3>Declarations</h3>
    </div>
    <div class="tab-pane fade col-12" id="acknowledgment" role="tabpanel" aria-labelledby="acknowledgment-tab">
      <h3>Acknowledgment</h3>
    </div>

  </div>
</section>
<!-- End Tab Content -->
