<div class="container">
  <div class="my-3">

    <div class="row">
      <div class="col-8">
        <h5>Candidate Tag Request</h5>
      </div>
      <div class="col-4">

        <mat-form-field class="float-right" style="width: 100%">
          <input matInput (keyup)="filter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </div>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table matSort [dataSource]="dataSource" style="width: 100%">


        <ng-container matColumnDef="candidateUserId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Candidate Id </th>
          <td mat-cell *matCellDef="let element"> {{element.candidateUserId}} </td>
        </ng-container>
        <ng-container matColumnDef="requestDateTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tag Request Date</th>
          <td mat-cell *matCellDef="let element"> {{element.requestDateTime | date:'dd/MM/yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element">
            <a [routerLink]="[ '/ap/candidateprofileview', element.candidateUserId,element.tagRequestId ]">{{element.fullName}}</a>
          </td>
        </ng-container>
        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Age</th>
          <td mat-cell *matCellDef="let element">
            {{element.age}} </td>
        </ng-container>
        <ng-container matColumnDef="educationName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Highest Education Qualification</th>
          <td mat-cell *matCellDef="let element">
            {{element.educationName}} </td>
        </ng-container>
        <ng-container matColumnDef="statusName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.statusId==status.Accepted" class="badge badge-success">{{element.statusName}}</span>
            <span *ngIf="element.statusId==status.Pending" class="badge badge-warning">{{element.statusName}}</span>
            <span *ngIf="element.statusId==status.Rejected" class="badge badge-danger">{{element.statusName}}</span>

          </td>
        </ng-container>
        <ng-container matColumnDef="reponseDateTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Confirm/Rejected Date</th>
          <td mat-cell *matCellDef="let element">
            {{element.reponseDateTime| date:'dd/MM/yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element; let row; let i = index">






            <!-- <button type="button" *ngIf="element.statusId==status.Pending" title="Accept" class="btn btn-sm btn-primary mr-1"
              (click)='changeStatus(element.tagRequestId,1)'><i class="fa fa-check" aria-hidden="true"></i></button>
            <button type="button" *ngIf="element.statusId==status.Pending" title="Reject" class="btn btn-sm btn-danger mr-1"
              (click)='changeStatus(element.tagRequestId,2)'><i class="fa fa-times" aria-hidden="true"></i></button> -->



            <button *ngIf="element.statusId==status.Pending" (click)='changeStatus(element.tagRequestId,1)' color="primary" mat-icon-button="" class="mat-icon-button mat-primary ng-star-inserted">
              <span class="mat-button-wrapper">
                <mat-icon ngcontent-c2="" class="mat-icon mat-primary material-icons" color="primary" role="img" aria-hidden="true">check</mat-icon>
              </span>
              <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
              <div class="mat-button-focus-overlay"></div>
            </button>
            <button *ngIf="element.statusId==status.Pending" (click)='changeStatus(element.tagRequestId,2)' color="warn" mat-icon-button="" class="mat-icon-button mat-warn ng-star-inserted">
              <span class="mat-button-wrapper">
                <mat-icon _ngcontent-c2="" class="mat-icon mat-warn material-icons" color="warn" role="img" aria-hidden="true">close</mat-icon>
              </span>
              <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
              <div class="mat-button-focus-overlay"></div>
            </button>




          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageChange($event)">
      </mat-paginator>
    </div>
  </div>
</div>