@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

.faq-cat{
    display: inline-block;
    width: auto;
    @include media-breakpoint-down(sm) {        
        margin-bottom: 8px;
    }
}

.faq{
    display: inline-block;
    width: auto;
}

.faq-items{
    display: inline-block;
    width: auto;
}