
<section class="container-fluid bg-grey">
  <!-- <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">Join Us</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Choose Your Panter</li>
        </ol>
      </nav>
    </div>
  </div> -->
  <!-- End Breadcrumb -->

  <header class="row page-header page-header--lg">
    <div class="col-12">
      <h3>Frequently Asked Questions</h3>
    </div>
  </header>
  <!-- End Page Title -->
</section>
<section class="container py-5">
  <div class="row">
    <div class="col-sm-12 col-md-9 col-lg-7 mx-auto">

      <select  class="form-control faq-cat mr-1" required [(ngModel)]='categoryId' #category='ngModel' name='category' (change)='change_category(categoryId)'>
        <option [ngValue]="0" selected>Please Select a Topic</option>
        <option *ngFor="let item of categories" [ngValue]="item.id">{{item.categoryName}}</option>
      </select>
      <span>
        <!-- [disabled]='(categoryId==0) ? true : false' -->
        <button type="submit"  class="btn btn-primary btn-submit mr-1" (click)='add_category()'>Add New Category</button>
        <button type="button" class="btn btn-primary mr-1" (click)='edit_category()' [disabled]='(categoryId==0) ? true : false'><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-danger mr-1" (click)='detete_category()' [disabled]='(categoryId==0) ? true : false'><i class="fa fa-trash" aria-hidden="true"></i></button>
      </span>
  
    </div>

    <div class="col-6 offset-md-3 py-2" *ngFor='let item of faqs; let i=index'>

          Question {{i+1}}: 
          <input type="text" class="form-control" placeholder="Type Question" [(ngModel)]='item.question' [name]="'question_'+i" required=""/>
          <!-- <button type="button" class="btn btn-primary mr-1" (click)='edit_category()' [disabled]='(categoryId==0) ? true : false'><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-danger mr-1 " (click)='detete_category()' [disabled]='(categoryId==0) ? true : false'><i class="fa fa-trash" aria-hidden="true"></i></button>
          -->
          Answer {{i+1}}: 
          <textarea type="text" class="form-control" placeholder="Type Answer" [(ngModel)]='item.answer' [name]="'as=nswer_'+i" required=""></textarea>
          
          <button type="submit"  class="btn btn-primary btn-submit mt-1 mr-1" [disabled]='(!item.question || !item.answer) ? true : false' (click)='save(item, index)'>{{ (item.id>0)? 'Update' : 'Save' }}</button>
          <button type="button" *ngIf='item.id>0' class="btn btn-danger mr-1 " (click)='delete_fac(item, i)'><i class="fa fa-trash" aria-hidden="true"></i></button>

    </div>
    <div class="col-sm-12 col-md-9 col-lg-7 mx-auto mt-2" >
        <button type="submit"  class="btn btn-primary btn-submit"  [disabled]='(categoryId==0) ? true : false' (click)='add_new_faq()'>Add New Question</button>
    </div>
  </div>
</section>