<div class="row">
    <div class="col-12 col-xl-8 mx-auto pt-5 pb-5">
        <div class="row">
            <div class="col-sm-4 box-max-width mx-auto">
                <div class="thumbnail">
                    <a href="#">
                        <span class="icon-reports"></span>
                        <div class="caption">
                            <p class="pt-2 text-center">REPORTS</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 box-max-width mx-auto">
                <div class="thumbnail">
                    <a href="#" [routerLink]="['/ap/training/certificate']">
                        <span class="icon-candidate-certificate"></span>
                        <div class="caption">
                            <p class="pt-2 text-center">CANDIDATE CERTIFICATE</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 box-max-width mx-auto">
                <div class="thumbnail">
                    <a href="#">
                        <span class="icon-traning-module-contain"></span>
                        <div class="caption">
                            <p class="pt-2 text-center">TRAINING MODULE CONTENT</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 box-max-width mx-auto">
                <div class="thumbnail">
                    <a href="#">
                        <span class="icon-exam-question-bank"></span>
                        <div class="caption">
                            <p class="pt-2 text-center">EXAM QUESTION BANK</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 box-max-width mx-auto">
                <div class="thumbnail">
                    <a href="#">
                        <span class="icon-exam-schedule"></span>
                        <div class="caption">
                            <p class="pt-2 text-center">EXAM SCHEDULE</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 box-max-width mx-auto">
                <div class="thumbnail">
                    <a href="#">
                        <span class="icon-exam-question-settings"></span>
                        <div class="caption">
                            <p class="pt-2 text-center">EXAM QUESTION SETTINGS</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>