<div class="container">
  <div class="my-5">

    <h1 class="page-title">Question Per Module</h1>

    <div class="row">
      <div class="col-md-6">
        <div class="button-row">
          <button mat-raised-button color="primary" (click)='add()'>
            <i class="fa fa-plus" aria-hidden="true">Add New</i>
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <mat-form-field class="float-right" style="width: 100%">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput (keyup)="filter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </div>
    </div>

    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%">
      <ng-container matColumnDef="sl">
        <th mat-header-cell *matHeaderCellDef> SL# </th>
        <td mat-cell *matCellDef="let row; let i = index" class="text-align:center"> {{ (i+1)+(pageSize*(pageIndex-1))
          }} </td>
      </ng-container>

      <ng-container matColumnDef="examSettingId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Exam Setting Id</th>
        <td mat-cell *matCellDef="let element"> {{element.examSettingId}} </td>
      </ng-container>

      <ng-container matColumnDef="moduleName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Module Name</th>
        <td mat-cell *matCellDef="let element"> {{element.module.moduleName}} </td>
      </ng-container>

      <ng-container matColumnDef="numberOfQuestion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Number Of Question</th>
        <td mat-cell *matCellDef="let element"> {{element.numberOfQuestion}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>

        <td mat-cell *matCellDef="let element">
          <mat-icon [hidden]="!element.status" color="primary"> check</mat-icon>
          <mat-icon [hidden]="element.status" color="warn">close</mat-icon>
      </ng-container>

      <ng-container matColumnDef="createdOn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created </th>
        <td mat-cell *matCellDef="let element"> {{ dataService.utc_to_local_time(element.createdOn,
          dataService.DATEFORMAT)}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element; let row; let i = index">
          <button mat-icon-button color="primary" (click)='edit(element.Id)'>
            <mat-icon aria-label="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)='delete(element.id)'>
            <mat-icon aria-label="Edit"><i class="fa fa-trash" aria-hidden="true"></i></mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageChange($event)">
    </mat-paginator>
  </div>
</div>