<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm">
    <div class="col-12">
      <h3>Eligibility criteria</h3>
    </div>
  </header>
</section>
<!-- End Page Title -->

<div class="container">
    <div class="my-5">
      <!-- <h5>Eligibility Criteria</h5> -->

     <div>
        <button mat-raised-button color="primary" type="button" class="btn btn-sm mb-2" (click)='add()'><i class="fa fa-plus" aria-hidden="true" > <span> Add New Criteria</span></i></button>
     </div>
      <div class="table-responsive">
        <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 tbl-eligibility-criteria" style="width: 100%;min-width: 550px;">

            <!-- 'minimumAge', 'maximumAge', 'isExAgent', 'isInvolved', 'hasCriminalOffence', 'minTotalScore', 'status'  -->
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
          <ng-container matColumnDef="sl">
              <th mat-header-cell *matHeaderCellDef> SL# </th>
              <td mat-cell *matCellDef="let row; let i = index" class="text-align:center"> {{i+1}} </td>
          </ng-container>
          <ng-container matColumnDef="minAge">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Min Age </th>
            <td mat-cell *matCellDef="let element"> {{element.ageCriteria.minAge}} </td>
          </ng-container>
      
          <ng-container matColumnDef="maxAge">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Max Age </th>
            <td mat-cell *matCellDef="let element"> {{element.ageCriteria.maxAge}} </td>
          </ng-container>

          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Min Education Level </th>
            <td mat-cell *matCellDef="let element"> {{element.educationCriteria.title}} </td>
          </ng-container>
      
          <ng-container matColumnDef="isExAgent">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ex-Agent </th>
            <td mat-cell *matCellDef="let element" > <input type="checkbox" [checked]='element.isExAgent' disabled/></td>
          </ng-container>

          <ng-container matColumnDef="isInvolved">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Association With Organisation </th>
              <td mat-cell *matCellDef="let element"> <input type="checkbox" [checked]='element.isInvolved' disabled/> </td>
            </ng-container>
      
        
          <ng-container matColumnDef="hasCriminalOffence">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Criminal Offence </th>
            <td mat-cell *matCellDef="let element"> <input type="checkbox" [checked]='element.hasCriminalOffence' disabled/> </td>
          </ng-container>

          <ng-container matColumnDef="minTotalScore">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Minimum Score </th>
              <td mat-cell *matCellDef="let element"> {{element.minTotalScore}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let element; let row; let i = index"> 
              <input type="checkbox" [(ngModel)]='element.status' (change)='change_status(i, element)'/>
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element; let row; let i = index" style="min-width: 86px;"> 
                  <button type="button" class="btn btn-sm btn-primary mr-1" (click)='edit(element.eligibilityCriteriaId, i)'><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                  <button type="button" class="btn btn-sm btn-danger mr-1" (click)='delete(element.eligibilityCriteriaId, i)'><i class="fa fa-trash" aria-hidden="true"></i></button>
            
              </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>

</div>