<div class="row">
  <div class="col-12 col-xl-8 mx-auto pt-5 pb-5">
    <div class="row">
      <div class="col-sm-4 box-max-width mx-auto">
        <div class="thumbnail">
          <a href="javascript:void(0)">
            <span class="icon-reports"></span>
            <div class="caption">
              <p class="pt-2 text-center">REPORTS</p>
            </div>
          </a>
        </div>
      </div>
      <div style="cursor: pointer;" class="col-sm-4 box-max-width mx-auto" [routerLink]="['/ap/certificate-list']">
        <div class="thumbnail">
          <a href="javascript:void(0)">
            <span class="icon-traning-module-contain"></span>
            <div class="caption">
              <p class="pt-2 text-center">CANDIDATE CERTIFICATE FEES STATUS</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-4 box-max-width mx-auto">
        <div class="thumbnail">
          <a href="javascript:void(0)">
            <span class="icon-candidate-certificate"></span>
            <div class="caption">
              <p class="pt-2 text-center">COLLECTIONS USERS STATUS</p>
            </div>
          </a>
        </div>
      </div>


    </div>
  </div>

</div>