// Reset
// --------------------------------------------------
body,
html {
    height: 100%;
    font-size: $browsing-context;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    font-family: $ml-font-family-sans-serif !important;
}

body {
    font-display: optional;
    @include media-breakpoint-down(lg) {
        font-size: 12px;
    }
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}
img {
    max-width: 100%;
    border: 0;
}
.modal-content {
    display: block;
}
.swal2-cancel {
    margin-right: 10px;
}
.page-header h3{
    font-family: $ml-headings-font-family !important;
    @include media-breakpoint-down(sm) {
        font-size: 18px;
    }
}
h3, .h3 {
    @include media-breakpoint-down(sm) {
        font-size: 16px;
        font-weight: bold;
    }
}
input, button, select, optgroup, textarea {
    max-width: 100%;
}
.table-responsive {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);

    .table {

        th, td {
            vertical-align: middle;
        }
    }
}
.profile-creation {

    &__photo {
        box-shadow: 0 0 10px 2px #ddd;
    }
}
@include media-breakpoint-down(sm) {
    .modal-dialog.custome-modal {
        margin: 0.5rem auto;
        max-width: 96vw;
    }
}
.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 14px 0 8px!important;
 }
    .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: translateY(0%)!important;
}
.btn:disabled{
    cursor:not-allowed;
}
.mat-select-value{
    font-size: 14px!important;
}
.mat-form-field-label{
    font-size: 14px!important;
}
.mat-form-field-appearance-outline .mat-form-field-label {
    @include media-breakpoint-up(xl) {
        margin-top: 0.2em;
    }
}
.ui-selected >.ui-resizable-e, .ui-selected >.ui-resizable-w, .ui-selected >.ui-resizable-n, .ui-selected >.ui-resizable-s,
.ui-selected >.ui-resizable-se, .ui-selected >.ui-resizable-sw, .ui-selected >.ui-resizable-ne, .ui-selected >.ui-resizable-nw{
    width: 10px!important;
    height: 10px!important;
    border-radius: 50%!important;
    background: #f2f2f2!important;
}
.ui-selected >.ui-resizable-n, .ui-selected >.ui-resizable-s{
     left: 50%!important;

}
.ui-selected >.ui-resizable-e, .ui-selected >.ui-resizable-w{
 top: 49%!important;
}
.ui-selected >.ui-resizable-se{
    right: -5px!important;
    bottom: -5px!important;
}
//form-check-reset
.form-check-input {
     margin-left: 0; 
}
//mat form label transelate updated
.mat-form-field-appearance-legacy .mat-form-field-label {
    border: $blue;
    -webkit-transform: translateY(-1.2em) scale(0.75) perspective(100px) translateZ(0.001px)!important;
    transform: translateY(-1.2em) scale(0.75) perspective(100px) translateZ(0.001px)!important;
}