<section class="container-fluid bg-grey">
  <header class="row page-header page-header--sm ">
    <div class="col-12">
      <h3>{{ title }}</h3>
    </div>
  </header>
</section>

<section class="container dashboard-login">
  <div class="row" *ngIf="errorMessage">
    <div class="col">
      <div class="notice notice--danger">
        <strong>Notice</strong>
        {{ errorMessage }}
      </div>
    </div>
  </div>
  <div class="row" *ngIf="successMessage">
    <div class="col">
      <div class="notice notice--success">
        <strong>Notice</strong>
        {{ successMessage }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <form class="needs-validation login__frm" novalidate>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Email"
            [(ngModel)]="email"
            name="email"
            readonly="readonly"
          />
        </div>
        <div
          class="form-group"
          *ngIf="!changePassword && !defaultPasswordChange()"
        >
          <input
            type="text"
            class="form-control"
            placeholder="OTP Code"
            [(ngModel)]="otpCode"
            name="otpCode"
          />
        </div>
        <div
          class="form-group"
          *ngIf="
            (changePassword && !this.hasQueryString()) ||
            defaultPasswordChange()
          "
        >
          <input
            type="password"
            class="form-control"
            placeholder="Current Password"
            [(ngModel)]="currentPassword"
            name="currentPassword"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            placeholder="New Password"
            [(ngModel)]="newPassword"
            name="newPassword"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            placeholder="Confirm Password"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
          />
        </div>
        <div class="form-group d-flex">
          <button
            type="button"
            class="btn btn-primary col mr-2"
            (click)="change()"
          >
            Change
          </button>
          <!--
            <button type="button" class="btn btn-primary col " (click)="reset()">Reset</button>
          -->
          <button
            type="button"
            class="btn btn-primary col ml-2"
            (click)="resendOTP()"
            [disabled]="coundDown > 0"
            *ngIf="!changePassword"
          >
            Resend OTP
            <span *ngIf="showCountDown">
              ({{ counDownDate | date: 'mm:ss' }})
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
